.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.header {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.infoSubtitles {
  display: flex;
  gap: 8px;
}

.iconLabel {
  display: flex;
  gap: 2px;
  align-items: center;
}

.infoSection {
  display: flex;
  gap: 8px;
}

.infoSection > div {
  width: 25%;
}

.infoSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoSectionText {
  margin-left: 22px;
}

.infoSectionValue {
  flex: 1;
  align-content: center;
}
