.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.feed {
  padding: 16px 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.headerSecondRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.leftHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.leftHeader > button {
  padding: 0;
  height: 18px;
}

.leads {
  display: flex;
}

._top_filters {
  display: flex;
  align-items: center;
}

._top_filters > button {
  display: flex;
  font-size: 11px;
}

._lead_multiselect {
  margin-right: -10px;
}

._lead_multiselect > div > div {
  width: auto;
  margin-right: -10px;
}

._lead_multiselect > svg {
  margin-right: -4px;
}

._lead_multiselect > div > div > input {
  color: var(--bloobirds) !important;
  max-width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  height: 22px;
}

._lead_multiselect > div > div > svg {
  display: none;
}

._lead_multiselect input {
  box-shadow: none;
}

._lead_multiselect_header {
  margin-left: 16px;
}

.no_results {
  height: 86%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton {
  padding: 15px 15px 0 15px;
}

.past_activity_feed_container {
  overflow: scroll;
  flex: 1;
  box-sizing: border-box;
}

.suggestionsButton {
  background: var(--lightestPurple) !important;
  border: 1px solid var(--lightPurple) !important;
  border-radius: 4px;
  padding: 2px 6px !important;
  margin-left: 4px !important;
}

._no_results_container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
