._date__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.modal {
  width: 300px !important;
  background-color: var(--white);
}

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 16px 24px;
  padding-top: 0;
}

.customButton {
  margin-top: 8px;
  justify-content: center;
}

.shortcuts {
  display: grid;
  grid-auto-flow: row;
  row-gap: 4px;
  margin-bottom: 4px;
}
