._wrapper {
  padding-bottom: 10px;
}

._container {
  border-radius: 4px;
  border: 1px solid var(--verySoftPeanut);
  display: flex;
  background-color: var(--white);
}

._column {
  white-space: nowrap;
}

._first_column {
  width: 104px;
  border-right: 1px solid var(--verySoftPeanut);
}

._first_column > ._row {
  justify-content: flex-start;
}

._row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-top: 1px solid var(--verySoftPeanut);
  height: 20px;
}

._row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  height: 20px;
}

._row:nth-child(1) {
  border: 0;
}

._row > button {
  margin-right: 4px;
}

._row > button:nth-child(2) {
  margin-right: 0;
}

._scrollable {
  width: calc(100% - 178px);
  overflow: hidden;
  cursor: ew-resize;
}

._scrollable > ._column {
  width: inherit;
  border: 0;
}

.custom_tasks_dropdown_task_icon{
  justify-content: center;
  display: flex;
  align-items: center;
}

.custom_tasks_dropdown {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 4px;
}
.custom_tasks_dropdown_task{
  display: flex;
  box-sizing: border-box;
  gap: 4px;
}

._marker {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1px dashed var(--softPeanut);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
}

._hover_cursor {
  cursor: pointer;
}

._marker_phone_call {
  border-color: var(--melon);
  color: var(--melon);
}

._marker_email,
._marker_automated_email {
  border-color: var(--tangerine);
  color: var(--tangerine);
}

._marker_linkedin_message {
  border-color: var(--darkBloobirds);
  color: var(--darkBloobirds);
}
._marker_custom_task {
  border-color: var(--bloobirds);
  color: var(--bloobirds);
}
