.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 8px 0;
}

.trigger {
  padding: 8px 0 8px 24px;
  display: flex;
}

._status__header {
  width: 40px;
}

.trigger > p:not(:last-child) {
  margin-right: 4px;
}

._content_action {
  display: flex;
  align-items: center;
}

._content_action > p {
  margin-right: 4px;
}

._connection__arrow {
  margin: 0 8px;
}

.card {
  margin: 16px 0;
}

.inlineForm {
  display: flex;
  align-items: center;
}

.inlineForm > p:not(:last-child) {
  margin-right: 8px;
}

.inlineForm > p:not(:first-child) {
  margin-left: 8px;
}

.formArrow {
  margin: 0 24px;
}

.newAction {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButton {
  margin: 16px 0;
}

._content_container {
  display: flex;
  flex-direction: column;
}

._no_results__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 216px 227px 263px 227px;
}
._no_results__img {
  align-self: center;
}

._table__card {
  height: 64px;
  padding: 8px 8px 8px 16px;
}

._table__header > tr > td:first-child > p {
  padding-left: 24px;
}
