.anchorButton {
  border: 1px solid var(--lightPurple) !important;
  color: var(--purple);
}

.anchorButton svg > path {
  fill: var(--purple);
}

.left_bar_tooltip {
  height: fit-content;
  background-color: var(--verySoftPurple);
}

.title {
  margin: 14px 8px 10px;
}

.footerButton {
  font-size: 12px;
  padding: 2px 8px;
}

.mainButton {
  float: right;
  display: flex;
  gap: 4px;
  align-items: center;
}

.secondaryButton {
  background-color: transparent;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.image > img {

  max-width: 180px;
  margin: 16px 0;
}

.mainButton:hover {
  background-color: white !important;
  opacity: 0.9;
}

.footer {
  margin: 16px 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}
