._select_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

._select_container > div > div {
  height: 24px;
}

._select_wrapper {
  margin-left: 137px;
}

._relative_date_picker > div > div {
  width: 260px;
}

._input_picker_text_wrapper {
  margin: 0 10px 0 8px;
  align-self: center;
}

._text_field_wrapper {
  margin-left: 16px;
}

._input_warning > div > input {
  border: 1px solid var(--tomato);
}

._wrong_field_alert {
  margin: 4px 12px;
  align-self: center;
}

._date_time_picker_wrapper > div {
  margin-left: 50px;
}

._input_picker_range_wrapper {
  display: flex;
  flex-direction: row;
  margin: 10px 12px;
}

._button_container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  align-self: center;
}

._clear_button {
  display: flex;
}

._select_container > *:nth-child(2) {
  margin-left: 16px;
}

._clear_properties_wraper {
  display: flex;
  flex-direction: column;
}

._content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

._radio_modal_title {
  width: 100%;
  align-self: center;
  margin-bottom: 8px;
}

._radio_modal_date_picker {
  margin-bottom: 16px;
}

._radio_modal_select {
  margin-bottom: 16px;
}

._radio_modal_radio_group > * {
  margin-bottom: 8px;
}

._radio_modal_item > div {
  width: 262px;
  margin-bottom: 8px;
}

._conditions_selector_item {
  white-space: break-spaces;
}

._input_picker_wrapper {
  display: flex;
  align-self: center;
  margin-bottom: 16px;
}

._input_picker_wrapper > div > div {
  width: 260px;
}

._radio_option {
  width: 262px;
  display: flex;
  flex-direction: column;
}

._radio_modal_radio_group {
  width: 262px;
}

._radio_group > div > *:not(:last-child) {
  margin-bottom: 16px;
}
