._wrap {
  width: 360px;
  padding: 20px;
  min-height: 200px;
  max-height: calc(100vh - 120px);
  /*overflow: auto;*/
}

._header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 0 12px;
}

._radio_text {
  letter-spacing: 0.5px;
  margin: 0;
}

._header_separator {
  margin-top: 8px;
}
