._container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  z-index: 102;
}

._minimizedModal__container {
  height: 40px;
  border-radius: 8px 8px 0 0;
  padding: 0 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

._minimizedModal__container:last-child {
  margin-right: 12px;
}

._minimizedModal__container button:first-of-type {
  margin-right: 4px;
  margin-left: 2px;
}

._minimizedModal__container p {
  margin-right: 4px;
}

.email {
  background-color: var(--tangerine);
}

.meeting,
.calendarMeeting {
  background-color: var(--softTomato);
}

.note {
  background-color: var(--banana);
}

.task {
  background-color: var(--softBloobirds);
}
