.seekBar {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  transition: all 0.2s ease;
}

.seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1px;
  height: 6px;
}

.seekBarContainer {
  display: flex;
  flex-direction: column;
}

.text {
  padding-left: 2px;
}
