.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 24px 0 24px;
  box-sizing: border-box;
  gap: 8px;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.titleHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
  padding-bottom: 16px;
}

.divider {
  width: 100%;
  text-align: center;
  border-top: 1px solid #D4E0F1;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  justify-content: space-between;
}

.form {
  position: relative;
  padding: 16px 8px 30px 8px;
}

.form input {
  box-shadow: none !important;
  height: 16px;
  padding-left: 0;
}

.formFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
}

.formFooterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.formFooterRowLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

