._section__wrapper {
  margin-bottom: 24px;
}

._content__wrapper {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

._lead_info_container {
  width: 200px;
  margin: 0 auto;
}

._name__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

._name__wrapper > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 12px;
  max-width: 200px;
}

._name__wrapper > svg {
  margin-right: 4px;
}

._currentStatus__wrapper {
  margin-bottom: 24px;
}

._currentStatus__wrapper > div {
  padding: 4px 16px;
  text-align: center;
  opacity: 0.5;
}

._change_lead_status__wrapper {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._change_status__wrapper {
  width: 100%;
}

._list_status {
  /* margin: auto; */
}

._list_status > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-items: center;
}

/*._status_wrapper {*/
/*  cursor: pointer;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin: 8px 0;*/
/*  box-sizing: border-box;*/
/*}*/

._status_wrapper {
  margin-bottom: 24px;
}

._status_wrapper > div {
  padding: 4px 16px;
  text-align: center;
  opacity: 0.5;
}

._list_status > div > div,
._status_wrapper > div {
  width: 200px;
}

._radios_list_status {
  width: 420px;
}

._radios_list_status > div > div {
  letter-spacing: 0;
  margin-bottom: 10px;
  padding: 6px 12px;
}

._title__wrapper {
  margin-bottom: 15px;
}

._title__wrapper__centered {
  display: flex;
  justify-content: center;
}

._reason__wrapper {
  width: 50%;
}

._buttons__wrapper {
  display: flex;
  width: 100%;
}

._buttons__wrapper > button:nth-child(2) {
  margin-left: auto;
  margin-right: 16px;
}

._warning__banner {
  background-color: var(--verySoftBanana);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
}

._status {
  width: 100%;
  display: flex;
  flex-direction: column;
}

._status_left {
  width: 200px;
  padding-right: 20px;
  box-sizing: border-box;
}

._status_right {
  width: 200px;
  padding-left: 20px;
  box-sizing: border-box;
}

._status_center_solo {
  box-sizing: border-box;
  width: 200px;
}

._list_status > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

._list_status > div > div,
._currentStatus__wrapper > div {
  width: 200px;
}

.label {
  padding: 4px 16px;
  min-height: 0;
  color: var(--softPeanut);
  background-color: var(--lightestBloobirds);
  border: 1px solid;
  border-color: var(--lightestBloobirds);
  border-radius: 4px;
  font-family: var(--fontFamily);
  font-weight: var(--fontMedium);
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 50%;
}

.label:hover {
  cursor: pointer;
  opacity: 100%;
}

.selected {
  opacity: 100%;
  box-shadow: 0px 0px 4px var(--verySoftPeanut);
  border-color: var(--verySoftPeanut);
}

.selected:hover {
  cursor: pointer;
}
