.formField {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.formField input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.button {
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.button:not(:last-of-type) {
  margin-right: 10px;
}

.rule {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.ruleTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

