.clear_button {
  border-color: var(--white);
}

.discovery_tooltip {
  margin-left: 8px;
}

.image {
  margin-bottom: -42px;
}

._home_filters_tooltip {
  position: relative;
  top: 25px;
  left: 55px;
}

._lone_button {
  width: 268px;
}

._info_anchor {
  margin: 0 0 3px 3px;
}

._home_filters_image {
  margin-bottom: -111px;
}

._target_markets_img {
  margin-top: -8px;
}

._start_cadence_tooltip > div {
  width: 100%;
}

._start_cadence_tooltip_content > div:first-child {
  width: 160px;
}

._mark_as_done_tooltip_content > div:first-child {
  width: 230px;
}

._buyer_personas_img {
  margin-top: -8px;
}

._filters_colums_tooltip {
  position: relative;
  right: 70px;
}
