.container {
  border: 1px solid #9acfff;
  box-sizing: border-box;
  box-shadow: 0 2px 20px rgb(25 145 255 / 15%);
  border-radius: 8px;
  background-color: white;
  width: 320px;
  animation: floatingMenu-module_popup__v8iVF 150ms ease-in-out;
  display: inline-block;
  position: relative;
  pointer-events: all;
}

@media (min-height: 660px) {
  .container > div:nth-child(2) {
    height: 550px !important;
    max-height: 554px;
  }
}

@media (max-height: 660px) {
  .container {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
  }

  .container > div:nth-child(2) {
    height: 100%;
    max-height: 554px;
  }

  .editor {
    flex: 1;
    overflow-y: auto;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.body_wrapper {
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  max-height: 416px;
}

.body_wrapper > div > div ul {
  padding-left: 24px !important;
}

.body_wrapper > div > div ol {
  padding-left: 24px !important;
}

.bottom_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.text {
  margin-left: 4px;
}

.editor {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
}

.dragging {
  pointer-events: unset;
}

.divider {
  width: 90%;
  text-align: center;
  border-top: 1px solid var(--verySoftPeanut);
  align-self: center;
}

.record_related {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 8px;
  overflow: hidden;
}

.record_related > * {
  width: 100%;
}

.toolbar {
  border-top: 1px solid var(--verySoftPeanut);
  border-bottom: 1px solid var(--verySoftPeanut);
}

.mainNote {
  margin-right: 4px;
}

.bottom_bar_right {
  display: flex;
  align-items: center;
}

h2 {
  margin: 0px;
}
