._box__container {
  width: 220px;
  height: 200px;
  margin: 0 10px;
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--verySoftBloobirds);
}

._box__container__checked {
  border: 1px solid var(--softBloobirds);
  background-color: var(--veryLightBloobirds);
}

._logo {
  width: 35px;
  height: 35px;
}

._name__container {
  padding: 8px 18px;
}

._text__container {
  padding: 8px 18px;
  text-align: center;
}

._title__container {
  display: flex;
  align-items: center;
}

._title__container > svg {
  margin-right: 4px;
}

._bobject_selector_wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
