._more_options__container {
  z-index: 999;
  display: inline-block;
}

._tag__container {
  margin-right: 8px;
}

._tag_expanded__container {
  margin-top: 4px;
  margin-bottom: 4px;
}

._expanded_tags_container {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
}

.row {
  border-radius: 4px;
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  white-space: nowrap;
}

.row:hover {
  cursor: pointer;
}

.row:hover * {
  visibility: visible !important;
}

.row:first-child td:first-child {
  border-top: 1px solid var(--softGray);
  border-left: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-top-left-radius: 4px;
}

.row:first-child td:last-child {
  border-top: 1px solid var(--softGray);
  border-right: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-top-right-radius: 4px;
}

.row:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.row:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.row td:first-child {
  border-top: 1px solid var(--softGray);
  border-left: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-bottom-left-radius: 4px;
}

.row td:last-child {
  border-top: 1px solid var(--softGray);
  border-right: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-bottom-right-radius: 4px;
}

.row td:not(first-child),
.row td:not(last-child) {
  border-top: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
}
