
.copy_component {
  display: flex;
  align-self: flex-start;
}

.copy_component > * > button {
  align-self: flex-start;
}

.link_copy_component {
  height: 20px;
}

.link_copy_component > * > button {
  align-self: center;
}

.copy_icon {
  margin-left: 6px;
  opacity: 0;
}

.show_icon {
  opacity: 100;
}
