/* Card */

/* Card Left */
._icons {
  flex-shrink: 0;
  margin-right: 9px;
}

._icons > svg {
  margin-right: 2px;
}

._title {
  flex-shrink: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

._bobject_name {
  flex-shrink: 1;
  font-size: 14px;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

._separator {
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background-color: var(--softPeanut);
}

._country {
  margin-right: 8px;
  flex-shrink: 0;
}

/* Card Right */
._mr_rating,
._status,
._date,
._overdue {
  font-size: 13px;
  margin-left: 8px;
  flex-shrink: 0;
}

._date {
  margin-left: 20px;
}
/* END - Card */

/* Content */
._inactive_page_wrapper {
  height: auto;
  padding-bottom: 30px;
}

._status_wrapper {
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
  flex-shrink: 0;
}

._url_wrapper {
  font-size: 14px;
  flex-shrink: 1;
  min-width: 0;
}

._name_container {
  font-size: 13px;
  flex-shrink: 1;
  min-width: 0;
  margin-right: 8px;
}

._text_wrapper {
  flex-shrink: 0;
  margin-right: 16px;
  font-size: 13px;
}

._buyer_persona_wrapper {
  flex-shrink: 0;
  margin-right: 16px;
}

._source_wrapper {
  flex-shrink: 0;
  margin-right: 8px;
}

._date_wrapper {
  display: flex;
  margin-right: 18px;
  width: 140px;
  justify-content: flex-end;
}

._filters__title {
  margin-right: 12px;
}

._icon_wrapper {
  margin-right: 8px;
}

._clear_wrapper {
  width: 85px;
  display: flex;
}

._clear_wrapper > button {
  padding-bottom: 0;
  padding-top: 0;
}

._list_wrapper {
  animation: fade-in 250ms ease-in-out forwards;
  animation-delay: 200ms;
}

._check_wrapper > div > span {
  margin-right: 0;
}

._select_all_wrapper {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._message {
  background-color: #ebf0f7;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

._button_wrapper {
  margin-left: 4px;
  display: inline;
}

._link:hover {
  cursor: pointer;
}

._hidden {
  visibility: hidden;
  height: 0;
}
._filter_container {
  height: 100px;
  transition: height 0.3s ease;
  overflow: hidden;
  justify-content: center;
}

._filter_container > * {
  transform: translate(0px, 0px);
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

._transition {
  height: 0;
}

._transition > * {
  transform: translateY(-100px);
}

._more_filter_input {
  background: var(--white);
  border: 1px solid var(--softPeanut);
  box-sizing: border-box;
  border-radius: 4px;
  width: 120px;
  padding: 1px 8px;
  font-size: 12px;
  color: var(--softPeanut);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 2px;
}

._list_container {
  margin-top: 30px;
}

._assigned_circle {
  display: flex;
  align-items: center;
  margin-right: 8px;
  flex-shrink: 0;
}

@media screen and (max-width: 1078px) {
  ._text_wrapper {
    margin-right: 12px;
  }
}

@media screen and (max-width: 925px) {
  ._filter_container {
    height: 125px;
    transition: height 0.3s ease;
    overflow: hidden;
    justify-content: center;
  }

  ._filter_container > * {
    transform: translate(0px, 0px);
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  ._transition {
    height: 0;
  }
  ._transition > * {
    transform: translateY(-125px);
  }
}
@media (max-width: 1150px) {
  ._s_hidden {
    display: none;
  }
}

@media (max-width: 1550px) {
  ._m_hidden {
    display: none;
  }
}

@media (max-width: 1700px) {
  ._l_hidden {
    display: none;
  }
}
