._header_right_content {
  display: flex;
  flex: 1;
  align-items: center;
}

._header_right_content__end {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

._header_right_content_left_align {
  margin-left: 16px;
}

._button_spinner {
  height: 16px;
}

._startTaskSettings {
  margin-left: 8px;
}
