.floatingNotifications {
  position: fixed;
  top: 96px;
  left: 0;
  right: calc(-100% + 425px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  gap: 8px;
}

.floatingNotification {
  position: relative;
  width: 401px;
  height: 96px;

  background: #FFFFFF;
  border: 1px solid #9ACFFF;
  box-shadow: 0px 0px 8px rgba(123, 191, 254, 0.25);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  padding: 16px 24px;
  z-index: 1000;
  pointer-events: all;

  font-size: 13px;
}

.floatingNotificationProgressBar {
  height: 24px;
  width: 100%;
  background: #8fc6fa;
  mix-blend-mode: normal;
  border-radius: 4px;
  position: relative;
}

.floatingNotificationTitleText {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: var(--peanut);
}

.floatingNotificationProgress {
  position: relative;
}

.floatingNotificationProgressBarFill {
  position: absolute;
  left: 0;
  height: 100%;
  background: #1991FF;
  border-radius: 4px;
}

.floatingNotificationProgressText {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.floatingNotificationProgressStopBox {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 2px;
  right: 8px;
}

.floatingNotificationClose {
  position: absolute;
  right: 8px;
  top: 6px;
}

.hideProgress {
  display: none;
}

.completed {
  background: #63BA00;
}

.stopped {
  background: var(--tangerine);
}
