.root {
  position: relative;
}

.card {
  height: auto;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(25, 145, 255, 0.08);
  margin-bottom: 8px;
  display: flex;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card:focus {
  outline: none !important;
}

.styleOnDrag {
  background-color: var(--lightBloobirds) !important;
  box-shadow: none !important;
}

.cardDragIndicator {
  width: 60px;
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.cardTitle {
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  line-height: 1.5;
  color: var(--bloobirds);
  cursor: pointer;
}

.cardLeftSide {
  margin: 16px 0;
  flex-grow: 1;
}

.cardRightSide {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 20px 20px;
  grid-column-gap: 10px;
  grid-row-gap: 4px;
  margin: 20px 0;
}

.cardCover {
  height: 80px;
  width: 100%;
  position: absolute;
  background-color: #f0f4f6;
  z-index: 99;
  top: 0;
}

.assignedAvatar {
  display: inline-flex;
  width: 24px;
  height: 24px;
  font-size: 14px;
}

.assignedAvatar > div {
  font-size: 14px !important;
  width: 24px;
}

.selectedCounter {
  position: absolute;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--bloobirds);
  height: 16px;
  width: 16px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.selectedCounter > * {
  margin-top: 4px;
}

.pill {
  margin-right: 10px;
  display: inline;
}

.subTitle {
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: 0.8px;
  color: var(--softPeanut);
}

.companyToAssignList {
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 267px);
}

.companyToAssignListOutOfFocus {
  opacity: 0.32;
}

.companyToAssignListTransition {
  transition: opacity 200ms;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.listHeaderLeft {
  display: flex;
}

.listHeaderRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationIndicator {
  color: var(--softPeanut);
  font-size: 13px;
  margin: auto;
  font-weight: normal;
  line-height: 1.23;
  margin-right: 10px;
}

.deselect {
  color: var(--bloobirds);
}

.deselect:hover {
  background-color: var(--veryLightBloobirds);
}

.deselectIcon {
  font-size: 20px;
  margin: -1px 4px 0 0;
}

.checkBox {
  color: var(--lightBloobirds);
}
