._banner_wrapper {
  position: relative;
  padding: 21px 0;
  background-color: var(--verySoftPurple);
}

._banner_wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  border-left: 9999px solid var(--verySoftPurple);
  box-shadow: 9999px 0 0 var(--verySoftPurple);
}

._banner_content {
  width: 100%;
  margin: 0 auto;
  padding-left: 32px;
  z-index: 1;
  position: relative;
}

._title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

._title_wrapper > svg,
._and_wrapper {
  margin-left: 4px;
}

._content_wrapper {
  margin-bottom: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
}

._criteria_wrapper {
  display: flex;
  align-items: center;
}

._criteria_wrapper > div {
  margin-left: 4px;
}
