._notes__box > div {
  justify-content: center;
  border-radius: 3px 3px 0 0;
}

._notes__box {
  border: 1px solid var(--softPeanut);
  border-radius: 4px;
  margin-top: 4px;
}

._notes__container {
  margin-top: 16px;
}

._notes_content {
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
