@keyframes bounce {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 320px;
    opacity: 1;
  }
}

.extended {
  position: absolute;
  height: 100%;
  width: 337px;
  background-color: var(--white);
  top: 0;
  left: -336px;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px rgba(25, 145, 255, 0.15);
  border: 1px solid #9acfff;
  border-right: 0;
  box-sizing: border-box;
}

.extended::after {
  width: 6px;
  border-top: 1px solid #9acfff;
  border-bottom: 1px solid #9acfff;
  background-color: var(--white);
  z-index: -1;
  content: '';
  right: -6px;
  position: absolute;
  height: calc(100% + 1px);
  top: -0.5px;
}

.extended_sidePeek {
  position: absolute;
  height: 100%;
  width: 390px !important;
  background-color: var(--white);
  top: 0;
  left: -390px;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px rgba(25, 145, 255, 0.15);
  border: 1px solid #9acfff;
  border-right: 0;
  box-sizing: border-box;
}

.extended_sidePeek::after {
  width: 6px;
  border-top: 1px solid #9acfff;
  border-bottom: 1px solid #9acfff;
  background-color: var(--white);
  z-index: -1;
  content: '';
  right: -6px;
  position: absolute;
  height: calc(100% + 1px);
  top: -0.5px;
}

.extended_sidePeek_hidden {
  display: none;
}

.extendedRight {
  position: absolute;
  height: 100%;
  width: 337px;
  background-color: var(--white);
  top: 0;
  left: -336px;
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px rgba(25, 145, 255, 0.15);
  border: 1px solid #9acfff;
  border-left: 0;
  box-sizing: border-box;
}
.extendedRight::before {
  width: 6px;
  border-top: 1px solid #9acfff;
  border-bottom: 1px solid #9acfff;
  background-color: var(--white);
  z-index: -1;
  content: '';
  left: -6px;
  position: absolute;
  height: calc(100% + 1px);
  top: -0.5px;
}

.header {
  height: 25px;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  box-sizing: content-box;
  align-items: center;
}

.headerRight,
.headerRight * {
  display: flex;
  flex-direction: row-reverse;
}

.headerButtons {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-left: 8px;
  gap: 8px;
}

.aiButton {
  margin: auto;
  background-color: radial-gradient(125.86% 100% at 50% 100%, #DCFFF1 0%, #9ACFFF 9.46%, #5519FF 56.75%);
}

.headerButtons > button {
  font-size: 12px;
  font-weight: 400;
}

.rotate180 {
  transform: rotate(180deg);
}
