._children_lead_container {
  box-sizing: border-box;
  padding: 40px 245px 40px 32px;
}
._checkBox {
  margin-top: 14px;
  max-width: 683px;
}
._checkBox_salesforce {
  max-width: 683px;
}

._children_lead_checkbox {
  box-sizing: border-box;
  padding-top: 20px;
  width: fit-content;
}

._checkBox_hubspot {
  max-width: 908px;
}
._checkBox:first-child {
  margin-top: 0;
}
._checkBox > div:first-child {
  margin-bottom: 10px;
}
._multiselect_object_type {
  box-sizing: border-box;
  padding-top: 8px;
  display: flex;
  align-items: center;
  width: 710px;
}

._multiselect_object_type > * {
  margin-right: 4px;
}
._children_text {
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
  margin-bottom: 24px;
  align-items: center;
}
._children_text > p {
  margin-left: 4px;
}
._divider {
  margin-top: 24px;
  max-width: 908px;
}
._collapsible {
  margin-top: 24px;
}
._collapsible > div > div {
  padding-top: 0;
  margin-bottom: 12px;
}

._collapsible > div > svg {
  margin-top: 4px;
}
._children_multiselect {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 4px;
  margin-bottom: 20px;
}
._children_multiselect > * {
  margin-right: 20px;
}
._info {
  margin-left: 5px;
}
