.header {
  display: flex;
  height: 28px;
  padding: 0 4px;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  align-self: stretch;
  margin-bottom: 8px;

}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 4px;
}

.title > .titleText {
  color: var(--peanut);
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.counter {
  height: 24px;
  min-width: 24px;
  padding: 0 6px;
  border-radius: 12px;
  background: var(--white);
  color: var(--peanut);
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.taskGroup {
  position: relative;
  padding: 2px 2px 38px;
  box-sizing: border-box;
}

.taskGroup:not(:last-child) {
  margin-bottom: 4px;
}

.hoverStyle:hover {
  border-radius: 4px;
  background: var(--Main-bloobirds-lightest, #EDF1F5);
  padding-bottom: 2px;
}

.footer {
  display: none;
  margin-bottom: 4px;
  margin-top: 8px;
}

.taskGroup:hover > .footer {
  display: flex;
  justify-content: center;
}

.taskCard {
  border-radius: 4px;
  border-top: 1px solid var(--Main-peanut-very-light, #E5ECF5);
  border-right: 1px solid var(--Main-peanut-very-light, #E5ECF5);
  border-bottom: 1px solid var(--Main-peanut-very-light, #E5ECF5);
  border-left: 4px solid var(--Main-peanut-very-light, #E5ECF5);
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(25, 145, 255, 0.08);
  width: 100%;
  min-height: 80px;

    position: relative;
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
    cursor: pointer;
  transition: margin-bottom 0.2s ease-in-out;

  margin-bottom: 0;
}

.isExpanded {
    margin-bottom:  4px;
}

.hiddenTaskCard {
  border-radius: 0 0 4px 4px;
  border-right: 1px solid var(--Main-peanut-very-light, #E5ECF5);
  border-bottom: 1px solid var(--Main-peanut-very-light, #E5ECF5);
  border-left: 4px solid var(--Main-peanut-very-light, #E5ECF5);
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(25, 145, 255, 0.08);
  width: 100%;
  height: 8px;
  position: relative;
  margin-top: -2px;
  gap: 4px;
}

.taskCard.overdue {
  border-top: 1px solid var(--verySoftTomato);
  border-right: 1px solid var(--verySoftTomato);
  border-bottom: 1px solid var(--verySoftTomato);
  border-left: 4px solid var(--softTomato);
}

.hiddenTaskCard.overdue {
  border-right: 1px solid var(--verySoftTomato);
  border-bottom: 1px solid var(--verySoftTomato);
  border-left: 4px solid var(--softTomato);
}

.taskCardHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  justify-content: space-between;
}

.taskCardSubtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.taskCardTitle {
    color: var(--peanut);
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    align-self: stretch;
    flex-grow: 1;
}

.customTaskIcon{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.taskCardHeader > .taskCardScheduledDate {
  color: var(--darkBloobirds, #0077B5);
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.taskCardBodyText {
  color: var(--peanut, #464F57);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  max-height: 48px;
  text-overflow: ellipsis;
  overflow-y: hidden;
  white-space: normal;
}

.taskCardBodyText > * {
  font-size: 12px;
}

.bobjectName {
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bobjectName > svg {
  flex-shrink: 0;
}

.bobjectNameText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.taskCardContent {
  width: 90%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-left: 16px;
}

.taskCardRow {
  display: flex;
  align-items: center;
  gap: 4px;
}

.taskCardRow > span {
  flex-grow: 0;
  flex-shrink: 0;
}

.taskCardRowTimezone {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  color: var(--darkBloobirds);
  line-height: 16px;
}

.taskCardIcons {
  display: flex;
}

.bobjectNamesSeparator {
  height: 8px;
  border-right: 1px solid var(--softPeanut);
}

.bobjectNames {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 75%;
}

.taskCardFooter {
  height: 20px;
  overflow: hidden;
  width: 98%;
  margin-top: auto;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.taskCardFooterRight {
  display: flex;
  gap: 4px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.extraFields {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

.extraField {
  display: flex;
  flex: 1;
  align-items: center;
  color: var(--peanut);
  max-width: 100%;
}

.extraField svg {
  flex-shrink: 0;
}

.extraField > div {
  overflow: hidden;
}

.extraField p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.startButton {
  padding: 2px 8px;
  font-size: 11px;
  margin-right: 6px;
}

._time_marker {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

._time_marker_line {
  background-color: var(--tomato);
  height: 1px;
  width: 100%;
}

._time_marker_bullet {
  background-color: var(--tomato);
  width: 9px;
  height: 9px;
  border-radius: 9px;
  display: block;
}

._mark_as_done{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
}


._mark_as_done_text{
    font-size: 12px;
    line-height: 16px;
}

._mark_as_done_text:hover {
  color: #2AA0E0;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.emptyState > h1 {
  font-size: 13px;
  font-style: normal;
  color: var(--peanut, #464F57);
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  letter-spacing: 0.5px;
}

.emptyState > h2 {
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  color: var(--softPeanut, #94A5BA);
  text-align: center;
  margin-top: 2px;
}

.taskCardHeaderLeft{
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.taskCardHeaderRight{
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

._load_tasks_button{
  display: flex;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

