._box__container {
  width: 115px;
  height: 115px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms;
}

._box__container__disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

._checkbox__container {
  margin-left: 5px;
  margin-right: auto;
}

._checkbox__container > div {
  padding: 0;
}
._checkbox__container > div:hover {
  background-color: transparent;
}

._checkbox__container > div > span {
  margin-right: 0;
}

._logo {
  min-width: 30px;
  max-width: 50px;
}

._name__container {
  margin-bottom: 10px;
}
