.container {
  display: inline-block;
}

.image {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 3px;
}

.focused {
  box-shadow: 0 0 0 2px #b4d5ff;
}

.root {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.figure {
  position: relative;
  margin: 0;
}

.handleRight {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  width: 1.5rem;
  height: 100%;
  user-select: none;

  right: -0.75rem;
  padding-right: 0.75rem;
  margin-right: -0.75rem;
  align-items: flex-end;
}

.handleLeft {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  width: 1.5rem;
  height: 100%;
  user-select: none;

  left: -0.75rem;
  padding-left: 0.75rem;
  margin-left: -0.75rem;
}

.handleRight::after,
.handleLeft::after {
  display: flex;
  background-color: #9ca3af;
  content: ' ';
  width: 3px;
  height: 64px;
  border-radius: 6px;
}

.handleRight:focus::after,
.handleLeft:focus::after,
.handleLeft:hover::after,
.handleRight:hover::after,
.handleLeft:active::after,
.handleRight:active::after {
  background-color: #3b82f6;
}
