._filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
}

._filters > div > span {
  font-size: 11px;
  padding: 4px 8px;
  margin-right: 2px;
}

._filters__sidePeek {
  padding: 10px 16px 0 16px;
}

._filters__sidePeek > div > span {
  font-size: 13px;
}

._filters > div:nth-child(2) {
  margin-top: -2px;
}

._lead_multiselect {
  margin-right: -10px;
  display: flex;
  align-items: center;
}

._lead_multiselect > div > div {
  width: auto;
}

._lead_multiselect > svg {
  margin-right: -4px;
}

._lead_multiselect > div > div > input {
  color: var(--bloobirds) !important;
  max-width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
}

._user_filter_anchor{
  display: flex;
  align-items: center;
  margin-right: 4px;
  cursor: pointer;
  gap: 2px;
}

._user_filter_anchor button{
  margin-top: -2px;
}
._search_input{
  padding: 8px;
  margin-bottom: 12px;
}
._search_input fieldset{
  height: auto;
}
._icon{
  position: relative;
}
._filtersTouched::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--verySoftTomato, #FFB2C2);
  border: 1px solid var(--lightestGray, #FBFBFB);
}

.shortened_input > div > div > input {
  max-width: 44px;
  min-width: 10px;
}

._lead_multiselect > div > div > svg {
  display: none;
}

._lead_multiselect input {
  box-shadow: none;
}

._lead_multiselect_header {
  margin-left: 16px;
}

._magic_filter {
  font-size: 11px;
}

._filter_selector_items {
  display: flex;
}

._filter_selector_items > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

._filter_type_item_wrapper > svg {
  flex-shrink: 0;
}
