._input__container {
  margin-bottom: 25px;
}

.__table_container tbody {
  border-left: 0;
  border-right: 0;
}

.__table_container tr {
  box-shadow: none;
}

.__table_container > div {
  margin: -12px -32px -24px -32px;
}

.__table_row__container td {
  min-width: 0;
}

.__edit__button {
  cursor: pointer;
  width: 20px;
}

._link__button {
  cursor: pointer;
  color: var(--bloobirds);
}

._config__account {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

._config__account_name {
  flex-grow: 1;
}

._config__account_status_text {
  margin-right: 12px;
}

._phone_numbers_empty {
  box-sizing: border-box;
  padding: 216px 227px 263px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
._phone_numbers_empty_img {
  margin-bottom: 20px;
}
