.modal {
  background-color: var(--white);
}

.header {
  padding: 24px 24px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  align-self: center;
  width: 283px;
  padding: 0 24px 16px;
}

.content > p {
  padding-top: 16px;
  padding-bottom: 12px;
}

.content > div:first-of-type {
  margin-bottom: 14px;
}

.customButton {
  margin-top: 8px;
  justify-content: center;
}

.timezones {
  padding: 8px 12px;
  background-color: var(--veryLightBloobirds);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 12px -24px;
}

.timezones > * {
  flex-shrink: 0;
}

.shortcuts {
  display: grid;
  grid-auto-flow: row;
  row-gap: 4px;
}

.bulkOptions {
  margin-left: 15px;
  width: 236px;
}
