._container {
  box-sizing: border-box;
  background-color: white;
  justify-content: space-between;
  border-left: 1px solid var(--lightestBloobirds);
  width: 424px;
  display: flex;
  flex-direction: column;
  height: calc(64vh + 80px);
  max-height: 680px;
}

._container_with_attachments {
  height: calc(64vh + 138px);
  max-height: 742px;
}

._container_with_links {
  height: calc(64vh + 141px);
  max-height: 755px;
}

._container_with_links_and_attachments {
  height: calc(64vh + 197px);
  max-height: 813px;
}

._filters_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
}

._filter_item {
  font-size: 13px;
}

._tab_navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 80px;
  margin: 0;
  padding: 24px;
}

._tab_navigator > div:not([class*='smartEmailHelper-module__tab_navigator_item']):first-child {
  display: flex !important;
  align-items: flex-start;
  height: 32px;
}

._tab_navigator
  > div:not([class*='smartEmailHelper-module__tab_navigator_item']):first-child
  button {
  height: 32px;
  width: 32px;
  padding: 0px;
}

._tab_navigator > div:not([class*='smartEmailHelper-module__tab_navigator_item']):first-child svg {
  height: 32px;
  width: 32px;
}

._tab_navigator_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

._tab_navigator_menu_item {
  padding: 1.5px;
  border: 1px solid transparent;
}

._tab_navigator_menu_item_selected {
  border: 1px solid var(--verySoftBloobirds);
  border-radius: 4px;
  background-color: var(--lightBloobirds);
  padding: 0;
}
