.__table_container tbody {
  border-left: 0;
  border-right: 0;
}

.__table_container tr {
  box-shadow: none;
}

.__table_row__container td {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.__table_row__container td:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._section > div {
  margin-left: 0;
  padding-left: 0;
}

._value__tag {
  margin-right: 4px;
  margin-bottom: 4px;
}

.__tags_row__container {
  display: flex;
  flex-wrap: wrap;
}

.__edit__button {
  cursor: pointer;
  width: 20px;
}

.__bobject_text {
  margin-left: 4px;
}

.__fixed__row {
  width: 200px;
}

._number__tags {
  cursor: pointer;
}

._sync_logs_content {
  box-sizing: border-box;
  padding: 216px 227px 263px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
._sync_logs_content_img {
  margin-bottom: 20px;
}
