._email_buttons__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 0;
}

._email_buttons__container > div {
    margin-left: 8px;
}

._email_buttons__container > span {
    margin-right: auto;
}
