._container {
  background-color: var(--peanut) !important;
  color: var(--white) !important;
  font-weight: bold !important;
}

._button {
  font-weight: bold;
  background-color: inherit;
  border: 0;
}
