.filter_relative_date div[role='listbox'] {
  background-color: var(--softPeanut);
  max-width: 210px;
  width: auto;
  padding: 4px 6px;
  max-height: none;
  border: 0;
  box-sizing: border-box;
  height: 24px;
}

.filter_relative_date div[role='listbox'] > button {
  background-color: var(--softPeanut);
  color: white;
}

.filter_relative_date div[role='listbox'] > button > span {
  color: white !important;
}

.filter_relative_date div[role='listbox'] svg > path {
  fill: var(--white);
}

.filter_relative_date div[role='listbox'] > div:first-child > svg {
  margin-bottom: 3px;
}
