._ellipse {
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--lightBloobirds);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 20px;
}

._auth_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._auth_header {
  margin-bottom: 12px;
}

._auth_text {
  max-width: 510px;
  margin-bottom: 18px;
}

._auth_button {
  margin: 28px 0;
}
