._container {
  position: relative;
  margin: 8px 0;
  cursor: pointer;
}

.card_description{
  display: flex;
  gap: 4px;
  padding-top: 12px;
}

._container ._link_wrapper_ml {
  margin-left: 0;
}

._dashed_line {
  position: absolute;
  width: 0;
  height: 8px;
  left: 28px;
  border-left: 1px dashed #c5d1dd;
}

._container:last-child {
  margin-bottom: 16px;
}
