.tab {
  height: 40px;
  width: 220px;
  padding: 0 8px;
  box-sizing: border-box;
  border-left: 1px solid var(--lightBloobirds);
  border-right: 1px solid var(--lightBloobirds);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabName {
  display: flex;
  align-items: center;
  gap: 2px;
}

.relatedCompanies {
  width: 236px;
}

.active {
  background-color: var(--lighterGray);
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(270deg, #43ccf2 0%, #1991ff 100%);
  border-radius: 4px;
  height: 2px;
}

.disabled {
  cursor: default;
}

.text {
  cursor: pointer;
}
