.section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 16px;
}

.item__container {
    transition: width 0.5s;
    width: 206px;
    height: 56px;

    background: var(--lighterGray);
    mix-blend-mode: normal;
    border-radius: 8px;
    flex-grow: 0;
    margin: 4px 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;

    position: relative;
    min-width: 0;
}

.item__container > p {
    margin-left: 8px;
    flex-shrink: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item__container__disabled {
    cursor: default;
    background-color: var(--lightestBloobirds);
}

.item__container__selected {
    width: 220px;
    border-radius: 8px 0 0 8px;
    background-color: var(--lightestGray);
    padding-right: 22px;
}

._counter__container {
    height: 20px;
    width: 20px;
    background-color: var(--lightestBloobirds);
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--peanut);
    justify-content: center;
    flex-shrink: 0;
}

._extra_container {
    margin-left: 4px;
    border-radius: 20px;
    padding: 2px 5px;
    min-width: 10px;
    background-color: var(--lighterGray);
    cursor: default;
    color: var(--softPeanut);
    opacity: 0.4;
    font-size: 9px;
    font-weight: 600;
}

._active_counter {
    background-color: var(--bloobirds);
    color: var(--white);
}

._section_tooltip {
    display: none;
    width: max-content;
    color: var(--peanut);
    background-color: var(--lighterGray);
    border-radius: 5px;

    box-sizing: border-box;

    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;

    position: absolute;
    z-index: 1;

    top: 50%;
    transform: translateY(-50%);
    left: 80px;
}

._section_tooltip::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--lighterGray) transparent transparent;
}

._section_tooltip > p {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    color: var(--peanut);
}

.item__container.isCollapsed {
    width: 74px;
    transition: width 0.5s;
}

.item__container.isCollapsed > p {
    display: none;
}

.item__container.isCollapsed:hover ._section_tooltip {
    display: block;
}

.item__container.isCollapsed.item__container__selected {
    width: 84px;
    transition: width 0.5s;
}

.icon {
    flex-shrink: 0;
}

._icon_reference {
    position: relative;
}
