.window {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    padding: 20px 24px;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.content::-webkit-scrollbar-thumb {
    outline: 1px solid var(--verySoftPeanut);
    border-radius: 3px;
    background-color: var(--verySoftPeanut);
}

.content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer !important;
}

.footer {
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.09);
}

.footerGradient {
  padding: 16px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.09);
  background: linear-gradient(270deg, #43ccf2 0%, #1991ff 100%);
  border-radius: 0 0 4px 4px
}

.header {
    padding-bottom: 8px;
}

.horizontalLine {
    border-top: 1px solid currentColor;
    margin: 40px auto -24px;
    width: 90%;
}

@media (max-height: 660px) {
    .horizontalLine {
        margin-top: 30px;
    }
}

.circularBadge {
    width: 48px;
    height: 48px;
    border: 1px solid currentColor;
    border-radius: 48px;
    box-sizing: border-box;
    padding: 6px 7px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(25, 145, 255, 0.33);
}

