._logoWrapper {
  padding: 40px 20px;
  border-bottom: 1px solid var(--lightBloobirds);
  margin: 0 20px;
  z-index: 100;
}

._birdsMask {
  z-index: 0;
  position: absolute;
}

@media (max-height: 610px) {
  ._birdsMask {
    display: none;
  }
}

._form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-between;
  flex: 1;
  z-index: 100;
}

/* @media (max-height: 610px) {
  ._form {
    overflow: scroll;
    display: block;
  }
} */

/* Linkedin overrides */
._form input {
  margin: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  border: none !important;
  width: 100%;
}

._form input::placeholder {
  color: transparent !important;
}

._form input:focus {
  outline: none !important;
  background-color: transparent;
}

/* Linkedin overrides */
._form label {
  margin: 0 !important;
}

._formTop {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

._logoWrapperSidePeek {
  margin-top: 15%;
}

._formBottom {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

._formBottomSidePeek {
  margin-bottom: 50%;
}

._formTop > div {
  width: 100%;
  margin-bottom: 20px;
  align-self: flex-start;
}

._formBottom button {
  margin-bottom: 10px;
}

._errorWrapper {
  display: flex;
}

._errorWrapper svg {
  width: 38px;
}

._errorWrapper p {
  margin-left: 10px;
}

.external_login {
  display: flex;
  width: 80%;
  min-height: 202px;
  margin: 16px auto;
  flex-direction: column;
  justify-content: center;
}

.external_login > button {
  justify-content: center;
}
