._title__container {
  display: flex;
  align-items: center;
}

._title__container > svg {
  margin-right: 4px;
}

.settingsBox > div:not(:last-child) {
  margin-bottom: 8px;
}

._steps__section {
  margin: 16px 0;
}

._section__title {
  margin: 8px 0;
}


._radio__container > div > div {
  width: 100%;
  margin: 8px 0;
}

.radio_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
