._informationPanel {
  border: 1px solid var(--lightPurple);
  border-radius: 4px;
  background-color: var(--lightestPurple);
  margin-left: 30px;
  width: 232px;
  padding: 16px;
  overflow: overlay;
}

._info_header {
  margin-bottom: 8px;
  line-height: 16px;
}

._stage_callout__wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

._stage_callout__icon {
  align-self: center;
  width: 50px;
  margin-right: 16px;
}

.actions_wrapper {
  width: 302px;
}

.actions_wrapper > div {
  display: flex;
  flex-direction: column;
}

.actions_wrapper > div > div {
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0;
}

._cadence_preview_wrapper {
  width: 564px;
  margin-bottom: 24px;
}

._nurturing_preview_wrapper {
  width: 564px;
  margin-bottom: 24px;
}

._nurturing_preview_wrapper > div > span {
  padding: 8px 0;
}

._section__wrapper {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

._list__wrapper {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 15px;
}

.hidden {
  display: none;
}


._text_block {
  margin-bottom: 12px;
}

._text_block > a {
  text-decoration: none;
  color: var(--bloobirds);
}

._nurturing_text_block {
  font-size: 11px;
  margin-bottom: 8px;
}

._nurturing_text_block > a {
  text-decoration: none;
  color: var(--bloobirds);
}

._selects_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 552px;
  display: flex;
  justify-content: space-between;
}

._selects_wrapper > div > div {
  height: 40px;
}

._note_text_area {
  text-align: start;
  margin-top: 15px;
}

._reassign_selects_wrapper {
  margin-top: 20px;
  width: 552px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

._reassign_selects_wrapper > div > div {
  height: 40px;
}

._add_task_module {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

._add_task_module > div[class*="BaseInput"] {
  height: 44px;
}

._add_task_module input:hover, ._add_task_module input:focus {
  box-shadow: none;
}

._add_task_title {
  margin-bottom: 12px;
}

._configure_cadence_wrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  gap: 16px;
}

._configure_cadence_wrapper > main {
  padding: 0;
}

._previous_assign_section_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

._previous_assign_radio_group {
  max-width: 300px;
}

._previous_assign_radio_group > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

._previous_assign_radio_group > div > div {
  font-size: 12px;
}

.box {
  position: relative;
  z-index: 99;

  bottom: 73%;
  left: 50%;
  transform: translateX(-50%);

  width: 700px;
  background: #ffffff;

  /* Main/peanut-light */
  border: 1px solid #d4e0f1;

  /* snackbar-shadow */
  box-shadow: 0 2px 8px rgba(70, 79, 87, 0.33);
  border-radius: 4px;
}

._nurturing_bottom {
  bottom: 68%;
}
