._container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 12.5% 12.5% 0px 50% auto;
}

._title {
  margin: 0;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

._form {
  grid-row: 4;
  display: flex;
  flex-direction: column;
  width: 330px;
  justify-self: center;
  align-self: center;
  max-height: 350px;
  height: 100%;
}

._input_wrapper {
  margin-top: 16px;
  margin-bottom: 8px;
}

._link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bloobirds);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.8px;
  margin: 26px 0;
  text-align: center;
}

._terms_link {
  text-decoration: none;
  color: var(--bloobirds);
}

._button_wrapper {
  margin: 26px 0 0 0;
}

._with_errors {
  grid-template-rows: 12.5% 12.5% 42px 50% auto;
}

._error_message {
  size: 15px;
  color: var(--tomato);
  width: 330px;
  margin: 0;
  grid-row: 3;
  align-self: center;
  text-align: center;
  justify-self: center;
}
