._quick_filter_wrapper {
  display: flex;
  align-content: space-between;
}

.dropdown_menu {
  width: 23px;
  height: 23px;
  border-radius: 16px;
  margin-left: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_wrapper {
  margin-right: 10px;
}
