:root {
  --basic-shadow: 0px 2px 8px rgba(197; 209; 221; 0.321296);
}

::-webkit-scrollbar-thumb {
  outline: 1px solid var(--verySoftPeanut);
  border-radius: 3px;
  background-color: var(--verySoftPeanut);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer !important;
}

:global(h1) {
  font-weight: normal;
}

:global(h2) {
  font-weight: normal;
}

[data-swipeable='true'] {
  scroll-behavior: smooth;
  overflow: initial !important;
}

:global(body) {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
}

:global(.MuiTableCell-root) {
  font-family: 'Proxima Nova Soft', Roboto !important;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: 'local(Roboto Medium); local(Roboto-Medium); url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format(woff2)';
}

@font-face {
  font-family: 'Proxima Nova Soft';
  src: 'url(https://fonts.bloobirds.com.bloobirds.com/ProximaNovaSoft-Bold.eot) format(embedded-opentype);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Bold.woff2) format(woff2);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Bold.woff) format(woff);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Bold.ttf)  format(truetype)';
  font-weight: bold;
}

@font-face {
  font-family: 'Proxima Nova Soft';
  src: 'url(https://fonts.bloobirds.com.bloobirds.com/ProximaNovaSoft-Medium.eot) format(embedded-opentype);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Medium.woff2) format(woff2);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Medium.woff) format(woff);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Medium.ttf)  format(truetype)';
  font-weight: 500;
}

@font-face {
  font-family: 'Proxima Nova Soft';
  src: 'url(https://fonts.bloobirds.com.bloobirds.com/ProximaNovaSoft-Regular.eot) format(embedded-opentype);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Regular.woff2) format(woff2);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Regular.woff) format(woff);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Regular.ttf)  format(truetype)';
  font-weight: regular;
}

@font-face {
  font-family: 'Proxima Nova Soft';
  src: 'url(https://fonts.bloobirds.com.bloobirds.com/ProximaNovaSoft-Semibold.eot) format(embedded-opentype);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Semibold.woff2) format(woff2);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Semibold.woff) format(woff);' +
    'url(https://fonts.bloobirds.com/ProximaNovaSoft-Semibold.ttf)  format(truetype)';
  font-weight: 600;
}

@font-face {
  font-family: 'Menlo';
  src: 'url(https://fonts.bloobirds.com/Menlo-Regular.woff) format(woff);';
}

.app {
  background-color: var(--white);
  font-family: 'Proxima Nova Soft';
  height: 100vh;
}
