._header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

._header_left {
  display: flex;
  align-items: center;
  width: 100%;
}

._header_right {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  flex: 0 1;
  text-align: right;
  justify-content: flex-end;
  position: relative;
  color: var(--peanut);
}

._lead_name {
  white-space: nowrap;
  color: var(--peanut);
  margin: 0;
  margin-left: 12px;
  margin-right: 16px;
  font-size: 14px;
}

._bounced_label {
  margin-left: 8px;
}

._opportunity_name {
  cursor: pointer;
}

._call_result_wrapper {
  height: fit-content;
  margin: auto 5px auto 5px;
  border-radius: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

._call_result_text {
  padding: 2px 25px;
  margin: auto;
}

._titles_container {
  display: flex;
  color: var(--peanut);
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}

._main_title {
  margin: 0 5px 0 20px;
  max-width: 750px;
  font-size: 14px;
  display: flex;
}

._link_wrapper_ml,
._link_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
  max-width: 200px;
}

._link_wrapper_ml > span,
._link_wrapper > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._button_report_container,
._button_reported_container,
._button_pinned_container,
._button_not_pinned_container {
  margin-right: 16px;
}

._button_report_container > button,
._button_reported_container > button,
._button_pinned_container > button {
  white-space: nowrap;
}

._button_reported_container {
  background-color: var(--verySoftMelon);
  padding: 4px 8px;
  border-radius: 4px;
}

._button_pinned_container {
  padding: 4px 0;
  border-radius: 4px;
}

._button_pinned_container > button {
  transform: rotate(30deg);
}

._button_conversation_container {
  margin-left: 16px;
}

._prefix_wrapper {
  margin-right: 5px;
  margin-left: 5px;
}

._source_wrapper {
  margin-left: 5px;
}

._duration_wrapper {
  margin: 0 5px;
}

._user_icon {
  margin: -2px 8px 0 8px;
  flex-shrink: 0;
}

._lead_icon {
  display: flex;
}

._meeting_header_text > span:first-child,
._opp_status_header_text > span:first-child,
._inbound_header_text > span:first-child {
  display: flex;
  align-items: center;
}

._opp_status_header_text > span > span {
  margin: 0 5px;
}

._salesforce_button {
  margin-right: 16px;
}

.calendar_icon {
  margin-left: 8px;
  display: flex;
  align-items: center;
}
