._container {
  align-items: center;
  background: var(--white);
  border-radius: 4px;
  border: 1px solid var(--lightestBloobirds);
  display: flex;
  margin-bottom: 8px;
  position: relative;
  max-width: 1280px;
  min-width: 100%;
}

._suggestion {
  background: linear-gradient(270deg, rgba(220, 255, 241, 0.3) 0%, rgba(223, 205, 193, 0.3) 20.31%, rgba(85, 25, 255, 0.3) 65.49%) fixed;
  box-shadow: 0px 2px 4px rgba(92, 92, 255, 0.0837296);
}

._suggestion_type {
  display: flex;
  align-items: center;
  gap: 4px;
}

._icon__container {
  margin: 0 40px;
}

._metadata__container {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding-right: 24px;
  width: 340px;
}

._suggestion_metadata {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding-right: 24px;
  flex: 3;
}

._metadata__container > p:first-of-type {
  margin-bottom: 6px;
}

._body__container {
  border-left: 1px solid var(--lightestBloobirds);
  display: flex;
  flex-direction: column;
  margin: 24px 24px 12px 0;
  padding-left: 24px;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

._body__box {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 680px;
  overflow-y: hidden;
  min-height: 70px;
  max-height: 70px;
}

._body__box_with_overflow::after {
  content: '';
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0) 80%, white);
}

._body__box > div > p {
  margin: 0;
}

._body__box > div {
  margin: 0;
  font-size: 12px;
}

._body__box > div > p > br {
  display: none;
}

._body__box_without_overflow {
  -webkit-line-clamp: unset; /* number of lines to show */
  overflow-y: visible;
  max-height: unset;
}

._body__box_without_overflow > div > p {
  margin: 0;
}

._body__box_without_overflow > div > p:empty {
  height: 8px;
}

._body__box_without_overflow > div > p > br {
  display: block;
}

._body__box_without_overflow > div > *:first-child {
  margin-top: 0;
}

._body__box_without_overflow > div > *:last-child {
  margin-bottom: 0;
}

._body__footer {
  align-items: center;
  display: flex;
  margin-top: 4px;
}

._body__footer > button {
  margin-left: -10px;
  margin-right: 6px;
  font-weight: normal;
}

._templateActions__container {
  align-items: center;
  bottom: 12px;
  display: flex;
  right: 12px;
  position: absolute;
}

._switchText__container {
  margin-right: 8px;
}

._container:hover > ._actions__container {
  visibility: visible;
}

._suggestion_actions{
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 24px;
  flex: 1;
  gap: 8px;
}

._actions__container {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 12px;
  right: 12px;
}

._actions__container button {
  margin-left: 12px;
}

._statistics_container {
  display: flex;
  margin-top: 12px;
}

._template_subject {
  color: var(--peanut);
  font-weight: var(--fontBold);
  font-size: 12px;
  line-height: 16px;
}

._template_body > div > div > img {
  max-width: 100%;
}

._template_body > div > a > img {
  max-width: 100%;
}

.disabled {
  display: flex;
  align-items: center;
}

._labels__container {
  display: flex;
}

._labels__container > div {
  margin-right: 8px;
}

._labels__container > div:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._visibility_label {
  display: flex;
  align-items: center;
}

._lock__icon {
  margin-right: 4px;
}

._assigned_to {
  margin-top: -1px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.official_banner {
  position: absolute;
  top: -2px;
  left: 10px;
}

.lastUpdate {
  flex-grow: 1;
}

.attachments {
  justify-self: end;
  display: flex;
  gap: 4px;
  flex-shrink: 1;
  min-width: 0;
  flex-wrap: wrap;
}

.attachmentLabel {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 2px 8px;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  cursor: pointer;
}

.attachmentLabel > div {
  white-space: nowrap;
  min-width: 0;
  max-width: 85%;
  position: relative;
  flex-shrink: 1;
}

.attachmentLabel > div > p {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
