._stats_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  margin-bottom: 24px;
  background-color: rgba(222, 236, 247, 0.4);
  border: rgba(154, 207, 255, 0.4) 1px solid;
  border-radius: 4px;
  padding-bottom: 16px;
}

._external_link {
  width: 100%;
  justify-content: right;
  display: flex;
  position: relative;
  top: 10px;
  right: 10px;
}

.stats_group {
  display: flex;
}

.stats_row {
  display: flex;
  margin-bottom: 24px;
}

.separator {
  height: 24px;
  border: 1px solid #9ACFFF;

}

@media screen and (max-width: 1280px) {
  ._stats_content {
    justify-content: space-between;
  }
}

._stats_skeleton_content {
  margin: 0 24px 16px;
}

._stats_skeleton_content > span {
  border-radius: 4px;
}
