.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.header > svg {
  margin-right: 8px;
}

.header > h4 {
  margin-right: 12px;
}

.dynamicsName > p {
  margin-right: 4px;
}

._dynamics__fields__table {
  margin: 0 -32px -24px -32px;
}

._dynamics__fields__table > div > table > tbody {
  border: none;
}

.table td:last-of-type {
  min-width: 0;
  width: 48px;
  height: 32px;
}

._modal_section {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  color: var(--peanut);
}

._modal_section > div:not(:first-child) {
  margin-left: 16px;
}

._modal_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--peanut);
}

._modal_text {
  display: flex;
  margin: 0 16px;
  align-items: center;
}

._modal_section_svg {
  width: 70px;
  height: 20px;
  margin: 0;
}

._map_to__label {
  cursor: default;
}

._no_results__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 216px 227px 263px 227px;
}
._no_results__img {
  align-self: center;
}

._modal_section__content {
  margin-bottom: 100px;
}

._bobject_text {
  margin-left: 4px;
}
