.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Linkedin overrides */
.container input {
  margin: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  border: none !important;
  width: 100%;
}

.header_container {
  background-color: var(--verySoftPurple);
  padding: 16px;
  margin-bottom: 6px;
}

.noBorder > input {
  box-shadow: none;
}

.cards_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}
.cards_container_contact {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}
.cards_spinner {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title_container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.title_container > p {
  font-size: 18px;
}

.tabs_container {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.see_tabs_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6px;
}

.see_tabs_item {
  display: flex;
  width: 160px;
  padding: 12px 0;
  justify-content: center;
  gap: 3px;
  border-top: 1px solid transparent;
  align-items: center;
  cursor: pointer;
}

.see_tabs_item > p {
  font-size: 13px;
}

.tab_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  cursor: pointer;
  border-top: 1px solid transparent;
}

.templateCardButtons {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-self: end;
  position: absolute;
  top: 10px;
  right: 8px;
  padding: 4px;
}

.qqHoverButtons {
  position: absolute;
  top: 10px;
  right: 8px;
  padding: 4px;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.templateSection {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 8px 0;
}

.templateSectionSidePeek {
  padding: 12px 24px 8px;
}

.smartTemplateSection {
  padding: 16px 24px 0;
}

.templateAddButton {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-right: 8px;
}

.templateAddButton:hover {
  cursor: pointer;
}

.headerTitle > div[class^='SmallInput'] {
  width: 124px !important;
  border: 0;
}

.headerTitle > div[class^='SmallInput'] > div > input {
  color: var(--purple);
  background-color: transparent;
}

.headerTitle > div[class^='SmallInput'] > div {
  border: 1px solid var(--lightPurple);
  background-color: var(--white);
}

.spinner {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.segmentedFor {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 4px;
}

.selectedValuesNames {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonText {
  display: flex;
  overflow: hidden;
}

.buttonContent {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.sectionName {
  padding-left: 12px;
}

.selectorWrapper {
  display: flex;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentWrapper > Button {
  padding: 4px 6px;
}

.contentWrapper svg {
  flex-shrink: 0;
}
.buttonButtons {
  display: flex;
}

.buttonButtons > button {
  margin-top: -1px;
}

.title_sidePeek {
  font-size: 13px;
}

.invisibleFooter {
  height: 20px;
  margin-top: 8px;
  position: relative;
  border: 2px solid transparent;
}

.suggestionsButton {
  background: var(--lightBloobirds) !important;
  border: 1px solid var(--softBloobirds) !important;
  border-radius: 4px;
  padding: 2px 6px !important;
  margin-left: 4px !important;
}
