.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content > svg {
  margin-bottom: 26px;
}

.content > p {
  margin-bottom: 16px;
  text-align: center;
}

.footer {
  justify-content: flex-end;
}
