._header {
  margin-bottom: 24px;
  margin-top: 24px;
}

._cards_list > header:nth-child(1) {
  margin-top: 0;
}

button:disabled {
  border-width: 1px;
}

button:disabled > svg path {
  fill: var(--softPeanut);
}

._header > p {
  margin-top: 0;
  margin-right: 8px;
}

._card_body__text {
  margin-right: 4px;
}

._card_body__bobjectLink {
  composes: _card_body__text;
  display: inherit;
}

._date_text_wrapper > div > div {
  margin-left: 8px;
}

._button_reported_container {
  display: flex;
  background-color: var(--verySoftMelon);
  padding: 3px 8px;
  border-radius: 4px;
}

._card_content {
  flex-direction: column;
  width: 100%;
}

._counter__button {
  display: flex;
  align-content: center;
  height: 24px;
}

._counter__button > div {
  margin-right: 8px;
}
._card_content > div > div > div {
  width: 100%;
}

._title_wrapper {
  max-width: 97%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--peanut);
}

._list_header {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 4px 0;
}

._list_header > button {
  padding-top: 0;
  padding-bottom: 0;
}

._counter__button {
  display: flex;
  align-content: center;
  height: 24px;
}

._counter__button > div {
  margin-right: 8px;
}

._conversation_wrapper {
  display: flex;
  flex-direction: column;
}

._spinner_wrapper {
  margin: 24px 0;
  display: flex;
  align-self: center;
}

._html_message > p,
._html_message {
  font-size: 14px;
  line-height: 16px;
  color: var(--peanut);
  margin: 0;
}

._messages_wrapper {
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-end;
  background-color: var(--lightBloobirds);
  padding: 20px 0;
  max-height: 460px;
}

._message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 40px;
}

._message > p {
  max-width: 45%;
  padding: 8px;
  border-radius: 4px;
}

._message_outgoing {
  justify-content: flex-end;
}

._message_outgoing > p {
  background-color: var(--verySoftBloobirds);
}

._message_incoming > p {
  background-color: var(--white);
}

._date_separator {
  padding: 12px;
}

._reported_separator {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 12px;
  margin-bottom: 10px;
}

._collapsed_message {
  display: flex;
  align-items: center;
}

._collapsed_message > svg {
  margin-right: 5px;
  min-width: 12px;
}

._message_wrapper {
  display: flex;
  align-items: flex-start;
}

._message_wrapper > button {
  margin-right: 8px;
}

._note_wrapper {
  margin-top: 16px;
}

._assigned_circle {
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}
