._section__wrapper {
  margin-bottom: 24px;
}

._content__wrapper {
  padding-top: 5px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

._list_status {
  margin: auto;
}

._list_status > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-items: center;
}

._list_status > div > div,
._currentStatus__wrapper > div {
  width: 200px;
}

._radios_group {
  width: 100%;
}

._radios_list_status {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

._radios_list_status > div > div {
  letter-spacing: 0;
  margin-bottom: 10px;
  padding: 6px 35px;
}

._reason__wrapper {
  margin-right: 15px;
  width: 50%;
}

._buttons__wrapper {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.skip_button {
  margin-left: auto;
  margin-right: 16px;
}

.back_button {
  margin-left: 0px;
  margin-right: auto;
}

.introText {
  margin-bottom: 20px;
}

._formFields {
  margin-bottom: 25px;
}
