._item_wrapper {
  width: 520px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

._relative {
  width: 100%;
  position: relative;
}

._lead__info {
  margin-left: 8px;
}

._lead__company {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._lead__company > * {
  margin-right: 4px;
}

._company__icon {
  flex-shrink: 0;
}

._no_results {
  margin-left: 8px;
}
