._syncing_wrapper {
    z-index: 1;
    position: relative;
    top: 2rem;
    left: 2rem;
    width: 24px;
}

._syncing_objects_wrapper {
    z-index: 1;
    position: relative;
    top: 2rem;
    left: 9rem;
    width: 24px;
}

._user_syncing_wrapper {
    z-index: 1;
    position: relative;
    top: 2rem;
    left: 14.8rem;
    width: 24px;
}

._fields_syncing_wrapper {
    z-index: 1;
    position: relative;
    top: 2rem;
    left: 19rem;
    width: 24px;
}

._logs_wrapper {
    z-index: 2;
    position: absolute;
    right: 6rem;
    top: 23.6rem
}

._no_logs_wrapper {
    z-index: 2;
    position: relative;
    top: -15rem;
    margin: 0 auto;
    width: 24px;
}

._image {
    margin-bottom: -42px;
}

._primary_button {
    border-color: var(--white);
}