._section_title__wrapper {
  margin-bottom: 16px;
}

._section__wrapper {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

._cadence_preview_wrapper {
  margin-bottom: 24px;
}

._list__wrapper {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 15px;
}

._cadence_placeholder {
  height: 56px;
}

._banner_wrapper {
  background-color: var(--white);
}

._banner_wrapper > * > p {
  padding: 8px 40px;
}
._message__wrapper {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

._message__wrapper > div {
  margin-right: 23px;
}

._cadence_table__wrapper {
  margin-top: 22px;
  margin-bottom: 30px;
}

._buttons__wrapper {
  display: flex;
  width: 100%;
}

._buttons__wrapper > div {
  margin-left: auto;
  margin-right: 16px;
}

._callout_change_date_wrapper {
  margin-top: 10px;
}

._on_prospection_message {
  background-color: rgba(217, 240, 192, 0.4);
  width: calc(100% - 26px);
  padding: 12px;
  text-align: center;
  border: 1px solid var(--softMelon);
  border-radius: 4px;
}

._with_more_messages {
  margin-top: 25px;
}

.hidden {
  display: none;
}
