.separator {
  margin: 8px 32px 12px 16px;
  display: flex;
  align-self: center;
  width: 286px;
  height: 1px;
  background-color: var(--verySoftPeanut);
}

.container {
  padding: 0 24px;
  height: 100%
}

.contentGeneralWrapper {
  display: flex;
  flex-direction: column;
  max-height: 88%;
  overflow-y: scroll;
}

.header {
  display: flex;
  flex-direction: column;
}

.header > * {
  margin-bottom: 12px;
}

.visibilityLabel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.templateBody {
  overflow-y: scroll;
  flex: 1;
}

.templateBody ul, .templateBody ol {
  padding-left: 40px;
}

.templateBody > ul * {
  list-style: initial;
}

.templateBody > ol * {
  list-style: auto;
}

._assigned_to {
  margin-top: -4px;
}


.dropdownAnchorWrapper {
  margin-left: -2px;
}

.dropdownWrapper {
  margin: 0 16px -6px;
}

._statistics_container {
  padding: 4px 8px;
}

.statistics {
  display: flex;
  margin-top: 12px;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

._lock__icon {
  margin-right: 4px;
}

.buttons{
  display: flex;
  padding-top: 24px;
  padding-bottom: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: -10px;
}

.dialerButtons {
  display: flex;
  padding-top: 9px;
  padding-bottom: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}

.buttons_right{
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
