.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner {
  background: white;
  box-shadow: 0 2px 8px rgba(197, 209, 221, 0.3);
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.passwordInputs {
  margin-top: 16px;
}

.passwordInputs > *:first-child {
  margin-bottom: 16px;
}

.saveButton {
  margin-top: 24px;
}
