.dropdown_container {
  position: fixed;
}

.image {
  margin-bottom: -88px;
}

.image > img {
  max-width: 154px;
}

.anchor_container {
  animation: stretch 1.5s ease-out 0s alternate infinite none running;
  align-items: center;
  background: #eeeeee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 100;
}

.dot {
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

@keyframes stretch {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.dropdown_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  max-width: 280px;
}

.dropdown_content > p {
  margin-left: 8px;
  line-height: 20px;
}

.content_title {
  display: flex;
  gap: 8px;
  align-items: center
}

