.container {
  padding-top: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.htmlBody {
  overflow: auto;
}

.htmlBody > * {
  font-size: 10px;
}

.inboundInfoWrapper {
  padding: 6px 14px 45px 18px;
}

.infoBlock {
  margin-bottom: 4px
}

.infoBlockFieldName {
  margin-bottom: 5px
}

.loading {
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
