._conferencing_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 4px;
}

._conferencing_container_marked {
  background-color: var(--bloobirds);
}

._google_meet_icon {
  display: flex;
  margin-left: 4px;
  margin-right: 8px !important;
}

._title {
  display: flex;
  align-items: center;
}

._title > * {
  margin-right: 4px;
}
