.root {
  min-width: 100%;
  padding: 16px;
  background-color: var(--lighterGray);
  border: 1px solid var(--lightPeanut);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.error_body {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sync_direction {
  background-color: white;
  border-radius: 8px;
  padding: 4px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error_body_text {
  margin-top: 8px;
  display: flex;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  max-width: 400px;
  width: 100%;
}

.name {
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
}

.icon {
  padding-right: 14px;
}

.arrow {
  margin: 0 4px;
}

.icon_group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.icon_group_icon {
  padding: 0 4px;
}

.integration_title {
  white-space: nowrap;
}

.expand_icon {
  cursor: pointer;
  margin-left: 8px;
}

.sync_sf_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 4px;
}

.sync_status {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 16px;
  letter-spacing: 1px;
  font-size: 13px;
  margin-left: 4px;
  cursor: default;
  white-space: nowrap;
}

.sync_status_synced {
  background-color: var(--grape);
  color: white;
}

.sync_status_no_logs {
  background-color: var(--lightPeanut);
  color: var(--softPeanut);
}

.sync_status_error {
  background-color: var(--tangerine);
  color: white;
}
