._content {
  padding: 32px;
  border-radius: 4px;
  border: 1px solid var(--verySoftCondition);
  margin-bottom: 32px;
}

._description {
  margin-bottom: 24px;
}

._description > p {
  margin-bottom: 8px;
}

._checkbox_wrapper {
  display: flex;
  margin-bottom: 10px;
}

._checkbox_wrapper > div {
  width: auto;
  background: none;
}

._checkbox_wrapper > div:hover {
  background: none;
}

._select_wrapper {
  display: flex;
  align-items: center;
  margin-left: 58px;
  width: 410px;
  justify-content: space-between;
  margin-bottom: 4px;
}

._separator {
  margin: 20px 0;
  border-top: 1px solid var(--lightPeanut);
}
