.body__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 98%;
}

._header {
  display: flex;
}

.body__content {
  display: table;
  border-top: 1px solid var(--lightPeanut);
  width: 98%;
  border-collapse: separate;
  border-spacing: 8px;
  margin-bottom: 12px;
}

.left_body__content {
  display: table-cell;
  flex-direction: column;
  width: 60%;
}

.right_body__content {
  display: table-cell;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid var(--lightPeanut);
  height: 100%;
  margin: 8px;
}

.top_section {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  margin-top: 4px;
}

.section_icon {
  margin-right: 8px;
}

.top_left_section {
}

.bottom_section {
  margin-top: 12px;
  border-top: 1px solid var(--lightPeanut);
  margin-right: 8px;
  padding-top: 12px;
}

.right_body_section {
  height: 100%;
  margin-left: 8px;
}

.html_message > * {
  font-size: 12px;
}

._duration_element {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.duration {
  margin-top: 2px;
}

.invitees_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.invitees {
  display: flex;
}

.showMore {
  cursor: pointer;
}
