.sfdc_connected {
  display: flex;
  align-items: center;
  width: 100%;
}

.sfdc_connected > svg {
  width: 32px;
}

.sfdc_connected > div {
  flex: 1
}

.sfdc_connected > div > p:last-child {
  max-width: 92%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sfdc_connected > p {
  padding-right: 16px;
  min-width: fit-content;
}

.connect_sfdc_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.connect_sfdc_subtitle {
  display: flex;
  gap: 4px;
}

.sandboxLink {
  font-size: 14px;
  line-height: 16px;
  color: var(--softBloobirds)
}

.timezone_container {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.extension_btn {
  width: fit-content;
  margin: 0 auto;
}

._reminders_container {
  display: flex;
  flex-direction: column;
  gap: 8px
}

._reminders_section {
  display: flex;
  align-items: center;
  gap: 16px
}

._dialers_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 8px;
}

._dialers_column_container {
  display: flex;
  flex-direction: column;
  gap: 8px
}

._dialers_row_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px
}

._signature__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

._signature__container > p {
  flex-grow: 1;
}
