._container {
  background-color: var(--lighterGray);
  padding: 27px 24px;
}

._content {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

._filters_container {
  margin-bottom: 24px;
}

._header {
  margin-bottom: 24px;
  margin-top: 24px;
}

._header:nth-child(2) {
  margin-top: 0;
}

._header :nth-child(2) {
  margin-right: 8px;
}

._list_container {
  height: 100%;
  min-height: 100%;
}

._list_empty {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px auto 128px auto;
}

._list_wrapper {
  overflow-x: hidden !important;
}
