.header {
  padding: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.description {
  margin: 16px 0;
  line-height: 24px;
}

.input {
  margin: 16px 0;
}

.inputWrapper {
  height: 100px;
  margin-bottom: 32px;
}

.textMeContentWrapper {
  margin-top: 8px;
}

.moreContentSection {
  margin-bottom: 32px;
}

.moreOptionsTitle {
  margin-top: -5px;
}

.visibility {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.visibilityText {
  margin-left: 8px;
}

.segmentationBlock {
  margin-top: 16px;
}
