::-webkit-scrollbar-thumb {
  outline: 1px solid var(--verySoftPeanut);
  border-radius: 3px;
  background-color: var(--verySoftPeanut);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer !important;
}

._container {
  background-color: white;
  overflow-y: auto;
  padding: 24px 64px;
}

._modal_body_container {
  display: flex;
  flex: 1;
  background-color: white;
  max-height: calc(64vh + 90px);
  min-height: calc(64vh + 90px);
}

._form_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

._editor__container {
  background-color: white;
  border-radius: 4px;
}

._editor__container > div > section {
  align-items: center;
}

._editor__container_ast {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

._subject__container {
  margin: 6px 0;
}

._subject__container_ast {
  display: flex;
  margin: 16px 0 8px 0;
  background: white;
  border: 1px solid #94a5b4;
  border-radius: 4px;
}

._to__container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

._to__input__container {
  width: 100%;
  margin-left: 16px;
}

._tag {
  width: 44px;
}

._actions__container {
  width: calc(100% - 24px);
  border-top: 1px solid var(--lightestBloobirds);
  height: 40px;
  display: flex;
  padding: 0 12px;
}

._attachments__container {
  display: flex;
  margin: 2px 16px 0;
  padding: 8px 0;
  border-top: 1px solid var(--lightestBloobirds);
}

._errors_container {
  width: 100%;
  margin: 8px 20px;
}

._header__container {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  /*background-color: var(--veryLightBloobirds);*/
  background-color: var(--verySoftPurple);
}

._header__info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

._header__info button {
  margin-right: 8px;
}

._header_companyName {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 12px;
  margin-right: 12px;
  height: 24px;
  /*border-right: 1px solid var(--verySoftBloobirds);*/
}

._footer {
  background-color: var(--white);
}

.footerActions {
  background-color: var(--white);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 90px;
}

.footerButtons {
  display: flex;
  gap: 16px;
}

.inputControls {
  margin-left: auto;
}

.emailSelector {
  max-width: 85%;
}

.emailSelector input {
  box-shadow: none;
  border: none;
}

.disabledOverlay {
  position: absolute;
  background-color: white;
  opacity: 0.35;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal_email_container {
  display: flex;
  width: 100%;
  --artdeco-reset-forms-input-padding: initial;
  --artdeco-reset-form-position-relative: initial;
  --artdeco-reset-form-vertical-align-middle: initial;
  --artdeco-reset-form-display-block: initial;
  --artdeco-reset-form-black-90: initial;
  --artdeco-reset-form-label-margin: initial;
  --artdeco-reset-form-label-opacity: initial;
  --artdeco-reset-form-webkit-appearance-textfield: initial;
  --artdeco-reset-form-webkit-appearance-none: initial;
  --artdeco-reset-form-height-auto: initial;
  --artdeco-reset-form-padding-top-point-seven-rem: initial;
  --artdeco-reset-form-rc-pointer-events: initial;
  --artdeco-reset-form-rc-opacity: initial;
  --artdeco-reset-form-rc-margin: initial;
  --artdeco-reset-form-rc-position: initial;
  --artdeco-reset-form-rc-before-after-content: initial;
  --artdeco-reset-checkbox-rc-after-content: initial;
  --artdeco-reset-form-rc-label-display-block: initial;
  --artdeco-reset-form-rc-label-line-height-2-rem: initial;
  --artdeco-reset-form-rc-label-margin-bottom-zero: initial;
  --artdeco-reset-form-rc-label-padding-zero: initial;
  --artdeco-reset-form-rc-label-position-relative: initial;
  --artdeco-reset-form-rc-label-padding-left-2point8-rem: initial;
  --artdeco-reset-forms-input-transition-duration: initial;
  --artdeco-reset-forms-input-transition-property: initial;
  --artdeco-reset-forms-input-box-shadow: initial;
  --artdeco-reset-forms-input-border-radius: 4px;
  --artdeco-reset-forms-input-border: initial;
  --artdeco-reset-forms-input-width: initial;
  --artdeco-reset-forms-input-height: initial;
  --artdeco-reset-forms-input-box-sizing: border-box;
  --artdeco-reset-forms-input-background-color: initial;
  --artdeco-reset-forms-input-color: initial;
  --artdeco-reset-forms-input-placeholder-color: var(--softPeanut);
  --artdeco-reset-forms-input-blue: initial;
  --artdeco-reset-forms-input-focus-box-shadow: initial;
  --artdeco-reset-forms-input-disabled-hover-border-color: initial;
  --artdeco-reset-forms-input-disabled-opacity: initial;
  --artdeco-reset-forms-input-error: initial;
  --artdeco-reset-forms-font-weight: initial;
  --artdeco-reset-forms-font-size: initial;
  --artdeco-reset-forms-line-height: initial;
  --artdeco-reset-forms-select-appearance-none: initial;
  --artdeco-reset-forms-select-box-shadow-none: initial;
  --artdeco-reset-forms-select-outline-zero: initial;
  --artdeco-reset-forms-select-height-3point2-rem: initial;
  --artdeco-reset-forms-select-background-transparent: initial;
  --artdeco-reset-forms-select-position-relative: initial;
  --artdeco-reset-forms-select-zindex-two: initial;
  --artdeco-reset-forms-select-background-image: initial;
  --artdeco-reset-forms-select-border-box: initial;
  --artdeco-reset-forms-select-border-zero: initial;
  --artdeco-reset-forms-select-width-100-percent: initial;
  --artdeco-reset-forms-select-border-radius-point2rem: initial;
  --artdeco-reset-forms-select-border: initial;
  --artdeco-reset-forms-select-padding: initial;
  --artdeco-reset-forms-select-transition: initial;
  --artdeco-reset-forms-select-disabled-opacity: initial;
  --artdeco-reset-forms-select-hover-border-color: initial;
  --artdeco-reset-forms-select-focus-border-color: initial;
  --artdeco-reset-forms-select-focus-box-shadow: initial;
  --artdeco-reset-base-margin-zero: initial;
  --artdeco-reset-base-padding-zero: initial;
  --artdeco-reset-base-border-zero: initial;
  --artdeco-reset-base-font-size-hundred-percent: initial;
  --artdeco-reset-base-font-weight-bold: initial;
  --artdeco-reset-base-font-style-italic: initial;
  --artdeco-reset-base-outline-zero: initial;
  --artdeco-reset-base-outline-none: initial;
  --artdeco-reset-base-line-height-one: initial;
  --artdeco-reset-base-display-block: initial;
  --artdeco-reset-base-list-style-none: initial;
  --artdeco-reset-base-quotes-none: initial;
  --artdeco-reset-base-vertical-align-baseline: initial;
  --artdeco-reset-base-vertical-align-middle: initial;
  --artdeco-reset-base-background-transparent: initial;
  --artdeco-reset-base-opacity-zero: initial;
  --artdeco-reset-base-top-zero: initial;
  --artdeco-reset-base-position-absolute: initial;
  --artdeco-reset-base-text-decoration-none: initial;
  --artdeco-reset-base-text-decoration-line-through: initial;
  --artdeco-reset-base-border-collapse-collapse: initial;
  --artdeco-reset-base-get-color-black: initial;
  --artdeco-reset-base-background-color-ff9: initial;
  --artdeco-reset-base-border-spacing-zero: initial;
  --artdeco-reset-base-cursor-help: initial;
  --artdeco-reset-base-content-none: initial;
  --artdeco-reset-base-left-minus-hundred-px: initial;
  --artdeco-reset-base-border-thickness-1-px: initial;
  --artdeco-reset-base-border-style-dotted: initial;
}

.modal_email_container * {
  box-sizing: border-box;
}

/* Linkedin overrides */
.modal_email_container input {
  margin: 0 !important;
  box-shadow: none !important;
  border: none !important;
  width: 100%;
}

.modal_email_container input::placeholder {
  color: transparent !important;
}

.modal_email_container input:focus {
  outline: none !important;
  background-color: transparent;
}

.modal_email_container label {
  margin: 0 !important;
}

.show_preview_wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}

._header_icons {
  display: flex;
  justify-content: flex-end;
}

._header_callout_preview {
  height: 40px;
}

.container_email {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 21px;
  min-height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--lightestBloobirds);
}

.formRow > *:first-child {
  width: 56px;
  margin-right: 12px;
}

._annex_wrapper {
  box-sizing: border-box;
  background-color: white;
  border-left: 1px solid var(--lightestBloobirds);
  width: 424px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}
