.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightestBloobirds);
  border-radius: 4px;
  padding: 10px;
  max-height: 36px;
  min-width: 90px;
  max-width: 200px;
  flex-shrink: 1;
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  min-width: 0;
  flex-shrink: 1;
}

.content > *:first-child {
  flex-shrink: 0;
}

.content > div {
  white-space: nowrap;
  min-width: 0;
  max-width: 85%;
  position: relative;
  flex-shrink: 1;
}

.content > div > p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 12px;
}
