._last_activity_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

._last_activity_container_center {
  align-items: center;
}

._last_activity_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

._last_activity_header > div {
  font-size: 10px;
}

._last_activity_statistics {
  margin-top: 8px;
  margin-left: 4px;
  width: 0;
}

._last_activity_row > td > * {
  margin-bottom: 4px;
  margin-right: 4px;
}

._last_activity_title_sidePeek {
  font-size: 13px;
}

._activity_info_card {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 8px;
  border-radius: 4px;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--peanut);
  padding: 8px 16px;
  background-color: var(--white);
}

._activity_info_card > svg{
  flex-shrink: 0;
  margin-left: 8px;
}

._activity_info_card_text{
  display: flex;
  flex-direction: column;
}

._last_contacts_wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  gap: 16px;
}

._last_contacts_wrapper_bubble {
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
}

@media (max-width: 1150px) {
  ._activity_info_card{
    max-width: 100%;
  }
  ._last_contacts_wrapper {
    flex-direction: column;
  }
}
