._tableHead {
  background-color: var(--lighterGray);
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

._tableHeadField {
  color: var(--white);
  border-bottom: none;
  height: 28px;
  max-width: 250px;
}

._tableHeadFieldSort {
  height: 16px;
}

._tableHeadFieldSort > svg {
  width: 14px;
  height: 14px;
  color: var(--softPeanut) !important;
}

._tableHeadFieldText {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--softPeanut);
}

._tableHead > span {
  margin: auto 0;
}

._checkbox {
  width: 12px;
  padding-right: 12px;
}
