.group {
    display: grid;
    grid-template-columns: 36% 62%;
    grid-template-rows: minmax(46px, auto);
    align-items: baseline;
    grid-row-gap: 8px;
    justify-content: space-between;
}

.label {
    font-family: var(--fontPrimary);
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    grid-column-gap: 4px;
}

.error {
    font-family: var(--fontPrimary);
    color: var(--tomato);
    font-size: 12px;
}
