._header_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-right: 28px;
}
._header_icons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}


._description {
  margin-bottom: 16px;
}

._subtitle {
  margin-bottom: 16px;
}

._categories_list {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  list-style-type: none;
  list-style-position: unset;
}

._categories_list_item {
  margin-bottom: 8px;
  width: 225px;
}

._categories_skeleton {
  width: 220px;
  font-size: 10px;
}

._fields_list {
  margin-right: 28px;
}

._fields_list_item {
  padding: 10px;
  border: 1px solid var(--verySoftPeanut);
  border-radius: 6px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  min-height: 32px;
  align-items: center;
}

._fields_list_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

._fields_list_empty_icon {
  display: flex;
  align-self: center;
  color: var(--softPeanut);
  margin-bottom: 18px;
}

._fields_list_empty_text {
  display: flex;
  align-self: center;
}

._fields_list_text {
  width: 100%;
  align-self: center;
  margin-left: 6px;
}
