.volumeControl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.volumeControlVisible {
  background: var(--verySoftPurple);
  border-radius: 0px 0px 36px 36px;
  transition: 0.2s ease;
}

.volumeBarContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 160px;
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.volumeBarContainerVisible {
  background: var(--verySoftPurple);
  border-radius: 36px 36px 0px 0px;
  opacity: 1;
}

.volumeBar {
  transform: rotateZ(270deg);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
}

/* slider thumb */
.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: var(--purple);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.volumeBar:hover::-webkit-slider-thumb {
  transform: scale(1.2);
  opacity: 0.8;
}
