.content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content > *:first-child {
  align-self: center;
}

.content > *:last-child {
  align-self: stretch;
}

.footer {
  margin-left: 20px;
}

.footer > * {
  margin-right: 4px;
}

.button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--veryLightBloobirds);
  background: white;
  overflow: hidden;
  border-radius: 4px;
  padding: 0;
}

.button:disabled {
  cursor: default;
  background: var(--lighterGray);
}
