.root {
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: calc(100vh - 48px);
  flex-direction: column;
  overflow-y: auto;
  background: var(--lighterGray);
  padding: 40px 0;
}

.root:not(:first-child) {
  padding: 10px 0;
}

.content {
  margin: 0 auto;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

@media (max-width: 1279px) {
  .content {
    max-width: 900px;
  }
}

.content__with_sideBar_open {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

@media (max-width: 1279px) {
  .content__with_sideMenu_open {
    max-width: 900px;
  }
}

.filters {
  display: flex;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  padding: 8px 8px 8px 36px;
  position: sticky;
  top: -45px;
  background-color: var(--veryLightBloobirds);
  justify-content: flex-start;
  z-index: 1;
}

.filters_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

._more_filter_input {
  background: var(--white);
  color: var(--peanut);
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--softPeanut);
  min-width: 130px;
  max-width: 180px;
  max-height: 22px;
  padding: 4px 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

._more_filter_input > svg {
  margin-left: 8px;
  color: var(--softPeanut);
}

._more_filters_input_selected {
  color: var(--peanut);
}

.filters_item > div {
  margin-top: 4px;
}

.filters_item > div > div {
  height: 22px;
}

.filters_item div[role='listbox'] {
  width: 128px;
}

@media screen and (max-width: 1279px) {
  .filters_item_hideOnExtraSmallScreen {
    display: none;
  }
}

@media screen and (max-width: 1366px) {
  .filters_item_hideOnSmallScreen {
    display: none;
  }
}

@media screen and (max-width: 1455px) {
  .filters_item_hideOnSmallScreen {
    display: none;
  }
}

.filters__with_sideBar_open {
  display: none;
}


.hide_filter {
  display: none;
}


.separator {
  display: flex;
  border-left: 1px solid #d4e0f1;
  width: 0;
  height: 16px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.title {
  padding-left: 40px;
  padding-bottom: 8px;
}

@media screen and (max-width: 1279px) {
  .title {
    width: 900px;
  }
}
