._suggestionCard_container {
  display: flex;
  margin-top: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--verySoftPeanut);
  width: 100%;
}

._suggestionCard_container_column {
  flex-direction: column !important;
  gap: 10px;
}

._suggestionCard_container_column > ._right_container {
  max-width: 100%;
}

._right_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100px;
  max-width: 50%;
}

._left_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

._bottom_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 4px 0;
}

._mainInfo_container {
  display: flex;
}

._mainInfo_container_row {
  align-items: center;
}

._mainInfo_details_container {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  min-width: 180px;
  max-width: 50%;
  gap: 2px;
}

._mainInfo_details_container_row {
  flex-direction: row !important;
  max-width: 100%;
  gap: 10px;
}

._mainInfo_details_container_row > ._mainInfo_buttons_container > div {
  min-width: 150px;
}

._mainInfo_buttons_container {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  width: 100%;
}

._mainInfo_buttons_container > div {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  min-width: 150px;
}

._mainInfo_buttons_container > div > div > span {
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  max-width: 70px;
}

._mainInfo_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 160px;
  padding-right: 5px;
}

._add_button {
  padding: 3px 9px;
  transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
  opacity: 0;
}

._add_button_visible {
  opacity: 1;
}

._add_button_no_cursor {
  cursor: default;
}

._add_button_large {
  padding: 2px 15px;
  transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
  opacity: 0;
}

._add_button_large_visible {
  opacity: 1;
}

._icon_container {
  min-width: 24px;
}

._showMore_button {
  font-size: 10px;
  padding-left: 0;
}

._showMore_button > svg {
  width: 12px;
  height: 12px;
}

._content_container {
  display: flex;
  gap: 15px;
}
