._stats_content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 16px;
}

@media screen and (max-width: 1120px) {
  ._stats_content {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

._stats_skeleton_content {
  width: 100%;
  margin: 12px 10px;
}
