._sidebar_wrapper {
    z-index: 1;
    position: absolute;
    top: 130px;
    left: 95%;
}

._filters_wrapper {
    z-index: 1;
    position: relative;
    left: 2%;
}

._bulk_wrapper {
    z-index: 1;
    position: relative;
    left: 65%;
    top: 23px;
}

._card_wrapper {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 265px;
}

._no_cards_wrapper {
    z-index: 1;
    position: relative;
    left: 50%;
    top: 20px;
    width: 24px;
}

._image {
    margin-bottom: -42px;
}

._primary_button {
    border-color: var(--white);
}