.languageSelect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 16px;
  align-items: center;
  justify-content: center;
  min-width: 226px;
}

.languageSelect > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.languageSelect > div > div {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 4px;
  width: 188px;
}

.languageSelect span {
  font-size: 12px;
}
