.container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 21px;
  min-height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--lightestBloobirds);
}

.container > *:first-child {
  width: 56px;
  margin-right: 12px;
}

.disabledOverlay {
  position: absolute;
  background-color: white;
  opacity: 0.35;
  width: 95%;
  height: 100%;
  z-index: 1;
}
