.field {
  margin-right: 4px;
  display: flex;
}

.field svg {
  height: 16px;
}

.field svg > * {
  fill: var(--softPeanut);
}

.fixedHeightField {
  height: 24px;
}

.fieldContent {
  margin-left: 8px;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
}

.fieldContentUrl {
  margin: 0;
  width: 164px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fieldContentEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
