._single_input {
  margin-left: 8px;
  margin-top: 4px;
}

._has_changed_select {
  margin-left: 30px;
  margin-top: 4px;
}

._has_changed_select > div {
  margin: 0 7px;
}

._is_between_select {
  margin-top: 4px;
  display: inline-flex;
}

._is_between_select > div {
  margin: 0 7px;
}
