.cardWrapper > div {
  margin-top: 8px;
  border-left: var(--seagreen) solid 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardWrapper > div div[class*="CardContent-module_content"] {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.cardWrapper div[class*="CircularBadge-module_container"] {
  font-size: 9px !important;
}

.verticalEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rightSide {
  margin-left: auto;
  margin-right: 4px;
}

.cardButton {
  font-size: 11px;
  justify-content: center;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.buttonsWrapper > button {
  padding: 3px 10px;
}
