._target_market_message {
  display: flex;
  background: var(--verySoftPurple);
  mix-blend-mode: normal;
  border-radius: 4px;
  padding: 8px 26px;
  align-items: center;
  margin-left: 8px;
}

._target_market_message:hover {
  cursor: pointer;
}

._target_market_message > span {
  margin-left: 3px;
}

._target_market_message_small {
  padding: 4px 11px;
}
