.separator {
  margin: 8px 16px;
  display: flex;
  align-self: center;
  width: 100%;
  height: 1px;
  background-color: var(--verySoftPeanut);
}

.container {
  padding: 0 16px 24px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header > * {
  margin-bottom: 12px;
}

.visibilityLabel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.templateBody {
  margin-right: 16px;
  color: var(--peanut);
  overflow: auto;
}


.templateBody ul, .templateBody ol {
  padding-left: 40px;
}

.templateBody > ul * {
  list-style: initial;
}

.templateBody > ol * {
  list-style: auto;
}

._assigned_to {
  margin-top: -4px;
}

.dropdownAnchorWrapper {
  margin-left: -4px;
  margin-top: -4px;
}

.dropdownWrapper {
  margin: 0 16px -6px;
}

._statistics_container {
  padding: 4px 8px;
}
