._content__wrapper {
  display: flex;
  gap: 56px;
  max-height: 436px;
  align-items: start;
  overscroll-behavior-y: contain;
  height: 100%;
}

._textarea__wrapper {
  margin-bottom: 72px;
  width: 100%;
}

._content__wrapper > section {
  flex-shrink: 0;
  flex-grow: 1;
  margin-bottom: 0;
  display: flex;
}

._section__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 0;
  padding: 24px 0;
}

._section__wrapper input,
._section__wrapper input:hover,
._section__wrapper input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

._section__wrapper > *:first-child > header {
  margin-top: 0;
}

._full_section {
  width: 100%;
}

._note {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid var(--softPeanut);
  height: 100%;
  max-height: 100%;
}

.editorContent {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 345px;
}

.sectionHeader {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--verySoftPeanut);
}

.toolbar > div {
  border-radius: 0 0 4px 4px;
}

.column:first-of-type > div {
  padding-bottom: 0;
}

.wrapper > main {
  height: calc(100% - 74px);
}

.wrapper > main > div {
  height: 100%;
}

.skip_button {
  margin-left: auto;
  margin-right: 16px;
}

.back_button {
  margin-left: 0;
  margin-right: auto;
}
