._ellipse {
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--lightBloobirds);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 20px;
}

._auth_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._auth_header {
  margin-bottom: 12px;
}

._auth_text {
  max-width: 510px;
  margin-bottom: 18px;
}

._auth_button {
  margin: 28px 0;
}

._config__container > div {
  margin-bottom: 28px;
}

._config__account {
  display: flex;
  align-items: center;
}

._config__account_name {
  flex-grow: 1;
}

._config__account_status_text {
  margin-right: 12px;
}

._config__account_status_hint {
  margin-left: 12px;
}

._phone_numbers_empty {
  box-sizing: border-box;
  padding: 216px 227px 263px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
._phone_numbers_empty_img {
  margin-bottom: 20px;
}

._users_title {
  display: flex;
  align-items: center;
}

._refresh__button {
  margin-left: 10px;
}

._title__container {
  display: flex;
  align-items: center;
}

._info__icon {
  margin-left: 2px;
}
