.noteColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.noteColumn > div:nth-child(2) {
  margin-top: 12px;
  height: 89%;
}

.noteColumn > div:nth-child(3) {
  border-top: 1px solid var(--verySoftPeanut);
  border-bottom: 1px solid var(--verySoftPeanut);
}

.toolbar > div  {
  padding: 4px 0;
}

.toolbar > div > section {
  padding: 4px 0;
}
