:global {
  .recharts-tooltip-wrapper {
    z-index: 10;
  }
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background: white;
  border-radius: 4px;
  border: 1px solid var(--veryLightBloobirds);

  max-width: 650px;

  height: 315px;
}

.funnelRoot {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  background: white;
  border-radius: 4px;
  border: 1px solid var(--veryLightBloobirds);
}

.funnelContent {
  display: flex;
  flex: 1;
  padding: 24px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  border-bottom: 1px solid var(--veryLightBloobirds);
  height: 45px;
  padding: 12px;
  align-items: baseline;
  box-sizing: border-box;
  justify-content: space-between;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header > div > p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header > div > p:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.header > div > p:last-child:hover {
  overflow: visible;
}

.header svg {
  margin-left: 6px;
}

.content {
  display: flex;
  flex: 1;
}

.spinnerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.multiPanelDropdownWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: auto;
  justify-self: right;
}

.funnelPanelSelectLabel {
  margin-right: 6px;
}

.multiPanelDropdownWrapper > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Tooltip component introduces a div with inline-flex which breaks layout */
.tooltipWrapper > div {
  display: block;
}

._chart_label {
  margin-left: 6px;
  justify-self: flex-end;
}
._chart_title_wrapper {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._chart_top_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

._chart_panel_top_left{
  display: flex;
  justify-content: space-between;
  justify-self: right;
}

.unknownPanel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
