.container {
  padding: 0 24px 20px 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-top: 56px;
  margin-bottom: 24px;
}

.title_text {
  padding: 0 16px;
}

.select {
  margin-top: 24px;
  margin-bottom: 11px;
}

.button {
  margin-bottom: 24px;
  width: 240px;
  justify-content: center;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.info_text {
  width: 240px;
}

.spinner {
  margin-top: 24px;
  margin-bottom: 28px;
}

.force_text {
  margin-bottom: 8px;
}

.force_text_link {
  display: inline;
  cursor: pointer;
}
