._container {
  height: 100%;
  overflow: auto;
}

._info__container {
  margin-top: 48px;
  margin-bottom: 24px;
}

._header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

._title {
  display: inline-block;
  margin-right: 12px;
}

._title > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._filters__container {
  display: flex;
}

._content__container {
  display: flex;
  padding: 0 40px;
  padding-bottom: 48px;
}

.switchQuestions > * {
  margin: 16px 0;
}

.segmentationBlock {
  margin-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  ._title > h3 {
    max-width: 170px;
  }
}

.options_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
