.slotsForm {
  display: flex;
  padding: 16px 0 8px 0;
  flex-direction: column;
  gap: 8px;
  max-height: 700px;
  z-index: 1;
  box-shadow: 0 -24px 24px -36px rgba(115,115,115,0.75);
  -webkit-box-shadow: 0 -24px 24px -36px rgba(115,115,115,0.75);
  border-top: 4px solid var(--verySoftGrape);
}

.slotsFormHeader{
  display: flex;
  justify-content: space-between;
}

.slotsFormBody {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  gap: 8px;
  height: 179px;
  transition: height ease-in-out 0.5s;
}

.slotsFormBodyHidden {
  height: 28px;
}

.formTitle{
  display: flex;
  align-items: center;
}

.arrowButton {
  margin-right: 4px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #F6FAFD;
}

.arrowButton:hover{
  background-color: #F6FAFD;
}

.sectionHeader{
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}


.slotsFormBody input::placeholder{
  color: var(--softPeanut) !important;
}

.timeSelector {
  display: flex;
  align-items: center;
  gap: 4px;
}

.timeSlotForm {
  padding: 4px;
  border-radius: 8px;
  background-color: #F6FAFD;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
  height: 100%;
  transition: height ease-in-out 0.5s, padding ease-in-out 0.5s;
}

.timeSlotFormHidden {
  height: 0;
  padding: 0;
}

.slotsFormFooter {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.slotsFormFooter > div {
  height: 24px;
}

.slotsFormFooter button {
  height: 24px;
}

.footerRight{
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.footerRight > div {
  height: 24px;
}

.footerRight button:first-child {
  padding: 3px 7px;
}

.footerRight button:first-child > svg{
  margin: 9px -8px 0 0;
}

.modalContent{
  padding: 28px 46px;
}

.parsedSlots {
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  min-height: 96px;
  height: 100%;
  overflow-y: scroll;
}

.parsedSlots > ul {
  padding: 0;
  margin: 0 0 0 16px;
  line-height: 12px;
}
