.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.filterGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
}

.filterGroup > div {
  width: calc((100% - 16px)/3);
}

.rightButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
  margin-top: -40px;
}

.rightButtons button {
  padding: 3px 8px;
  font-size: 12px;
}

.filters{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

