

.contentRoot {
  gap: 16px;
  height: 334px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.filters {
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  display: flex;
  align-items: center;
  gap: 16px;
}

.meetingDuration > div > p {
  white-space: nowrap;
}

.descriptionContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
.activityHeaderTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.footer{
  padding: 24px;
}

.content{
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.content > div {
  gap: 24px;
}

.contentHeader > li {
  align-items: center;
  padding: 0;
  gap: 4px;
  display: flex;
  justify-content: center;
}
.contentHeader > li > div {
  margin: 0 !important;
  flex-direction: row !important;
}

.contentLeft{
  display: flex;
  flex-direction: column;
}

.entitySelector{
  display: flex;
  height: 32px;
  padding: 10px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
  box-sizing: border-box;
}

.entitySelectorOpen {
  border-bottom: 1px solid #1126EA;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.entitySelectorNoUpdates > p {
  color: var(--main-peanut-soft, #94A5B4) !important;
  background-color: transparent;
  cursor: not-allowed;
}

.entityTooltip {
  display: block;
}

.collapsibleInner {
  background: var(--extra-purple-very-soft, #E2E5FF);
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.objectSelector{
  display: flex;
  height: 24px;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  background: var(--extra-purple-very-soft, #E2E5FF);
}

.objectSelectorActive{
  background: rgba(17, 38, 234, 0.25);
}


.objectSelector:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.objectSelector > p {
  font-size: 11px;
  font-weight: 500;
  color: var(--extra-purple, #1126EA) !important;
  text-overflow: ellipsis;
}

.objectSelectorHover{
  background: rgba(17, 38, 234, 0.10);

}

.objectSelectorHover > p {
  color: var(--main-peanut-soft, #94A5B4) !important;
}


.entitySelector > p {
  font-size: 11px;
  font-weight: 500;
  width: 100%;

}

.entityCounter{
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--main-peanut-soft, #94A5B4);
  background-color: #E5ECF5 ;
  border-radius: 50%;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 16px; /* 200% */
}

.entityCounterActive{
  color: var(--extra-purple, #1126EA);
  background-color: var(--extra-purple-light, #9AA4FF);;
}

.entitySelectorActive{
  border-radius: 4px;
  background: var(--extra-purple-very-soft, #E2E5FF);
}
.entitySelectorHover{
  border-radius: 4px;
  background: #E2E5FF50;
}

.contentRight{
  width: 100%;
}

.updatesRoot {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 80px;
}

.updatesHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.updatesHeaderActions{
  display: flex;
  width: 120px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex: 1;
}
.updatesHeaderText{
  flex: 2;
}

.suggestedUpdate {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.valueSelector {
  display: flex;
  flex: 1;
}
.valueSelector > div{
  flex: 1;
}

.suggestedUpdateFieldName {
  display: flex;
  gap: 4px;
  align-items: center;
}

.suggestedUpdateRow {
  display: flex;
  align-items: center;
  gap: 8px
}

.suggestedUpdateRowSelected input {
  color: var(--extra-purple, #1126EA) !important;
}
.suggestedUpdateRowLeft{
  font-weight: 300;
  min-width: 60px;
  font-size: 11px;
  text-align: end;
}

.suggestedUpdateRowActions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.currentValue {
  width: 100%;
  flex: 1;
}


.updates {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 290px;
  overflow-y: scroll;
}

.updates::-webkit-scrollbar {
  width: 0;
}

.item{
  display: flex;
  gap: 4px;
}

.suggestedItem {
  color: var(--extra-purple, #1126EA) !important;

}

input {
  box-shadow: none !important;
}

.confirmedUpdatesList {
  padding-bottom: 24px;
  padding-top: 24px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmedUpdate {
  display: flex;
  text-align: center;
  font-size: 16px !important;
  align-items: center;
}

