.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

.container > * {
  flex: 1; /* Ambas columnas ocupan el mismo espacio */
}

.leftContainer {
  flex: 0;
  border-right: none;
  border-bottom: 1px solid var(--lightPeanut);
  position: relative;
}

.rightContainer {
  flex: 1;
  margin-left: 0;
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.rightContainer form {
  width: 100%;
  display: flex;
}

.slots {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.slotsTitle {
  margin: 72px 56px 0px 56px;
}

.slotsDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 56px 36px 56px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

@media (min-height: 620px) and (min-width: 980px) {
  .container {
    flex-direction: row;
  }

  .leftContainer {
    flex: 1 0 40%; /* La primera columna ocupa un tercio del espacio */
    border-right: 1px solid var(--lightPeanut);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .rightContainer {
    flex: 1 0 60%; /* La segunda columna ocupa el resto del espacio */
    margin-left: -1px;
    margin-top: 0;
  }
}

.info {
  margin: 72px 56px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.firstContainer,
.secondContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info .name > div {
  max-width: 100%;
}

.firstContainer .name > div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstContainer .title > div > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider,
.dividerConfirmation {
  position: relative;
  display: flex;
  align-items: center;
  height: 1px;
  margin: 10px 0; /* Espacio vertical */
}

.dividerConfirmation {
  width: 85%;
  padding: 30px;
}

.divider::before,
.divider::after,
.dividerConfirmation::before,
.dividerConfirmation::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--lightPeanut);
}

.divider::before,
.dividerConfirmation::before {
  margin-right: 10px;
}

.divider::after,
.dividerConfirmation::after {
  margin-left: 10px;
}

.point {
  width: 4px;
  height: 4px;
  background-color: var(--lightPeanut);
  border-radius: 50%;
}

@media (max-height: 620px) or (max-width: 980px) {
  .info {
    flex-direction: row;
    margin-top: 33px;
    margin-bottom: 18px;
  }

  .firstContainer,
  .secondContainer {
    width: 50%;
    justify-content: center;
  }

  .divider {
    margin: 0 20px;
    width: 1px;
    flex-direction: column;
    height: 120px;
  }

  .divider::before,
  .divider::after {
    height: 50px;
    width: 1px;
  }

  .divider::before {
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .divider::after {
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media (max-height: 620px) and (min-width: 980px) {
  .firstContainer {
    width: 65%;
  }

  .secondContainer {
    width: 35%;
  }
}

.date {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dividerInfo {
  height: 1px;
  background-color: var(--lightPeanut);
}

.selectDate {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.selectDate .title {
  margin: 18px 56px;
}

.selectDate .list {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.selectDate .day {
  padding: 12px 24px;
  border: 0px 0px 0px 4px;
  gap: 10px;
  cursor: pointer;
}

.selectDate .day:hover {
  background-color: var(--lightestBloobirds);
}

.selectDate .daySelected {
  background-color: var(--lightBloobirds);
  border-left: 4px solid var(--bloobirds);
}

.selectDate .dayDisabled {
  background-color: var(--verySoftCondition);
  cursor: not-allowed;
  padding: 0px;
}

.selectDate .dayDisabled > div {
  width: 100%;
  justify-content: left;
  padding: 12px 24px;
}

.selectDate .dayDisabled:hover {
  background-color: var(--verySoftCondition);
}

.selectDate .dayDisabled p {
  color: var(--verySoftCondition);
}

.slot {
  display: flex;
  gap: 8px;
}

.slotText {
  border-radius: 4px;
  border: 1px solid var(--lightPeanut);
  flex-grow: 1;
  cursor: pointer;
}

.slotText:hover {
  background-color: var(--lightestBloobirds);
}

.slotText > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
}

.slotTextDisabled,
.slotTextDisabled:hover {
  background-color: var(--verySoftCondition);
  border: 1px solid var(--verySoftCondition);
  cursor: not-allowed;
}

.slotButton {
  display: flex;
}

.slotButton button {
  width: 0px;
  padding: 0px;
  border-color: white;
  opacity: 0;
  transition: 0.5s;
}

.slotButtonSelected {
  margin-right: 10px;
}

.slotButtonSelected button {
  width: 100px;
  border-color: var(--bloobirds);
  opacity: 1;
}

.meetingView {
  margin: 69px 56px 36px 56px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.meetingInfo {
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow: auto;
  padding-top: 4px;
}

.inviteesInfo {
  display: flex;
  gap: 2px;
  margin-top: 4px;
}

.scheduleBtn {
  justify-content: center !important;
}

.goBackBtn {
  position: absolute;
  top: 24px;
  left: 56px;
}

@media (max-height: 620px) or (max-width: 980px) {
  .slots {
    flex: 1 0 65%;
    border-left: 1px solid var(--lightPeanut);
  }

  .selectDate {
    flex: 1 0 35%;
    min-width: 280px;
  }

  .selectDate .title {
    margin-bottom: 8px;
    margin-left: 12px;
  }

  .slotsTitle {
    margin-top: 16px;
    margin-left: 24px;
  }

  .slotsDetails {
    padding: 8px 32px 36px 32px;
  }

  .goBackBtn {
    top: 24px;
    left: inherit;
    right: 54px;
  }

  .meetingView {
    margin: 24px 175px 0px 175px;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .slots {
    flex: 1 0 50%;
  }

  .meetingView {
    margin: 24px 60px 0px 60px;
    width: 100%;
  }
}

.confirmation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.name {
  display: flex;
  gap: 8px;
}

.title {
  display: flex;
  gap: 8px;
}

.name span {
  cursor: initial;
}

.name path {
  fill: var(--melon);
}

.infoSlot {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 800px) {
  .name {
    flex-direction: column;
  }
}

.guestsArea {
  padding: 8px;
  padding-left: 12px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--softPeanut);
  border-radius: 4px;
  position: relative;
  align-items: center;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  gap: 8px;
  cursor: text;
}

.guestsAreaError {
  border: 1px solid var(--tomato);
}

.guestsArea div {
  display: inline-flex;
}

.guestsArea input {
  font-family: var(--fontFamily);
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: var(--peanut);
  background-color: transparent;
  border: none;
  outline: none;
}

.errorInfo {
  padding-top: 4px;
  padding-left: 12px;
}

.errorInfo p {
  font-size: 13px;
}

.placeholder {
  margin-left: -10px;
}

.guestsArea:first-child:focus + .placeholder {
  display: none;
}
