
.cadence_page__container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

._back__button {
  margin-bottom: 36px;
}

._statistics_callout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

._statistics_callout > div[class*="Callout-module_callout"] {
  background-color: var(--veryLightBloobirds);
  border-color: var(--softBloobirds);
  justify-content: center;
}

._statistics_callout > div:first-child > span {
  padding: 8px 0;
}

._cadence__form__content {
  display: flex;
  flex-direction: column;
  width: 800px;
}

._cadence__form__content > div:nth-child(1),
._cadence__form__content > div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

._cadence__form__content > ._steps__wrapper > ._add_step_button {
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 36px;
}

._cadence__preview {
  position: relative;
  margin-bottom: 10px;
}

._link__button {
  cursor: pointer;
  color: var(--bloobirds);
  text-decoration: none;
  font-size: 14px;
}

._disabled_link__button {
  cursor: default;
  color: var(--lightBloobirds);
  text-decoration: none;
}

._disabled_overlay {
  background-color: var(--lighterGray);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  z-index: 5;
}

._knowledge_link {
  text-decoration: none;
  color: var(--bloobirds);
}

._steps__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

._steps_header__wrapper {
  position: relative;
}

._right__actions {
  display: flex;
  align-items: center;
}

._right__actions > * {
  margin-left: 8px !important;
}

._hidden {
  display: none;
}

._steps__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--verySoftPeanut);
  padding: 16px 0;
}

._steps__container > * {
  margin: 8px !important;
}

._radio__container > div > div {
  width: 100%;
  margin: 8px 0;
}

._steps__section {
  margin: 16px 0;
}

._section__title {
  margin: 8px 0;
}

._settings_button {
  cursor: pointer;
}

._settings_button__container > * {
  margin-left: 4px;
}

._editor__container_ast {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

._editor__container {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #94a5b4;
  box-sizing: border-box;
  height: 250px;
  margin-bottom: 14px;
}

._description__title {
  margin-bottom: 8px;
}

._business_asset_title {
  display: flex;
  align-items: center;
}

.radio_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmation_info {
  margin-bottom: 8px;
  line-height: 24px;
}

.confirmation_body {
  margin-bottom: 16px;
}

._callout__container {
  margin-bottom: 26px;
}

._callout_content {
  display: flex;
  flex-direction: row;
  width: 525px;
  justify-content: center;
}

._callout_content > div {
  margin-right: 8px;
}

._callout_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  width: 80px;
}
