._container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

._container > p {
  margin-bottom: 20px;
}

._container > div {
  margin-bottom: 24px;
  width: 494px;
}

._sync_all_checkbox {
  margin-top: 20px;
  max-width: 700px;
  margin-bottom: 0;
}
._activity_select_container {
  display: flex;
  align-items: center;
}
._activity_select_container > svg {
  margin: 0 10px;
}
._activity_select_container > div {
  height: 40px;
}

._checkbox_container {
  display: flex;
  align-items: center;
  width: 800px;
}
._checkbox_container > div:first-child {
  width: 208px;
}
