._container {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

._form_wrapper {
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}

._aside_wrapper {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
  margin: 0;
}
