._banner_link {
    color: var(--bloobirds);
    text-decoration: none;
    cursor: pointer;
}

._banner_link:hover {
    text-decoration: underline;
}

._banner_icon {
    margin-right: 20px;
}

._banner_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

._tab_text {
    font-size: 15px;
    color: var(--verySoftPeanut);
}

._tab_text_selected {
    color: var(--bloobirds);
}

._stats_title {
    display: flex;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
    min-width: 32px;
    margin-right: 20px;
}

._stats_title > svg {
    margin-right: 4px;
}

._header_right_content {
    display: flex;
    flex: 1;
    align-items: center;
}

._header_right_content__end {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

._footer_wrapper {
    margin-top: 25px;
}

._text_wrapper {
    margin-bottom: 5px;
}

._text_align_center {
    text-align: center;
}

._link {
    color: var(--bloobirds);
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

._stats_content {
    display: flex;
    padding: 22px 22px 12px;
    justify-content: center;
}

._selector_wrapper {
    margin-right: 32px;
}

._more_filter_input {
    background: var(--lightestBloobirds);
    color: var(--peanut);
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 180px;
    padding: 4px 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

._more_filter_input > svg {
    margin-left: 8px;
}

._more_filters_input_selected {
    background: var(--softPeanut);
    color: var(--white);
}

._playbook_message {
    display: flex;
    background: var(--verySoftPurple);
    mix-blend-mode: normal;
    border-radius: 4px;
    padding: 4px 11px;
    align-items: center;
}

._playbook_message > span {
    margin-left: 3px;
}

._playbook_message_link:hover {
    cursor: pointer;
}

._create_bobject_button {
    margin-left: 8px;
}

._button_spinner {
    height: 16px;
}

._startTaskSettings {
    margin-left: 8px;
}

._tab_wrapper {
    display: flex;
    position: relative;
}

@media screen and (max-width: 1120px) {
    ._stats_content {
        padding: 16px 0;
    }

    ._selector_wrapper {
        margin-right: 12px;
    }
}
