.detail_header_row {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  gap: 2px;
}
.detail_header_row:hover {
  cursor: pointer;
}

.detail_header_row > Text {
  height: content-box;
}

.detail_header_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
}


.detail_dropdown_row {
  vertical-align: middle;
  gap: 6px;
}
