/* Card */

/* Card Left */
._icons {
  flex-shrink: 0;
  margin-right: 9px;
}

._icons > svg {
  margin-right: 2px;
}

._title {
  flex-shrink: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

._high_priority_icon {
  margin-right: 12px;
}

._bobject_name {
  flex-shrink: 1;
  font-size: 14px;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

._separator {
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background-color: var(--softPeanut);
}

._source {
  margin-left: 2px;
  margin-right: 11px;
  text-align: left;
  flex-shrink: 0;
}

._country {
  margin-right: 8px;
  flex-shrink: 0;
}

/* Card Right */
._mr_rating,
._status,
._qq_rating,
._date,
._assigned_to,
._overdue {
  margin-left: 8px;
  flex-shrink: 0;
}

._assigned_to {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

._date {
  margin-left: 20px;
}
/* END - Card */

/* Content */
._hidden {
  display: none;
}

._list_container {
  margin-top: 30px;
}
/* END - Content */

/* List */
._select_all {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._button {
  margin-left: 4px;
  display: inline;
}

._message {
  background-color: #ebf0f7;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

._link:hover {
  cursor: pointer;
}

._list {
  animation: fade-in 250ms ease-in-out forwards;
  animation-delay: 200ms;
}
/* END - List */

/* Header */
._header {
  margin-bottom: 24px;
  margin-top: 24px;
}

._header > p {
  margin-top: 0;
  margin-right: 8px;
}

._header_icon {
  padding-left: 12px;
  margin-right: 5px;
}

._pause_cadence_link {
  cursor: pointer;
  margin-right: 16px;
}
/* END - Header */

/* Footer */
._footer_wrapper {
  margin-top: 25px;
}
/* END - Footer */

@media (max-width: 1150px) {
  ._s_hidden {
    display: none;
  }
}

@media (max-width: 1550px) {
  ._m_hidden {
    display: none;
  }
}

@media (max-width: 1700px) {
  ._l_hidden {
    display: none;
  }
}
