._cadence_preview_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 24px;
  padding: 0 40px
}

._cadence_table_preview_wrapper {
  max-width: 90%;
  margin: 0 auto;
}

._objects_table_title_wrapper {
  margin: 0 auto 24px;
  padding: 0 40px
}

._no_results__contents {
  box-sizing: border-box;
  padding: 150px 227px 150px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

._no_results__img {
  margin-bottom: 20px;
}

.confirmation_info {
  margin-bottom: 8px;
  line-height: 24px;
}

.confirmation_body {
  margin-bottom: 16px;
}

._status__span {
  display: flex;
  align-items: center;
  gap: 4px;
}

._status__span > * {
  margin: 0 2px;
}

