.wrapper {
  display: flex;
  align-content: space-between;
}

.chip > div {
  background-color: var(--lightestBloobirds);
}

.chip > div:hover {
  background-color: var(--verySoftPeanut);
}

.chipSelected > div,
.chipSelected > div:focus,
.chipSelected > div:hover {
  background-color: var(--softPeanut);
}

.dropdownMenu {
  width: 23px;
  height: 23px;
  border-radius: 16px;
  margin-left: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-left: -5px;
  margin-right: 3px;
}
