._container {
  background-color: var(--lightestGray);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  justify-content: center;
  padding-right: 0;
}

._content_wrapper {
  padding: 36px 32px;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

._content {
  max-width: 1280px;
  width: 100%;
}

._startTasks__container {
  margin-left: auto;
}
