._dashed_line {
  width: 3px;
  height: 16px;
  margin-left: 24px;
  background-color: var(--lighterGray);
  border-left: 1px dashed var(--verySoftPeanut);
}

.dayLabel {
  padding: 2px 8px;
  background-color: var(--white);
  border-radius: 4px;
  display: inline-block;
}
