._informationPanel {
  border: 1px solid var(--lightPurple);
  border-radius: 4px;
  background-color: var(--lightestPurple);
  margin-left: 30px;
  width: 198px;
  padding: 16px;
}

._info_header {
  margin-bottom: 8px;
  line-height: 20px;
}

._stage_callout__wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

._stage_callout__icon {
  align-self: center;
  width: 50px;
  margin-right: 16px;
}

.actions_wrapper {
  width: 302px;
}

.actions_wrapper > div {
  display: flex;
  flex-direction: column;
}

._cadence_preview_wrapper {
  width: 564px;
  margin-bottom: 24px;
}

._nurturing_preview_wrapper {
  width: 564px;
  margin-bottom: 24px;
}

._nurturing_preview_wrapper > div > span {
  padding: 8px 0;
}

._section__wrapper {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

._list__wrapper {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 15px;
}

.hidden {
  display: none;
}

.actions_wrapper > div > div {
  margin-bottom: 8px;
}

._text_block {
  margin-bottom: 12px;
}

._text_block > a {
  text-decoration: none;
  color: var(--bloobirds);
}

._nurturing_text_block {
  font-size: 11px;
  margin-bottom: 8px;
}

._nurturing_text_block > a {
  text-decoration: none;
  color: var(--bloobirds);
}

._selects_wrapper {
  margin-top: 20px;
  width: 552px;
  display: flex;
  justify-content: space-between;
}

._note_text_area {
  text-align: start;
  margin-top: 15px;
}

._reassign_selects_wrapper {
  margin-top: 20px;
  width: 552px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

._add_task_module {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

._add_task_title {
  margin-bottom: 12px;
}

.box {
  position: relative;
  z-index: 99;

  bottom: 73%;
  left: 50%;
  transform: translateX(-50%);

  width: 700px;
  background: #ffffff;

  /* Main/peanut-light */
  border: 1px solid #d4e0f1;

  /* snackbar-shadow */
  box-shadow: 0 2px 8px rgba(70, 79, 87, 0.33);
  border-radius: 4px;
}

._nurturing_bottom {
  bottom: 68%;
}
