.box {
  border-radius: 4px;
  background: var(--white, #FFF);
  padding: var(--Spacing-02, 8px);
  border: none;
  color: var(--peanut);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  box-shadow: none !important;
  outline: none !important;
  box-sizing: border-box;
}

.empty {
  color: var(--softPeanut);
}

.disabled {
  background: var(--superVeryLightBloobirds, #F6FAFD);
  color: var(--softPeanut);
  cursor: unset;
}
