.container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.activity_container {
  margin-top: 2px;
  height: 93%;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}

._messages_wrapper {
  min-height: 0;
  height: calc(100% - 46px);
  overflow-y: overlay;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-color: #ECF3E5;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.templateSelectorContainer {
  background-color: var(--veryLightBloobirds);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding-left: 1px;
  height: 24px;
  width: 35px;
  cursor: pointer;
}

.templateSelectorContainer > div:first-child {
  margin-left: -2px;
  margin-right: -8px;
}

.templateSelectorDropdown {
  display: flex;
}

.templatesContainer {
  margin: 8px 4px 8px 16px;
}

.titleSectionContainer {
  display: flex;
  align-items: center;
}

.titleSectionContainer:last-child {
  margin-left: 4px;
}

.input {
  margin: 8px 16px 20px 16px;
  padding: 8px;
}

.noResultFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 16px 20px 16px;
}

.noResultFound > * {
  margin-right: 4px;
}

.resyncButtonContainer {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding: 8px;
}

.resyncButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 2px 4px;
  gap: 4px;

  width: 80px;
  height: 24px;

  background: #cde2f6;
  border-radius: 4px;

  cursor: pointer;
}

.whatsAppContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  cursor: pointer;
}

.wsRunAnimation > div {
  position: relative;
  animation: jiggle 30s ease-in-out infinite;
}

/* Definición de la animación */
@keyframes jiggle {
  0% {
    transform: rotate(-15deg);
  }
  1% {
    transform: rotate(15deg);
  }
  2% {
    transform: rotate(-15deg);
  }
  3% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(-15deg);
  }
  5% {
    transform: rotate(15deg);
  }
  6% {
    transform: rotate(-15deg);
  }
  7% {
    transform: rotate(15deg);
  }
  8% {
    transform: rotate(-15deg);
  }
  9% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(0);
  }
}

.whatsAppContainerDisabled {
  opacity: 0.5;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;

  background: #ff0000;
  border-radius: 50%;
  color: white;
  font-size: 9px;
  font-weight: bold;

  position: absolute;
  top: -4px;
  right: -4px;
}

._messages_wrapper > div {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

._messages_wrapper > div > div {
  overflow-y: overlay;
  overflow-x: unset;
}

._reported_separator {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 12px;
  margin-bottom: 10px;
}

._date_separator {
  padding: 12px;
}

._message {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 0 15px;
}
._message_text{
  word-wrap: break-word;
}

._last_message {
  margin-bottom: 16px;
}


._message > div {
  position: relative;
  box-sizing: border-box;
  max-width: 70%;
  padding: 8px;
  border-radius: 4px;
}

._message_body {
  padding-bottom: 18px !important;
}

._message_body > p:not(:last-child) {
    margin-bottom: 4px;
}

._message_outgoing {
  justify-content: flex-end;
}

._message_outgoing > div {
  background-color: #D9F0C0;
}

._message_incoming > div {
  background-color: var(--white);
}

._svg_wrapper span {
  width: 20px;
  height: 20px;
}

._svg_incoming {
  transform: translate(45%, -35%);
  position: absolute;
  top: 0;
  right: 0;
}

._svg_outgoing {
  transform: translate(-45%, -35%);
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  margin: auto;
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._conversation_wrapper {
  display: flex;
  flex-direction: column-reverse;
}

._message_date {
  position: absolute;
  right: 4px;
  font-size: 9px;
  bottom: 4px;
  color: var(--softPeanut);
}

._date_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 8px;
}

._date_wrapper > p {
  text-align: center;
  text-shadow: 0 1px 0 #fff, .4);
  background-color: #fff;
  border-radius: 12px;
  font-size: 12px;
  padding: 0 8px;
}

.label {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

._media_wrapper {
  display: flex;
  padding: var(--Spacing-02, 8px) var(--Spacing-03, 16px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 4px;
  background: rgba(0, 0, 0, 0.10);
}

._audio_player {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.loader {
  position: absolute;
  left: 50%;
}

._media_title {
  display: flex;
  align-items: center;
  gap: 15px;
}

._media_title > svg {
  flex-shrink: 0;
}

._media_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

._media_text > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 125px;
}

._waveform {
  width: 240px;
  height: 42px;
}

.chatBox {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  align-self: stretch;
  padding: 8px;
  width: 100%;
}

._media_image {
  max-width: 100%;
  height: auto; /* Ensures the height adjusts based on the width while maintaining aspect ratio */
  border-radius: 4px;
}

.dropzone {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed var(--melon, #63BA00);
  background: rgba(217, 240, 192, 0.50);
  color: var(--melon,  #63BA00);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  z-index: 1000;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 0 0 0 10px;
}

.dropzoneActive {
  display: flex;
}

.display_transcription {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.transcription_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.transcription_box > .display_transcription {
  cursor: unset;
}

.case_id_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 12px 0;
  gap: 4px;
}

.case_id_wrapper > div {
  display: flex;
  align-items: center;
  gap: 4px;
}
