._container {
  max-height: 300px;
  width: 100%;
  overflow: auto;
}

._item {
  width: 100%;
  top: 0;
  position: absolute;
}
._input {
  width: 238px;
}
._input > div {
  text-decoration: none;
}

._relative {
  width: 100%;
  position: relative;
}
