._wrapper {
  padding: 0;
}

._content {
  padding: 16px 32px;
  height: 266px;
  overflow: auto;
}

._section {
  margin-bottom: 16px;
}

._section > h4 {
  margin-bottom: 8px;
}

._segmentations {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

._segmentation_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

._segmentation_item > p {
  min-width: 73px;
  white-space: nowrap;
  margin-right: 5px;
  display: table;
}
._segmentation_item > div > div {
  margin-right: 8px;
  white-space: nowrap;
  margin-bottom: 8px;
}

._segmentation_item_values {
  display: flex;
  flex-wrap: wrap;
}

._target_market_carousel {
  background-color: var(--lighterGray);
  padding: 20px 24px;
}

._target_market_carousel > div > div > div > div {
  display: flex;
  align-items: center;
}

._target_market_carousel > div > div {
  min-width: 524px;
}

._target_market_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 102px;
}

._target_market_wrapper:hover {
  cursor: pointer;
}

._target_market__name {
  margin-top: 8px;
  white-space: nowrap;
}

._footer {
  display: flex;
  width: 556px;
  justify-content: flex-end;
}

._empty_message {
  max-width: 295px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

._playbook_link {
  color: var(--bloobirds);
  text-decoration: underline;
}

._playbook_link:hover {
  cursor: pointer;
}

._description {
  font-family: 'Proxima Nova Soft';
}

._description > * {
  font-family: 'Proxima Nova Soft';
  max-width: 100%;
}

._description img {
  max-width: 100%;
}

._description > div > div > img {
  max-width: 100%;
}

._description > div > a > img {
  max-width: 100%;
}

._description h1 {
  font-size: 26px;
  margin: 18px 0;
  font-weight: 700;
}

._description h2 {
  font-size: 18px;
  margin: 16px 0;
  font-weight: 700;
}

._description div,
._description ol,
._description ul {
  font-size: 13px;
}

._description h1:first-child,
._description h2:first-child,
._description ul:first-child,
._description ol:first-child,
._description p:first-child {
  margin-top: 0;
}

._description h1:last-child,
._description h2:last-child,
._description ul:last-child,
._description ol:last-child,
._description p:last-child {
  margin-bottom: 0;
}

._description p {
  margin: 0;
}

._description ul,
._description ol {
  padding-left: 40px;
}

._description p,
._description ol,
._description ul {
  line-height: 19px;
}

._description blockquote {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 2px solid #ddd;
  padding: 10px 20px 10px 16px;
  color: #aaa;
  font-size: 13px;
}
