.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  margin-top: -40px;
}

.rightButtons button {
  padding: 3px 8px;
  font-size: 12px;
}
