.root {
  overflow-y: scroll;
  background-color: #43a3fd;
  z-index: 1;
  width: 247px;
  transition: width 0.4s ease;
}

.root > * {
  transform: translate(0px, 0px);
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.root::-webkit-scrollbar {
  width: 0;
}

.emptyListEmoji {
  font-size: 36;
}

.transition {
  width: 0;
}

.transition > * {
  transform: translateX(-252px);
}

.emptyList {
  text-align: center;
  font-weight: bold;
  margin-top: 236px;
  color: var(--white);
}

.taskAheadTitle {
  display: block;
  color: var(--white);
  margin: 20px 16px 0;
  font-size: 14px;
  padding: 14px 0 0;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loader {
  color: white;
}
