.loginForm {
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.loginFormHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormConnections {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 12px;
  margin-top: 16px;
}

.loginFormHeader .error {
  height: 38px;
  margin-top: 16px;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
}

.dividerText {
  font-family: 'Inter', sans-serif;;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 1px;

  /* Main/peanut-soft */
  color: #94A5B4;
  flex-shrink: 0;
}

.dividerLine {
  width: 100%;
  height: 1px;
  background: #94A5B4;
  opacity: 0.6;
}

.dividerLine:first-child {
  margin-right: 8px;
}

.dividerLine:last-child {
  margin-left: 8px;
}

.loginFormInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.termsAndConditionsLink {
  font-weight: bold;
  margin-left: 3px;
  color: #0077B5;
}

.termsAndConditionsLink:hover {
  text-decoration: underline;
  color: #0077B5;
}

.noSelectableText {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noSelectableText > div {
  width: 100%;
}

.noSelectableText > div {
  font-size: 13px;
}

.error {
  font-size: 10px;
  color: var(--tomato);
}

.successText {
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 16px;
  color: #464f57;
}

.submitButton {
  margin-top: 16px;
}

.spinner {
  align-self: center;
}
