.container {
  border: 1px var(--verySoftBanana) solid !important;
  margin-bottom: 8px;
  border-radius: 4px;
}

.gray {
  border: none !important;
}

.gray > div {
  background-color: var(--lightestBloobirds) !important;
}

.container > div > div {
  width: 100%;
  gap: 6px;
}

.container div[class*="CardHeader-module_header"] {
  max-height: 16px;
}

.container div[class*="CardContent-module_content"] {
  display: flex;
  flex-direction: column;
}

.container > div > div:nth-last-child(1) {
  margin-top: 0;
}

.container > div > div:first-child > div:nth-last-child(1) > div {
  padding: 8px !important;
  gap: 4px;
  right: 0;
  top: 0;
  border-radius: 4px;
}

.container > div > div > div:first-child {
  margin-right: 0;
}

.container > div {
  padding: 8px !important;
}

.container > div div[class*="CardContent-module_content"] {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.container > div div[class*="CardBody-module_body"] {
  gap: 4px;
}

.body {
  display: flex;
  align-items: center;
  gap: 4px
}

.emailCard_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteContent {
  width: 90%;
  max-width: 315px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -4px;
}

._emailCard_body__text {
  display: flex;
  margin-right: 4px;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

._emailCard_body__text > div {
  width: 100%;
  white-space: break-spaces;
}
