.container {
  padding-bottom: 24px;
}

._section__wrapper {
  margin-bottom: 16px;
}

._content__wrapper {
  padding-top: 5px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

._content__wrapper label {
  width: 182px;
}

._lead_info_container {
  display: flex;
  width: 180px;
  margin: 0 auto 22px;
  gap: 6px;
  flex-direction: column;
  align-items: center;
}

._name__wrapper {
  display: flex;
}

._name__wrapper > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

._name__wrapper > svg {
  margin-right: 4px;
}

._currentStatus__wrapper > div {
  width: 100%;
  max-width: 182px;
  padding: 3px 16px;
  text-align: center;
  opacity: 0.5;
  font-size: 11px;
}

._change_lead_status__wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
}

._lead_with_company_container {
  display: flex;
  gap: 6px;
  height: 72px;
  flex-direction: column;
}

._change_company_status__wrapper {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

._change_company_status__wrapper > ._name__wrapper {
  height: 24px;
}

._change_company_status__wrapper > ._currentStatus__wrapper {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._single_entity {
  margin-left: -12px;
  justify-content: center;
}

._list_status > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

._list_status > div > div {
  width: 160px;
  font-size: 11px;
  padding: 3px 16px;
}

._radios_list_status {
  width: 100%;
}

._warning__wrapper > div {
  font-size: 12px;
}

._warning__wrapper > svg {
  padding: 0;
  margin-right: 12px;
}

._radios_list_status > div > div {
  letter-spacing: 0;
  margin-bottom: 8px;
  padding: 4px 12px;
  font-size: 12px;
}

._title__wrapper {
  margin-top: 4px;
  margin-bottom: 12px;
}

._title__wrapper__centered {
  display: flex;
  justify-content: center;
}

._reason__wrapper {
  margin-right: 15px;
  width: 50%;
}

._buttons__wrapper {
  display: flex;
  width: 100%;
}

.skip_button {
  margin-left: auto;
  margin-right: 16px;
}

.back_button {
  margin-left: 0px;
  margin-right: auto;
}
