._input__container {
  margin-top: 10px;
  margin-bottom: 25px;
}

._link__button {
  cursor: pointer;
  color: var(--bloobirds);
}

._howTo__text {
  margin-bottom: 20px;
}

._form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
