.container {
  padding: 40px 120px;
  margin-bottom: 40px;
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--lighterGray);
  display: flex;
  flex-direction: column;
}

.container_small_desktop {
  padding: 40px 40px;
}

.body {
  width: 100%;
  display: flex;
  background-color: var(--white);
}

.leftSide {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--veryLightPeanut);
  border-radius: 4px 0 0 4px;
  padding: 24px;
  gap: 16px;
}

.rightSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--veryLightPeanut);
  border-radius: 0 4px 4px 0px;
  border-width: 1px 1px 1px 0px;
  gap: 16px;
}

.rightSide > div > div {
  display: flex;
  border-top: 0;
}

.rightSide > div > div:last-child {
  overflow: auto;
  transition: max-height 1s ease 0s;
}

.rightSide > div > div > div {
  width: 100%;
}

.tabContainer {
  height: 100%;
  width: 25%;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 0 !important;
}

.tabContainerActive {
  box-shadow: inset 0px -4px 4px 0px var(--verySoftPurple);
}

.loader {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.spinner {
  margin-top: 24px;
}
