._save_edit_container {
  display: flex;
}

._save_edit_container > div {
  display: flex !important;
}

._save_edit_confirmation {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  width: 260px;
}

._save_edit_text {
  margin-top: 8px;
}

._save_edit_text > p {
  line-height: 24px;
}

._save_edit_anchor {
  display: flex;
}

._save_edit_buttons {
  display: flex;
  margin-top: 13px;
  flex-direction: row;
  justify-content: space-between;
}

._save_edit_buttons button {
  width: 120px;
}

._save_edit_lists {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  width: 290px;
}

._save_edit_lists_buttons {
  display: flex;
  margin-top: 13px;
  flex-direction: row;
  justify-content: space-between;
}

._save_edit_lists_buttons button {
  width: 135px;
}

.buttonsContainer {
  gap: 12px;
}
