.container {
  margin-bottom: 4px;
  cursor: pointer;
  height: 40px;
}

.withBody {
  height: fit-content;
}

.rightSide {
  margin-left: auto;
}

.rightSideSpace {
  width: 8px;
}

._plain_component {
  white-space: nowrap;
}

.isCompleted {
  transition: height 300ms;
  height: 0 !important;
  margin-bottom: 0 !important;
}

.container > div {
  padding: 7px 0 7px 10px !important;
  height: 40px;
  display: flex;
  border-left: 4px solid;
}

.container > div > div {
  width: 100%;
  min-height: 21px;
}

.withBody > div {
  height: fit-content;
  flex-direction: column;
}

.container > div > div > div:nth-child(2) {
  padding: 0 !important;
  max-width: 90%;
}

.container div[class*='CardContent-module_content'] {
  margin-top: 2px;
}

.container div[class*='CardRight-module_right'] {
  margin-right: 8px;
}

.borderGreen > div {
  border-color: #d9fdee !important;
  border: 1px solid;
  border-left: 4px solid var(--verySoftGrape) !important;
}

.borderGray > div {
  border-color: #e5ecf5 !important;
  border: 1px solid;
  border-left: 4px solid var(--softPeanut) !important;
}

.border > div {
  border-color:  var(--lightestBloobirds) !important;
  border: 1px solid;
  border-left: 4px solid var(--lightPeanut) !important;
}

.borderRed > div:not(._dashed_line) {
  border-color: var(--extraMeeting) !important;
  border: 1px solid;
  border-left: 4px solid var(--extraMeeting) !important;
}

._icons {
  flex-shrink: 0;
  margin-right: 9px;
}

._icons > svg {
  margin-right: 2px;
}

._title {
  height: 24px;
  flex-shrink: 1;
  margin-right: 4px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

._title > div[class*='Tooltip-module_anchor'] {
  overflow: hidden;
}

.verticalEllipsis {
  padding: 0 10px 0 0;
  max-width: 100%;
  white-space: normal;
  height: fit-content;
}

.verticalEllipsis p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

._description {
  padding: 0 10px 0 0;
}

._datetime {
  display: flex;
  gap: 4px;
}

._datetime > p {
  white-space: nowrap;
}

._time {
  margin-left: 4px;
}

.cardButtons {
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 4px;
  margin-left: auto;
  padding-bottom: 3px;
  background-color: white;
}

.cardButtons > div button[data-test='Button-Subhome-NextStep'] {
  transform: rotate(180deg);
}

.cardButtons div[class^='CardHoverButtons-module_container'] {
  padding: 8px 0 8px 8px !important;
}

._mark_as_done {
  transition: background-color ease-in-out 0.3s;
}

._mark_as_done_clicked {
  background-color: var(--verySoftMelon) !important;
  border-color: var(--verySoftMelon) !important;
}

._mark_as_done_clicked > svg > path {
  fill: var(--melon) !important;
}

._container {
  position: relative;
  margin: 8px 0;
  cursor: pointer;
}

._container > div {
  height: 60px;
  padding-left: 16px;
  display: flex;
  align-content: center;
}

._container > div > div {
  display: flex;
  align-items: center;
  width: 100%;
}

._container ._link_wrapper_ml {
  margin-left: 0;
}

._dashed_line {
  position: absolute;
  width: 0;
  height: 8px;
  left: 28px;
  border-left: 1px dashed #c5d1dd;
}

._container:last-child {
  margin-bottom: 16px;
}

/* Card */

/* Card Left */

._card_checkbox {
  margin-right: 9px;
}

._icons {
  display: flex;
  flex-shrink: 0;
  margin-right: 9px;
}

._icons > svg {
  margin-right: 2px;
}

._title {
  flex: 1;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

._now_time {
  flex-shrink: 1;
  font-size: 14px;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6px;
}

._now_time Text {
  margin-left: 6px;
}

._timezone {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

._datetime {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

._datetime_hour {
  margin-right: 4px;
}

._high_priority_icon {
  margin-right: 12px;
}

._bobject_name {
  flex-shrink: 1;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

._bobject_name > div {
  display: block;
}

._status_wrapper {
  margin-right: 4px;
  text-align: left;
  flex-shrink: 0;
}

._target_market_wrapper {
  font-size: 13px;
  flex-shrink: 0;
  margin-right: 4px;
}

._url_wrapper {
  flex-shrink: 1;
  min-width: 0;
  font-size: 13px;
}

._text_wrapper {
  margin-left: 8px;
  margin-right: 24px;
  flex-shrink: 0;
}

._source {
  margin-right: 12px;
  flex-shrink: 0;
}

._number_leads_wrapper {
  font-size: 13px;
  margin-left: 3px;
  margin-right: 4px;
  flex-shrink: 0;
}

._amount_wrapper {
  font-size: 13px;
  margin-left: 3px;
  margin-right: 4px;
  flex-shrink: 0;
  display: flex;
  gap: 4px;
}

._separator {
  display: flex;
  align-self: center;
  margin-right: 4px;
  width: 1px;
  height: 12px;
  background-color: var(--softPeanut);
}

._country {
  margin-right: 4px;
  flex-shrink: 0;
}

._icon__container {
  display: flex;
}

/* Card Right */
._status,
._date,
._overdue {
  margin-left: 8px;
  flex-shrink: 0;
}

._assigned_circle {
  margin-left: 6px;
  margin-right: 6px;
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority_container {
  margin-right: 8px;
  margin-left: 4px;
  margin-top: -1px;
}

._assigned_to {
  margin-right: 8px;
}

._date {
  margin-left: 20px;
}

.skipTask_button {
  padding: 3px 8px !important;
}

/* END - Card */

/* Content */

._name_wrapper {
  margin-right: 4px;
  max-width: 182px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

._status_wrapper {
  margin-left: 8px;
  margin-right: 24px;
  min-width: 64px;
  text-align: left;
}

._header {
  margin-bottom: 24px;
  margin-top: 24px;
}

._header:first-child {
  margin-top: 0;
}

._card_wrapper {
  display: flex;
  align-content: center;
}

._header :first-child {
  margin-right: 4px;
}

._filters__title {
  margin-right: 12px;
}

._clear_wrapper {
  width: 85px;
}

._clear_wrapper button {
  padding: 0;
}

._url_wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

._footer_wrapper {
  margin-top: 25px;
}

._timezome_wrapper {
  margin-right: 12px;
  white-space: nowrap;
  max-width: 285px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

._name_container {
  min-width: 0;
  font-size: 11px;
  font-weight: 500;
}

._name_container > div {
  display: block;
}

._timezome_wrapper > p:nth-child(1) {
  margin-right: 12px;
}

._icon_wrapper {
  margin-right: 4px;
  flex-shrink: 0;
  display: flex;
}

.linkedinDropdown > div {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

._more_filter_input {
  background: var(--lightestBloobirds);
  color: var(--peanut);
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 180px;
  padding: 4px 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 2px;
}

._filled_more_filter_input {
  background: var(--softPeanut);
  color: var(--white);
}

._more_filter_input > svg {
  margin-left: 8px;
}

._select_all_wrapper {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 12px 0;
}

._transition {
  height: 0;
}

._transition > * {
  transform: translateY(-100px);
}

._filter_container {
  transition: height 0.3s ease;
  overflow: hidden;
  justify-content: center;
}

._filter_container > * {
  transform: translate(0px, 0px);
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

._button_wrapper {
  margin-left: 16px;
  display: inline;
}

._message {
  background-color: #ebf0f7;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

._hidden {
  visibility: hidden;
  height: 0;
}

@media (max-width: 1192px) {
  ._clear_wrapper {
    margin-top: 10px;
  }

  ._show_complete_wrapper > div {
    padding-left: 0;
  }
}

._footer_wrapper {
  margin-top: 25px;
}

._cadence_name {
  margin-left: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  overflow: hidden;
}

._cadence_name > svg {
  min-width: 18px;
}

._cadence_name_text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1192px) {
  ._clear_wrapper {
    margin-top: 10px;
  }

  ._show_complete_wrapper > div {
    padding-left: 0;
  }
}

@media screen and (min-width: 1521px) {
  ._date_wrapper {
    max-width: inherit;
  }
}

@media screen and (min-width: 1421px) and (max-width: 1520px) {
  ._date_wrapper > p {
    max-width: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

@media screen and (min-width: 1421px) {
  ._url_wrapper {
    margin-right: 4px;
  }

  ._status_wrapper > div > span {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._name_wrapper > p {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}

@media screen and (min-width: 1221px) and (max-width: 1420px) {
  ._timezome_wrapper > p:nth-child(1) {
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ._name_wrapper > p {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  ._status_wrapper {
    margin-right: 4px;
  }

  ._status_wrapper > div > span {
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._url_wrapper > span {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  ._date_wrapper > p {
    max-width: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

.amount_currency {
  flex-shrink: 0;
}

.controlDiv {
  width: 20px;
  height: 20px;
  background-color: red;
}

.cardButtons > div > button {
  display: flex;
  justify-content: center;
  height: 22px;
  width: 32px;
  padding: 1px 6px !important;
}

/*For dropdown cases (linkedIn button)*/
.cardButtons > div > div > div > button {
  display: flex;
  justify-content: center;
  height: 22px;
  width: 32px;
  padding: 1px 6px !important;
}

.container > div > div > div > div[class^='CardHoverButtons-module_container'] {
  padding: 0 !important;
}

.cardNewTag {
  background-color: var(--verySoftMelon);
  margin-right: 8px;
  padding: 0 4px;
  color: var(--melon);
  border-radius: 4px;
  font-size: 10px;
}

@media screen and (min-width: 1181px) and (max-width: 1220px) {
  ._timezome_wrapper > p:nth-child(1) {
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ._date_wrapper > p {
    max-width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._status_wrapper {
    margin-right: 4px;
  }

  ._status_wrapper > div > span {
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._name_wrapper > p {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  ._url_wrapper > span {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-right: 4px;
  }
}

@media screen and (min-width: 1111px) and (max-width: 1180px) {
  ._date_wrapper > p {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._status_wrapper {
    margin-right: 4px;
  }

  ._status_wrapper > div > span {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

@media screen and (min-width: 1079px) and (max-width: 1110px) {
  ._status_wrapper {
    margin-right: 4px;
  }

  ._status_wrapper > div > span {
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._date_wrapper > p {
    max-width: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._name_wrapper > p {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  ._url_wrapper > span {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}

@media screen and (max-width: 1078px) {
  ._filter_wrapper > div > div {
    width: 75px;
  }

  ._name_wrapper > p {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  ._text_wrapper {
    margin-right: 12px;
  }

  ._url_wrapper > span {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  ._status_wrapper {
    margin-left: 0;
    margin-right: 4px;
  }

  ._status_wrapper > div > span {
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  ._date_wrapper > p {
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

@media (max-width: 900px) {
  ._xs_hidden {
    display: none;
  }
}

@media (max-width: 1150px) {
  ._s_hidden {
    display: none;
  }
}

@media (max-width: 1550px) {
  ._m_hidden {
    display: none;
  }
}

@media (max-width: 1700px) {
  ._l_hidden {
    display: none;
  }
}

.plainContainer {
  min-width: 0px;
}

.plainContainer > div {
  display: flex;
}

.plainContainer > div > div {
  flex: 1;
  min-width: 0px;
}

.plainContainer > div > div > p {
  overflow: hidden;
  text-overflow: ellipsis;
}
