.actions__container {
  display: flex;
  justify-content: center;
  margin: 8px 8px 12px 8px;
}

.actions__container > * {
  margin: 0 2px 0 2px;
}

.loading_container {
  border-radius: 100%;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(100 100 100 / 20%) 0 2px 4px;
}
