._actionContainer {
  margin-bottom: 40px;
}

._actionContainer > p {
  margin-bottom: 16px;
}

._actionContainer > div > div:not(:first-child) {
  margin-left: 8px;
}

._leadContainer {
  display: flex;
  flex-direction: column;
}

._leadContainer > p {
  margin-bottom: 8px;
}

._buttons__wrapper {
  margin-top: 36px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

._forward__buttons > button {
  margin-left: 18px;
}

._lead__info {
  margin-left: 8px;
}

._lead__company {
  display: flex;
  align-items: center;
}

._lead__company > * {
  margin-right: 4px;
}

._company__icon {
  flex-shrink: 0;
}

._selectorsContainer {
  display: flex;
  justify-content: space-between;
}

._selectorsContainer > div:first-child {
  width: 60%;
}

._selectorsContainer > div:last-child {
  width: 30%;
}
