.container {
    position: relative;
    box-sizing: border-box;
    cursor: grab;
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dragging {
    cursor: grabbing;
}

.actions {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
}

.handle {
    position: absolute;
    top: 4px;
    left: 48%;
    transform: rotate(90deg);
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.container:hover .handle {
    opacity: 1;
    visibility: visible;
}
