.label {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.variableList {
  max-height: 256px;
  overflow-y: scroll;
}

.floatingTemplateVariable {
  height: 100%;
  padding-right: 12px;
  z-index: 10;
}

.meetingLinksDropdownWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 322px;
  box-sizing: border-box;
}

/* Linkedin overrides */
.meetingLinksDropdownWrapper input {
  margin: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  border: none !important;
  width: 100%;
}

.meetingLinksDropdownWrapper input::placeholder {
  color: transparent !important;
}

.meetingLinksDropdownWrapper input:focus {
  outline: none !important;
  background-color: transparent;
}

.templateMeetingLinksDropdownWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 16px 24px;
}

.templateMeetingLinkCallout {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 16px;
  background-color: var(--verySoftBanana);
  border: solid 1px var(--banana);
  border-radius: 4px;
  margin-bottom: 24px;
}

.templateMeetingLinkCallout > svg {
  width: 96px;
  margin-right: 16px;
}

.meetingLinksHeader {
  margin-bottom: 8px;
}

.meetingLinksTextDisplayInput {
  margin-bottom: 18px;
}

.meetingLinksTextDisplayInput input {
  margin: 0 !important;
  box-shadow: none !important;
  height: 32px;
  border: none !important;
  width: 100%;
}

.radioGroup {
  margin-bottom: 16px;
}

.dropdownSelects > * {
  margin-bottom: 16px;
}

.addButton {
  display: flex;
  justify-content: end;
}

.templateVariable {
  display: flex;
  height: 20px;
  align-items: center;
}

.templateVariable > div {
  height: 24px;
  display: flex !important;
  align-items: center;
}

.toolbar > * {
  font-size: 1rem;
}

.timeSlotsButton {
  height: 32px;
  display: flex;
}

.timeSlotsButton > button > svg {
  width: 30px;
  height: 30px;
  margin-bottom: -13px;
  margin-right: -8px !important;
}

.sizeDropdown {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 48px;
  padding-right: 48px;
}

.sizeDropdown:hover {
  background-color: #eee;
}

.sizeItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sizeItem > svg {
  position: absolute;
  margin-left: -28px;
  vertical-align: middle;
  margin-right: 12px;
  right: 100%;
}

.sizeContainer,
.colorContainer {
  display: flex;
}

.sizeContainer > div,
.colorContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sizeContainer div:nth-child(2) {
  padding-top: 6px;
  padding-bottom: 6px;
}

.itemSignature {
  padding: 4px 16px;
}

.itemSignature:hover {
  background-color: #eee;
}

.separator {
  border-top: 1px solid var(--lightestBloobirds);
  margin-top: 8px;
  margin-bottom: 8px;
}
