._content {
  padding: 32px;
  border-radius: 4px;
  border: 1px solid var(--verySoftCondition);
  margin-bottom: 32px;
}

._description {
  margin-bottom: 24px;
}

._description > p {
  margin-bottom: 8px;
}

._section_wrapper {
  display: flex;
}

._column_wrapper {
  width: 328px;
  margin: 0 48px;
}

._search_wrapper {
  margin-top: 24px;
  margin-bottom: 20px;
}

._item_card {
  user-select: none;
  padding: 8px;
  margin: 0 0 8px 0;
  background-color: var(--white);
  border: 1px solid var(--verySoftPeanut);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  position: static;
}

._item_card > ._item_handler {
  flex-shrink: 0;
  margin-right: 16px;
}

._item_card > ._item_delete {
  flex-shrink: 0;
}

._item_wrapper {
  display: flex;
  width: 100%;
  padding-left: 4px;
  align-items: center;
}

._item_wrapper > div {
  margin-right: 8px;
}

._item_list {
  max-height: 400px;
  overflow-y: scroll;
}
