.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  transition: all 0.22s ease-out;
  margin-top: 0px;
  border-bottom: 1px solid var(--lightPeanut);
  position: relative;
  overflow: auto;
}

.loader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.spinner {
  margin-top: 24px;
}

.footer {
  flex-grow: 0;
  padding: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-height: 620px) and (min-width: 980px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 940px;
    min-height: 500px;
    max-height: 900px;
    transition: all 0.22s ease-out;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 16px 0px #00000040;
    margin-top: 77px;
  }
}

@media (max-height: 760px) or (max-width: 980px) {
  .container {
    margin-top: 48px;
  }

  .footer {
    padding: 36px;
  }
}

@media (max-height: 720px) or (max-width: 980px) {
  .container {
    margin-top: 24px;
  }

  .footer {
    padding: 18px;
  }
}

@media (max-height: 620px) or (max-width: 980px) {
  .container {
    margin-top: 0px;
  }
}

.changeLngBtn {
  position: absolute;
  top: 24px;
  right: 12px;
  z-index: 9;
}
