._container {
  box-sizing: border-box;
  padding: 52px 40px;
  width: 100%;
}

._tooltips_container {
  height: 0;
}

._tab_group {
  box-sizing: border-box;
  padding-top: 20px;
}

.loader {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.spinner {
  margin-top: 24px;
}
