.container {
  padding-top: 4px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.htmlBody {
  flex: 1;
  overflow-y: auto;
}

.htmlBody > * {
  font-size: 10px;
}

.callInfoWrapper {
  padding: 6px 12px 45px 14px;
}

.loading {
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noRecordingText {
  font-size: 16px !important;
  margin: 8px 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}

.badge {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.headerLeft {
  display: flex;
  align-items: center;
  max-width: 240px;
  overflow: hidden;
}

.headerLeft > p {
  margin-right: 0.3em;
  display: flex;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.headerText > p:first-child {
  margin-right: 0.3em;
}

.reportResultButton {
  display: block;
  color: var(--melon);
  white-space: nowrap;
  max-width: 290px;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
}

.disabledButton {
  color: var(--softCondition);
}

.reportResultButton > svg {
  margin-bottom: 1px;
}

.separator {
  margin: 8px 0 12px;
  display: flex;
  align-self: center;
  width: 100%;
  height: 1px;
  background-color: var(--verySoftPeanut);
}

