.card {
  margin-top: 24px;
  box-sizing: border-box;
  border: 1px solid #9acfff;
  box-shadow: 0 2px 20px rgba(25, 145, 255, 0.15);
  border-radius: 8px;
  background-color: white;
  padding: 24px 24px 48px;
}

.list {
  margin-top: 32px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-right: -8px;
}

.input {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
  width: 156px;
  height: 24px;
  border: 1px solid var(--verySoftPeanut);
  border-radius: 4px;
  margin-right: 4px;
}

.content {
  display: flex;
  align-items: center;
}

.line {
  border-top: 1px solid currentColor;
  margin: 40px auto -24px;
  width: 90%;
}

.badge {
  width: 48px;
  height: 48px;
  border: 1px solid currentColor;
  border-radius: 48px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 6px rgba(25, 145, 255, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
}
