.actionsRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.leftSide {
  display: flex;
  gap: 4px;
}

.rightSide {
  display: flex;
  align-items: center;
}

.message {
  background-color: #ebf0f7;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  margin: 0 0 12px 0;
}

.link {
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  align-content: center;
}

.buttonsGroupWrapper {
  display: flex;
  gap: 4px;
}

.totalMatching {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: auto;
}

.totalCounter {
  box-sizing: border-box;
  padding: 5px 16px;
  border-radius: 4px;
  background-color: var(--lightestBloobirds);
}

.selectAllWrapper > div {
  padding: 4px 8px;
}
