._stat_item {
  min-width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 0;
}

._stat_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

._stat_title > p {
  flex-shrink: 1;
  text-overflow: ellipsis;
  cursor: default;
  margin-top: 1px;
}

._stat_content {
  display: flex;
  align-items: center;
}

._stat_percentage {
  display: flex;
  margin-left: 6px;
  margin-top: 5px;
  align-items: center;
}

._stat_percentage > svg {
  margin-left: 2px;
}

._stat_text {
  margin-left: 8px;
}

._dash {
  height: 1px;
  width: 10px;
  margin-left: 3px;
}

@media screen and (max-width: 1280px) {

  ._stat_item > p:first-of-type {
    font-size: 11px;
  }

  ._stat_item:last-of-type {
    margin-right: 0;
  }

  ._stat_content > p:first-of-type {
    font-size: 28px;
  }
}
