.wrapper{
    margin: 8px 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.container > p,
.container > div[class*="Checkbox"] {
    width: 100%;
}

.radioGroup {
    width: 60%;
}

.radioGroup > div {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.button {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    border-radius: 4px;
}

.customButton {
    margin: 8px 0;
    justify-content: center;
}
