._row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-top: 1px solid var(--verySoftPeanut);
  height: 20px;
  cursor: pointer;
}

._row:nth-child(1) {
  border: 0;
}
