.container {
  position: relative;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 4px 0px 8px;
  gap: 16px;
  background-color: var(--lightestBloobirds);
}

.item__container {
  width: 64px;
  height: 40px;
  background: var(--lighterGray);
  mix-blend-mode: normal;
  border-radius: 8px;
  flex-grow: 0;
  margin: 4px 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;

  position: relative;
  gap: 4px;
}

.item__container > p {
  margin-left: 8px;
  flex-shrink: 1;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item__container__disabled {
  cursor: default;
  background-color: var(--lightestBloobirds);
}

.item__container__selected {
  width: 72px;
  border-radius: 8px 0 0 8px;
  background-color: var(--lightestGray);
  padding-right: 22px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

._counter__container {
  flex-shrink: 0;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--peanut);
  justify-content: center;
  padding: 0px 4px;
}

._counter__text_header {
  width: 24px;
  height: 24px;
  font-size: 13px;
  font-weight: 700;
}

._counter__text_tabs {
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 500;
}

._active_counter {
  background-color: var(--bloobirds);
  color: var(--white);
}
