._content__wraper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 60px 0;
    position: relative;
    background-color: var(--white);
}

._info__wrapper {
    margin-top: 16px;
    margin-bottom: 24px;
}

._info__wrapper > div > svg {
    margin: 28px 32px 28px 16px;
    padding: 0 !important;
}

._autocomplete__wrapper {
    margin-bottom: 30px;
}

._autocomplete__wrapper input,
._autocomplete__wrapper input:hover,
._autocomplete__wrapper input:focus {
    height: 24px;
    box-shadow: none;
    outline: none;
    border: none;
}

._confirm__button > button {
    margin-left: 15px;
}

._search_container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    width: 460px;
}

._lead__info {
    margin-left: 8px;
}

._lead__company {
    display: flex;
    align-items: center;
}

._lead__company > * {
    margin-right: 4px;
}

._company__icon {
    flex-shrink: 0;
}

.skip_button {
    margin-left: auto;
    margin-right: 16px;
}

.back_button {
    margin-left: 0;
    margin-right: auto;
}

