.container {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 8px 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.container > div:first-child {
  align-self: end;
  order: 1;
  transition-property: align-self;
  transition-delay: 0.25s;
}

.container > div:last-child {
  order: 2;
}

.container_small {
  flex-direction: row;
}

.container_small_onlyHeader > div:first-child {
  align-self: end;
  order: 2;
}

.container_small_onlyHeader > div:last-child {
  order: 1;
}

.container_small_minimized > div:first-child {
  align-self: start;
  order: 2;
}

.container_small_minimized > div:last-child {
  order: 1;
}

.container_small_sidePeekEnabled {
  margin: 24px 24px 16px 24px;
}

.container_small_sidePeekEnabled_minimized {
  margin-bottom: 8px;
}

.hidden {
  animation: fade-in 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.header_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.title_container {
  min-width: 0;
  max-width: 100%;
  flex-shrink: 1;
}

.title_container > div {
  min-width: 0;
  max-width: 100%;
}

.subtitle,
.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title_sidePeek {
  font-size: 18px;
}

.assignee {
  display: flex;
}

.assignee > * {
  margin-right: 0;
}

.labels_container {
  display: flex;
}

.labels_container > * {
  margin-right: 8px;
}

.info__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    display: inherit;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: inherit;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  gap: 2px;
  align-items: baseline;
  min-width: 0;
  flex-shrink: 1;
}

.circular_badge {
  flex-shrink: 0;
  transition: all 0.25s ease-in-out;
}

.assign_badge:hover {
  opacity: 0.8;
}

.assign_icon:hover {
  background: #deecf7;
  border-radius: 4px;
}

.bigAmount {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #464f57 !important;
}
