.imgGmail {
  position: absolute;
  top: 297px;
  left: 535px;
}

.imgLinkedin {
  position: absolute;
  top: 147px;
  left: 537px;
}

.imgCalendar {
  position: absolute;
  top: 223px;
  left: 506px;
}

.imgJustCall {
  position: absolute;
  top: 276px;
  left: 24px;
}

.imgAircall {
  position: absolute;
  top: 155px;
  left: 47px;
}

.imgDialer {
  position: absolute;
  top: 230px;
  left: 99px;
}

.tooltip {
  position: absolute;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.otoWrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.otoWrapper > div {
  width: 800px;
}

.otoWrapper div[class*='Slider-module_slider'] {
  width: 800px;
}
