._container {
  position: relative;
  width: 236px;
  transition: width 0.5s;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--lightestBloobirds);
}

._header {
  margin: 36px 19px 16px 28px;
  display: flex;
  align-items: center;
}

._header > p {
  flex-grow: 1;
  transition: all 0.5s;
  overflow-x: hidden;
}

._header > svg {
  flex-shrink: 0;
}

._counter__container {
  flex-shrink: 0;
  background-color: white;
  width: 24px;
  height: 24px;
  font-weight: 600;
  border-radius: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--peanut);
  justify-content: center;
}

._active_counter {
  background-color: var(--bloobirds);
  color: var(--white);
}

._container.isCollapsed {
  transition: width 0.5s;
  width: 100px;
}

._container.isCollapsed ._header > p {
  display: none;
}

.collapsible_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid var(--lightestBloobirds);
  box-sizing: border-box;
  right: -8px;
  top: 20px;
}
