.calendar_container {
  position: relative;
  display: flex;
  overflow-y: scroll;
  align-items: stretch;
  max-height: calc(100% - 80px);
}

.calendar_timestrings_container {
  height: auto;
  flex: none;
  display: flex;
  align-items: flex-start;
  min-width: 40px;
}

.calendar_timestring_container {
  height: 40px;
  position: relative;
  padding-inline-end: 8px;
  text-align: right;
}

.calendar_timestring_container:first-child .calendar_timestring {
  display: none;
}

.calendar_timestring {
  display: block;
  color: #70757a;
  font-size: 10px;
  position: relative;
  top: -6px;
}

.calendar_timestring > div {
  display: flex;
  justify-content: flex-end;
}

.calendar_timestrings {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  margin-left: auto;
}

.calendar_column_headers {
  display: flex;
  margin-left: 40px;
  margin-bottom: 4px;
  margin-right: 12px;
}

.calendar_column_header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendar_column_header_name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--peanut);
  margin-bottom: 2px;
}

.calendar_column_header_name_today {
  font-weight: 500;
  color: var(--bloobirds);
}

.calendar_column_header_date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.calendar_column_header_date_today {
  background-color: var(--bloobirds);
  color: white;
}

.calendar_grid_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.calendar_grid {
  border-bottom: #dadce0 1px solid;
  position: relative;
  min-width: 100%;
  flex: none;
  display: inline-flex;
  vertical-align: top;
  overflow-x: hidden;
}

.calendar_grid_tiles {
  z-index: 1;
  border-top: #dadce0 1px solid;
}

.calendar_grid_tile {
  height: 40px;
}

.calendar_grid_tile:after {
  content: '';
  border-bottom: #dadce0 1px solid;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 3;
  pointer-events: none;
}

.calendar_grid_marker_start,
.calendar_grid_marker_end {
  width: 8px;
  border-inline-end: #dadce0 1px solid;
}

.calendar_gridcell_container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-right: white 1px solid;
  overflow: visible;
  display: flex;
}

.calendar_gridcell {
  grid-column-gap: 3px;
  z-index: 1;
  position: relative;
  height: 100%;
  border-right: 1px solid var(--verySoftPeanut);
  overflow: hidden;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
}

.calendar_gridcell_hidden {
  position: absolute;
  grid-column-gap: 3px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  z-index: 2;
  border-color: transparent;
  background-color: transparent;
}

.calendar_gridcell_weekend {
  background-color: #dbdbdb2e;
}
.small_slot * {
  margin-top: -1px;
}

.calendar_cell {
  z-index: 4;
  padding: 0 3px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  color: white;
  font-size: 11px;
  align-items: center;
  line-height: 12px;
  cursor: pointer;
}

.calendar_cell_small {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  line-height: 10px;
  font-size: 10px;
}

.calendar_cell_placeholder {
  border: 1px solid var(--bloobirds);
  border-radius: 2px;
  color: var(--bloobirds);
  cursor: default;
}

.calendar_cell_small > * {
  flex-shrink: 0;
}

.calendar_cell_45 > * {
  white-space: nowrap !important;
  overflow: hidden !important;
}

.calendar_now_marker {
  position: absolute;
  z-index: 504;
  border-top: #ea4335 solid 2px;
  right: 0;
  left: 0;
  pointer-events: none;
}

.calendar_now_marker:after {
  background: #ea4335;
  border-radius: 50%;
  content: '';
  position: absolute;
  height: 12px;
  margin-inline-start: -6.5px;
  margin-top: -7px;
  width: 12px;
}

.calendar_cell:not(.calendar_cell_extended) .calendar_cell_title:after {
  content: ' ';
  margin-inline-end: 4px;
}

.calendar_cell_extended {
  display: block;
}

.calendar_cell_desc {
  display: none;
}

.calendar_cell_title,
.calendar_cell_desc {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.calendar_cell_time {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.event_details_container {
  display: flex;
  flex-direction: column;
}

.event_details_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 16px 16px 0 16px;
}

.event_details_body {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.event_details_datetime {
  display: flex;
  margin-left: 16px;
  margin-top: 4px;
}

.event_details_title {
  display: flex;
  justify-content: space-between;
  margin: 2px 16px 0 16px;
}

.event_details_title_name {
  display: flex;
  align-items: flex-start;
}

.event_details_icon {
  flex-shrink: 0;
}

.event_details_title_text {
  margin: 4px 8px 0 8px !important;
}

.attendees_details {
  display: flex;
  align-items: center;
}

.attendees_title {
  margin-left: 8px !important;
}

.attendees_list_container {
  display: flex;
  flex-direction: column;
  max-height: 260px;
  overflow-y: auto;
  margin-left: 28px;
  padding-right: 8px;
}

.attendee_container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.attendee_container > * {
  margin-right: 8px;
}

._invitee_card {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

._invitee_info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}

._invitee_info > p {
  max-width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 8px;
}

._slots_callout {
  position: absolute;
  gap: 8px;
  z-index: 7;
  width: 363px !important;
  display: flex;
  align-items: center;
  background-color: var(--verySoftGrape);
  color: var(--peanut);
  padding: 8px;
  height: 32px !important;
}

._slots_callout_past {
  background-color: #ffb2c2;
}

._slots_callout_past > svg {
  margin-bottom: 0 !important;
}

._slots_callout > svg {
  width: 27px;
  height: 27px;
  margin-bottom: -9px;
  margin-right: -8px !important;
}

._slots_callout > p {
  font-size: 11px;
}

._slots_callout > button {
  margin-left: auto;
}

.calendar_creating_slots {
  cursor: grabbing;
}
