.container {
  border: 1px var(--verySoftTangerine) solid !important;
  border-radius: 4px;
  margin: 8px 0 4px 0;
}

.gray {
  border: none !important;
}

.gray > div {
  background-color: var(--lightestBloobirds) !important;
}

.container > div {
  padding: 6px 8px;
}

.container > div > div {
  width: 100%;
  gap: 6px;
}

.container div[class*="CardContent-module_content"] {
  display: flex;
  flex-direction: column;
}

.container > div > div:nth-last-child(1) {
  margin-top: 0;
}

.container > div > div:first-child > div:nth-last-child(1) > div {
  padding: 8px !important;
  gap: 4px;
  right: 0;
  top: 0;
  border-radius: 4px;
}

.container > div > div > div:first-child {
  margin-right: 0;
}

.body {
  display: flex;
}

.body > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.emailCard_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteContent {
  width: 90%;
  max-width: 315px;
}

._emailCard_body__text {
  display: flex;
  margin-right: 4px;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

._emailCard_body__text > div {
  width: 100%;
  white-space: break-spaces;
}
