._display_child_companies {
  margin-top: 16px;
  max-height: 228px;
  overflow-y: auto;
}
._display_child_companies::-webkit-scrollbar {
  display: none;
}

._display_child_companies > div {
  margin-bottom: 12px;
}

._modal_container {
  max-height: 513px;
}
._modal_content {
  box-sizing: border-box;
  padding: 24px 48px 37px 48px;
}
._modal_content > div > p {
  margin-bottom: 16px;
}
._modal_header {
  box-sizing: border-box;
  padding: 16px;
}
._modal_content_text {
  display: flex;
  flex-direction: column;
}
._modal_content_text > p:first-child {
  margin-bottom: 48px;
  line-height: 20px;
}
._modal_footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 32px 24px 32px;
}
._modal_footer > button {
  height: 48px;
}

._confirm_modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 22px;
}

._drop_down_container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 368px;
}

._add_related_company_content {
  box-sizing: border-box;
  padding: 24px 84px 18px 84px;
}
._add_related_company_footer_content {
  box-sizing: border-box;
  padding: 0 45px 24px 45px;
}
._add_related_company_button {
  width: 185px;
  height: 48px;
}
._search_input_text {
  margin-left: 12px;
  margin-top: 4px;
}
