.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-bottom: 36px;
}
