.wrapper {
  background-color: var(--lightestBloobirds);
  padding: 0 16px;
  overflow: auto;
  overscroll-behavior-y: contain;
  height: 100%;
}

.wrapper > * {
  margin-bottom: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_header {
  display: flex;
  align-items: center;
}

.right_header {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-bottom: 8px;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--veryLightBloobirds);
}

.container > *:first-child {
  margin-bottom: 8px;
}

.top_container {
  display: flex;
  align-items: center;
}

.top_container > *:first-child {
  margin-right: 4px;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  margin: 0 4px;
}

.info_container {
  display: flex;
  flex-direction: column;
}

.assigned_to {
  display: flex;
  align-items: center;
}

.assigned_to > * {
  margin-right: 4px;
}

.sync_bloobirds_banner {
  display: flex;
  padding: 20px 24px;
  background: linear-gradient(270deg, #43ccf2 0%, #1991ff 100%);
  bottom: 0;
  width: 100%;
  position: relative;
  justify-content: center;
  border-radius: 0 0 4px 4px;
  -webkit-animation: banner_aparition 0.5s;
  animation: banner_aparition 0.5s;
}

@keyframes banner_aparition {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0;
  }
}

.button {
  width: 100%;
  justify-content: center;
}
