._searchButton {
  width: 200px;
  margin-right: 24px;
  border-width: 1px;
  border-color: var(--lightPeanut);
  background: transparent;
}

._shortVersion {
  width: 90px;
  margin-right: 8px;
}

._searchButtonText {
  width: 80%;
  border: none;
  background: none;
}
