._general_wrapper {
    z-index: 1;
    position: absolute;
    top: 27px;
    left: 125px;
}

._date_filter_wrapper {
    z-index: 1;
    position: absolute;
    left: 10.2rem;
    top: 25px;
}

._group_by_wrapper {
    z-index: 1;
    position: absolute;
    left: 23rem;
    top: 25px;
}

._filters_wrapper {
    z-index: 1;
    position: absolute;
    left: 36rem;
    top: 25px;
}

._activity_wrapper {
    z-index: 1000;
    position: absolute;
    top: 9.5rem;
    left: 12.2rem;
}

._image {
    margin-bottom: -42px;
}

._primary_button {
    border-color: var(--white);
}

._clear_button {
    color: var(--white) !important;
    border-color: var(--white);
    background-color: transparent;
}