.cardButtons {
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 4px;
  margin-left: auto;
  padding-bottom: 3px;
  background-color: white;
}

.cardButtons > div button[data-test='Button-Subhome-NextStep'] {
  transform: rotate(180deg);
}

.cardButtons div[class^='CardHoverButtons-module_container'] {
  padding: 8px 0 8px 8px !important;
}


.cardButtons > div > button {
  display: flex;
  justify-content: center;
  height: 22px;
  width: 32px;
  padding: 1px 6px !important;
}

/*For dropdown cases (linkedIn button)*/
.cardButtons > div > div > div > button {
  display: flex;
  justify-content: center;
  height: 22px;
  width: 32px;
  padding: 1px 6px !important;
}

._mark_as_done{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
}


._mark_as_done_text{
  font-size: 12px;
  line-height: 16px;
}
