.header {
  display: flex;
  margin-bottom: 10px;
  margin-top: 16px;
  align-items: center;
}

.header > p {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
  white-space: nowrap;
}

.headerOnlyQQs {
  display: flex;
  margin-bottom: 10px;
  margin-top: 16px;
  align-items: center;
}

.headerOnlyQQs > p {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-width: 590px;
  white-space: nowrap;
}

.headerIcon {
  margin-right: 10px;
  flex-shrink: 0;
}
