._radios_list_status{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

._radios_list_status > div > div{
  margin-bottom: 4px;
}

._change_lead_status__button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 13px;
}
