.header {
  display: flex;
  justify-content: space-between;
  padding: 9px 9px 0 9px;
  box-sizing: content-box;
  align-items: center;
  background-color: var(--verySoftPurple);
}

.headerRight {
  border-top-right-radius: 10px;
}

.headerLeft {
  border-top-left-radius: 10px;
}

.segmentationHeader {
  display: flex;
  justify-content: space-between;
  padding: 9px 9px 0 9px;
  box-sizing: content-box;
  align-items: center;
}

.backButton{
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.playbookFeedContainer {
  height: calc(100% - 33px);
  overflow-y: auto;
}

.playbookFeedContainer > div {
  height: auto;
}

.filterDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.modalContentWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.modalFilterWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 8px;
}

.filterElementsContainer{
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
