.container {
  display: flex;
  flex-direction: column;
  height: 96%;
  box-sizing: border-box;
}

.detail_content_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body_wrapper {
  height: 315px;
  overflow-y: auto;
}

.body_wrapper > div > div ul {
  padding-left: 24px !important;
}

.body_wrapper > div > div ol {
  padding-left: 24px !important;
}

.bottom_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.bottom_bar_alternative {
  padding: 12px 0;
}

.text {
  margin-left: 4px;
}

.record_related {
  display: flex;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 326px;
}

.divider {
  width: 90%;
  text-align: center;
  border-top: 1px solid var(--verySoftPeanut);
  align-self: center;
}

.bobject_selector {
  margin-left: 8px;
}

.toolbar {
  border-top: 1px solid var(--verySoftPeanut);
  border-bottom: 1px solid var(--verySoftPeanut);
}

.title_container {
  display: flex;
  width: 90%;
  align-self: center;
  align-items: center;
}

.title {
  padding: 4px 12px;
}

.mainNote {
  margin-right: 4px;
}

.noteIcon {
  width: 24px;
  min-width: 24px;
  height: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 16px;
  background-color: var(--banana);
}

.fullHeight {
  height: calc(100% - 38px);
}

.fullHeight .editor {
  height: 100%;
  max-height: 100%;
}

.fullHeight .body_wrapper {
  height: auto;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.fullHeight .toolbar {
  border-bottom: none;
}

.fullHeight .divider {
  width: 96%;
}

.fullHeight .title_container {
  height: 40px;
  width: 96%;
}

.isSavingContainer {
  display: flex;
  position: absolute;
  right: 16px;
  gap: 4px;
  background-color: white;
  align-items: center;
}

