.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* height: 36px; */
  border-radius: 4px;
  border-top: 1px solid var(--veryLightBloobirds);
  background-color: var(--white);
  width: 100%;
  padding: 0 16px;
}

.containerSidePeek {
  border: 1px solid #edf1f5;
  box-shadow: 0px 2px 4px rgb(148 165 180 / 20%);
  border-radius: 4px;
  padding-top: 8px;
}

.containerSidePeek * {
  font-size: 13px;
}

.container:hover {
  transition: background-color 0.3s;
  background-color: var(--veryLightBloobirds);
}

.details {
  display: flex;
  min-height: 35px;
  justify-content: space-between;
  align-items: center;
}

.left_info {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 4px;
}

.detailsButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.status {
  display: flex;
  align-items: flex-start;
}

.status > * {
  margin-left: 4px;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.textSidePeek {
  font-size: 16px;
}

.statusBadge > div {
  padding: 0 4px;
}

.detailsInfo {
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8px;
}

.countsColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 2px;
}

.datesColumn {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 2px;
}

.countBobjects {
  display: flex;
  align-items: center;
  margin: 12px;
  gap: 4px;
}

.countBobjects > * {
  margin-right: 4px;
}

.badgesContainer {
  display: flex;
}

.badgesContainer > * {
  margin-left: -8px;
}
