._emailCard_body__text {
  margin-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._emailCard_body__bobjectLink {
  composes: _emailCard_body__text;
  display: inherit;
}

._date_text_wrapper > div > div {
  margin-left: 8px;
}

._button_reported_container {
  display: flex;
  background-color: var(--verySoftMelon);
  padding: 3px 8px;
  border-radius: 4px;
}

._card_content {
  flex-direction: column;
  width: 100%;
}

._emailCard_body__title {
  max-width: 97%;
  margin-right: 4px;
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._emailCard_body__title > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

._counter__button {
  display: flex;
  align-content: center;
  height: 24px;
}

._counter__button > div {
  margin-right: 8px;
}

._card_content > div > div > div {
  width: 100%;
}

._html_message > p,
._html_message {
  font-size: 14px;
  line-height: 16px;
  color: var(--peanut);
  margin: 0;
}

._message_wrapper {
  display: flex;
  align-items: flex-start;
}

._message_wrapper > button {
  margin-right: 8px;
  transform: rotate(90deg);
}

._message_collapsed {
  height: 18px;
  overflow: hidden;
}

._message_collapsed > button {
  transform: rotate(0);
}

._note_wrapper {
  margin-top: 16px;
}

._email_statistic_container {
  border-top: 1px solid var(--lightPeanut);
  padding-top: 10px;
  margin-top: 10px;
}

._email_statistic_container > div > div {
  margin: 0;
}

._email_statistic_container > div > div > svg {
  width: 12px;
  height: 12px;
  margin-top: 3px;
}

._statistics_wrapper {
  display: flex;
}

._statistics_wrapper > div:nth-child(1) {
  margin-right: 20px;
}

._statistic_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

._statistic_label {
  margin-left: 8px;
  text-align: center;
  font-size: 12px;
  color: var(--peanut);
  border-radius: 4px;
  padding: 0 4px;
  width: 9px;
}

._history_list {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  margin-top: 10px;
  list-style: none;
}

._history_item {
  padding-bottom: 10px;
  position: relative;
  list-style: none;
}

._history_item > span {
  margin-right: 8px;
}

._list_header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

._list_header > button {
  padding-top: 0;
  padding-bottom: 0;
}

._bullet {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--verySoftPeanut);
  display: inline-block;
  margin-right: 8px;
}

._dashed_line {
  position: absolute;
  width: 0;
  height: 24px;
  left: 3px;
  top: 16px;
  border-left: 1px dashed #c5d1dd;
}

._assigned_circle {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}
