.container {
  margin-bottom: 4px;
  cursor: pointer;
  height: 40px;
}

.container > div {
  padding: 7px 0 7px 10px !important;
  height: 40px;
  display: flex;
  box-shadow: 0 2px 4px rgba(25, 145, 255, 0.084324);
  background: #ffffff;
  border: 1px solid #deecf7;
}

.container > div > div {
  width: 100%;
}

.container > div > div > div:nth-last-child(1) > div {
  right: 0px;
}

.container > div > div > div:nth-child(2) {
  padding: 0 !important;
}

._icon_wrapper {
  margin-right: 8px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
}

._datetime {
  flex-shrink: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

._time {
  margin-left: 4px;
}

._separator {
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background-color: var(--softPeanut);
}

._email_status {
  flex-shrink: 0;
  margin-right: 8px;
}

._title {
  flex-shrink: 1;
  min-width: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

._title > div {
  overflow: hidden;
  display: block;
}

._title > div > span {
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

._high_priority_icon {
  margin-right: 8px;
  margin-left: 8px;
}

._bobject_name {
  flex-shrink: 1;
  font-size: 14px;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

._lead_company_name {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  width: 120px;
}

._lead_company_name > ._bobject_name {
  margin-left: 0;
}

._lead_company_name > ._bobject_name > span {
  text-overflow: ellipsis;
  width: 140px;
}

._assigned_circle {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}

._status {
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  ._s_hidden {
    display: none;
  }
}

.title {
  display: flex;
  align-items: center;
}

.title > div > div > p {
  color: var(--darkBloobirds) !important;
  font-weight: 400;
}

.cardButtons {
  max-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 4px;
  margin-left: auto;
}

.center {
  display: flex;
  align-items: center;
  min-width: 0;
}

._cardTemplateBody {
  margin-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._cardTemplateBody > div {
  width: 100%;
}
