._text_area {
  padding: 16px 150px 40px 150px;
}
._text_area > *:first-child {
  padding-top: 0;
}
._text_area > * {
  padding-top: 28px;
}
._callout > div {
  width: 100%;
}
._callout_icon {
  margin-right: 4px;
}

._clock {
  background-color: var(--lightBloobirds);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

._subtitle {
  margin-top: 8px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
._spinner {
  margin-top: 24px;
}

._modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._modal_content > * {
  margin-bottom: 40px;
}
._modal_content > p {
  margin-left: 10px;
}
