.loader {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.spinner {
  margin-top: 24px;
}
