.content {
  padding: 16px 24px 0 24px;
}

.content input {
  margin: 0 !important;
  box-shadow: none !important;
  height: 32px;
  border: none !important;
  width: 100%;
}

.content > div > * {
  margin: 8px 0;
}

.footer {
  padding: 24px;
}

.header {
  padding: 12px 12px 12px 24px;
}
