.header {
  padding: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container {
  background-color: white;
  position: relative;
}

.editor {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  user-select: none;
}

.editor a {
  pointer-events: none;
}

.footer {
  padding: 20px 32px;
  justify-content: flex-end;
}

.warningBanner p {
  width: 90%;
}
