._form__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 15px;
}

._field__wrapper {
  width: 47%;
}

.skip_button {
  margin-left: auto;
  margin-right: 16px;
}

.back_button {
  margin-left: 0px;
  margin-right: auto;
}
