._callCard_body {
  flex: 1;
  overflow: hidden;
}

._callCard_body__text {
  margin-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._callCard_body__bobjectLink {
  composes: _callCard_body__text;
  display: inherit;
}

._callCard_body__source {
  margin-left: 8px;
}

._filters__title {
  margin-right: 12px;
}

._list_header {
  display: flex;
  justify-content: space-between;
}

._comingSoon_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3px;

  background: var(--veryLightBloobirds);
  border-radius: 4px;

  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 160% */

  color: var(--white);
  font-weight: 600;
  flex-grow: 0;

  white-space: nowrap;
  margin: 0 5px;
}

._button_reported_container {
  display: flex;
  background-color: var(--verySoftMelon);
  padding: 3px 8px;
  border-radius: 4px;
}

._footer_wrapper {
  margin-top: 25px;
}

._date_text_wrapper > div > div {
  margin-left: 8px;
}

._text_wrapper {
  margin-bottom: 5px;
}

._text_align_center {
  text-align: center;
}

._link {
  color: var(--bloobirds);
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
}

._quick_filter_wrapper > div {
  margin-right: 8px;
}

.filter_relative_date div[role='listbox'] {
  background-color: var(--softPeanut);
  max-width: 210px;
  width: auto;
  padding: 4px 6px;
  max-height: none;
  border: 0;
  box-sizing: border-box;
  height: 24px;
}

.filter_relative_date div[role='listbox'] > button {
  background-color: var(--softPeanut);
  color: white;
}

.filter_relative_date div[role='listbox'] > button > span {
  color: white !important;
}

.filter_relative_date div[role='listbox'] svg > path {
  fill: var(--white);
}

.filter_relative_date div[role='listbox'] > div:first-child > svg {
  margin-bottom: 3px;
}

._assigned_circle {
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}

._counter__button {
  display: flex;
  align-content: center;
  height: 24px;
}

._counter__button > div {
  margin-right: 8px;
}

._inbox_discovery {
  position: absolute;
  z-index: 1;
}

.container,
.containerCall {
  margin-bottom: 4px;
  cursor: pointer;
}

.containerCall > div {
  height: 44px;
  display: flex;
  align-items: center;
}

._emailCard_body__text {
  margin-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._emailCard_body__bobjectLink {
  composes: _emailCard_body__text;
  display: inherit;
}

._date_text_wrapper > div > div {
  margin-left: 8px;
}

._button_reported_container {
  display: flex;
  background-color: var(--verySoftMelon);
  padding: 3px 8px;
  border-radius: 4px;
}

._card_content {
  flex-direction: column;
  width: 100%;
}

._counter__button {
  display: flex;
  align-content: center;
  height: 24px;
}

._counter__button > div {
  margin-right: 8px;
}

._card_content > div > div > div {
  width: 100%;
}

._title_wrapper {
  max-width: 97%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--peanut);
}

._html_message > p,
._html_message {
  font-size: 12px;
  line-height: 16px;
  color: var(--peanut);
  margin: 0;
  align-items: flex-start;
  height: 16px;
  overflow: hidden;
}

._text_message {
  overflow: auto;
  overscroll-behavior-y: contain;
}

._note_wrapper {
  margin-top: 10px;
}

._message_wrapper {
  display: flex;
  align-items: flex-start;
}

._message_wrapper > button {
  margin-right: 8px;
  transform: rotate(90deg);
}

._message_collapsed {
  height: 16px;
  overflow: hidden;
}

._message_collapsed > button {
  transform: rotate(0);
}

._email_statistic_container {
  border-top: 1px solid var(--lightPeanut);
  padding-top: 10px;
  margin-top: 10px;
}

._email_statistic_container > div > div {
  margin: 0;
}

._email_statistic_container > div > div > svg {
  width: 12px;
  height: 12px;
  margin-top: 3px;
}

._statistics_wrapper {
  display: flex;
}

._statistics_wrapper > div:nth-child(1) {
  margin-right: 20px;
}

._statistic_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

._statistic_label {
  margin-left: 8px;
  text-align: center;
  font-size: 12px;
  color: var(--peanut);
  border-radius: 4px;
  padding: 0 4px;
  width: 9px;
}

._history_list {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  margin-top: 10px;
  list-style: none;
}

._history_item {
  padding-bottom: 10px;
  position: relative;
  list-style: none;
}

._history_item > span {
  margin-right: 8px;
}

._list_header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

._list_header > button {
  padding-top: 0;
  padding-bottom: 0;
}

._bullet {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--verySoftPeanut);
  display: inline-block;
  margin-right: 8px;
}

._dashed_line {
  position: absolute;
  width: 0;
  height: 24px;
  left: 3px;
  top: 16px;
  border-left: 1px dashed #c5d1dd;
}

._assigned_circle {
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}

.buttonBulkAction {
  margin-bottom: 4px;
}

.buttonBulkAction > button {
  text-transform: none;
}
