.buttonWrapper {
  display: flex;
  background: var(--lighterGray);
  mix-blend-mode: normal;
  border-radius: 4px;
  padding: 4px;
  margin-left: 8px;
  align-items: center;
  height: 16px;
}

.buttonWrapper:hover {
  cursor: pointer;
}

.buttonWrapper > span {
  margin-left: 4px;
  margin-right: 8px;
}

.buttonDisabled {
  background-color: var(--lightestBloobirds);
}

.buttonDisabled:hover {
  cursor: default;
}
