.root {
  height: calc(100vh - 48px);
  width: 100%;
}

.header_root {
  padding: 40px 25px 40px 0;
  padding-bottom: 0;
}

.header_titlesContainer {
  margin: 0 0 24px 25px;
}

.header_tabsContainer > div > div > div {
  margin-left: 25px;
}

.header_title {
  margin: 0 0 8px 0;
}

.header_subtitle {
  margin: 0;
}
