._content {
  display: flex;
  height: 90vh;
  box-sizing: border-box;
  align-items: stretch;
}

._editor {
  padding: 48px 64px;
  width: 100%;
  background-color: var(--lighterGray);
  overflow-y: auto;
  margin-bottom: 50px;
}

/* Div with role="toolbar" inside editor*/
.editor_html {
  margin-top: 12px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #94a5b4;
  box-sizing: border-box;
}

.previewEditorSelector {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.editor_html div[role="toolbar"] {
  height: 24px;
  padding-left: 8px;
}

._back__button {
  margin-bottom: 18px;
}

._form__row {
  margin-top: 12px;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
}

.editor {
  margin-top: 12px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #94a5b4;
  box-sizing: border-box;
}

.ast {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 312px;
}

.html {
  padding-right: 2px;
}

.htmlTextArea {
  height: 600px;
  border: none;
}

.htmlTextArea textarea {
  height: 100%;
  width: 100%;
  border: transparent;
  resize: none;
  outline: none;
  padding: 0;
  font-family: var(--fontFamily);
  font-size: 14px;
  line-height: 24px;
}
.htmlTextArea fieldset {
  border: none;
  height: 100%;
}
.htmlTextArea fieldset > div {
  padding-right: 0;
}

.subjectAst {
  position: relative;
  margin-top: 12px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #94a5b4;
  border-radius: 4px;
  display: flex;
}

.subjectAst > div:last-child {
  z-index: 9;
}

.modal_title {
  display: flex;
  align-items: center;
}

.modal_title > svg {
  margin-right: 4px;
}

.modal_text {
  line-height: 24px;
  margin-bottom: 12px;
}

.modal_header {
  background: var(--verySoftPurple) !important;
}

.secondary_button {
  margin-right: 8px;
}

._audit_box {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 18px 0;
}

.shortcutsWrapper {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  gap: 8px;
}
