.container {
  padding: 0;
  white-space: initial;
  background-color: #f7f7f7;
  max-width: max-content;
}

.container > div > div > div {
  min-height: auto;
  max-width: max-content;
}

.focused {
  box-shadow: 0 0 0 2px #b4d5ff;
}
