._no_results__contents {
  box-sizing: border-box;
  padding: 150px 227px 150px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

._no_results__img {
  margin-bottom: 20px;
}

._view_more__text {
  margin-left: 3px;
  cursor: pointer;
}

._tag__element {
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}

._tbody {
  display: table-row-group;
  vertical-align: middle;
  border: 1px solid black;
}

._actions__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

._actions__container > * {
  margin-right: 7px;
}

._section {
  display: flex;
  flex-direction: column;
  margin: 10px 0 5px 0;
}

._section__row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 20px;
}

._section__row > * {
  flex: 1;
}

._section__row > div > div {
  width: 100%;
}

._whatsapp_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 20px 32px 20px;
}

._last_section {
  margin: 0 20px 32px 20px;
}

._last_section > div > div {
  margin: 5px 0;
}

._title_container {
  display: flex;
  align-items: center;
}

._title_container > * {
  margin-left: 10px;
}

._header__container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-bottom: 16px;
}

._icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  border-radius: 45px;
  background-color: var(--lightestBloobirds);
  border: 2px solid var(--veryLightBloobirds);
  z-index: 1;
}

._divider {
  border-bottom: 1px solid var(--veryLightBloobirds);
  width: 100%;
  position: absolute;
  top: 50%;
}

._text__section > * {
  margin: 24px 112px;
}

._callout {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

._delete__text {
  margin-bottom: 16px;
}

._extra__email__wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

._extra__email__wrapper > * {
  margin: 3px -6px 3px 0;
}

._extra__email__icon__line__1 {
  width: 12px;
  height: 0;
  border: 1px solid var(--tangerine);
  border-radius: 8px;
  background-color: var(--tangerine);
}

._extra__email__icon__line__2 {
  width: 16px;
  height: 0;
  border: 1px solid var(--tangerine);
  border-radius: 8px;
  background-color: var(--tangerine);
}

._checkbox_list_item {
  display: flex;
  align-items: center;
  border-bottom: var(--verySoftPeanut) 1px solid;
  justify-content: space-between;
}

._section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

._footer_section {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

._footer_section > div {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
}
