.h1 {
  font-size: 26px;
  margin: 18px 0;
  font-weight: 700;
}

.h2 {
  font-size: 18px;
  margin: 16px 0;
  font-weight: 700;
}

.h1:first-child,
.h2:first-child,
.ul:first-child,
.ol:first-child,
.p:first-child {
  margin-top: 0;
}

.h1:last-child,
.h2:last-child,
.ul:last-child,
.ol:last-child,
.p:last-child {
  margin-bottom: 0;
}

.p {
  margin: 0;
}

.ul,
.ol {
  padding-left: 40px;
}

.p,
.ol,
.ul {
  line-height: 19px;
}

.svgs svg {
  width: 20px !important;
  height: 20px !important;
}
