._container {
  position: relative;
  border-bottom: 1px solid #d6d7d8;
  background-color: var(--lighterGray);
  width: auto;
  padding: 44px 38px;
  min-height: 400px;
}

._header {
  border-spacing: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--lighterGray);
}

._header_wrapper {
  border-spacing: 0 8px;
  display: flex;
  flex-direction: column;
}

._bobject_type_selector > div > div > fieldset {
  border: 0;
  background-color: var(--lighterGray);
}

._bobject_type_selector {
  margin-left: 16px;
}

._noDisplay {
  display: none;
}

._viewTableSubHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

._title {
  font-size: 20px;
  line-height: 41px;
  color: var(--peanut);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  ._title {
    max-width: 310px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  ._title {
    font-size: 16px;
  }
}

._hasActions {
  position: relative;
  display: inline-flex;
  align-items: center;
}

._header_left {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

._lists_selector {
  min-width: fit-content;
  max-width: 425px;
  text-overflow: ellipsis;
  display: flex;
  gap: 4px;
}

._lists_selector_item {
  padding: 0 16px;
}

._no_items_text {
  padding-top: 8px;
}

._list_name {
  cursor: pointer;
}

._header_right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 55%;
}

._box {
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
}

._searchBar__container {
  width: 200px;
  margin-right: 16px;
}

._table {
  width: 99.9% !important;
}

._table > tbody > tr > td:first-child {
  padding-right: 0 !important;
}

._table > thead > tr > th:first-child {
  padding-right: 0 !important;
}

._counter__container {
  background-color: var(--lightestBloobirds);
  border-radius: 4px;
  color: var(--softPeanut);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-left: 8px;
  padding: 4px 8px;
  white-space: nowrap;
}

.skeleton {
  border-radius: 4px;
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  white-space: nowrap;
}

.skeleton:hover {
  cursor: pointer;
}

.skeleton:hover * {
  visibility: visible !important;
}

.skeleton:first-child td:first-child {
  border-top: 1px solid var(--softGray);
  border-left: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-top-left-radius: 4px;
}

.skeleton:first-child td:last-child {
  border-top: 1px solid var(--softGray);
  border-right: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-top-right-radius: 4px;
}

.skeleton:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.skeleton:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.skeleton td:first-child {
  border-top: 1px solid var(--softGray);
  border-left: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-bottom-left-radius: 4px;
}

.skeleton td:last-child {
  border-top: 1px solid var(--softGray);
  border-right: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
  border-bottom-right-radius: 4px;
}

.skeleton td:not(td:first-child),
.skeleton td:not(td:last-child) {
  border-top: 1px solid var(--softGray);
  border-bottom: 1px solid var(--softGray);
}

.MuiTableRow-root ._checkbox {
  padding-right: 12px;
}
