._radioButtons > div:first-child {
  margin-bottom: 8px;
}

._checkBox {
  box-sizing: border-box;
  padding: 12px 0 44px 0;
}
._checkBox > div > p {
  margin-right: 4px;
}

._textArea {
  box-sizing: border-box;
  padding: 24px 32px;
  background: var(--lighterGray);
  margin-bottom: 24px;
}
._textArea > ul > li {
  margin-bottom: 8px;
}
