.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  width: 100%;
}

.title {
  margin-bottom: 4px;
}

.metrics_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.names_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.names_container > p {
  min-width: 55px;
  display: flex;
  justify-content: center;
}

.skeleton {
  display: flex;
  justify-content: center;
}
