.root,
.rootFuture,
.rootActive {
  background-color: #deecf7;
  width: 215px;
  margin: 16px 16px 0;
  height: auto;
  display: grid;
  grid-template-columns: 8px 8px auto;
  grid-template-rows: 8px 26px auto 8px;
  cursor: pointer;
  border-radius: 4px;
  min-height: 80px;
}

.root > * {
  margin: 0;
  overflow: auto;
  text-overflow: ellipsis;
}

.rootFuture {
  background-color: #9acfff;
}

.rootActive {
  background-color: #f0f4f6;
  width: 231px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.label {
  grid-column: 1;
  grid-row: 1 / end;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header_root {
  max-width: 199px;
  font-size: 13px;
  grid-column: 3;
  grid-row: 2;
}

.header_root > * {
  margin: 0;
}

._header_label {
  border-radius: 5px;
  margin-right: 5px;
  background-color: var(--bloobirds);
  color: var(--white);
  padding: 2px;
}

.header_overdueLabel {
  border-radius: 5px;
  margin-right: 5px;
  background-color: var(--tomato);
  color: var(--white);
  padding: 2px;
}

.header_futureLabel {
  border-radius: 5px;
  margin-right: 5px;
  background-color: var(--veryLightBloobirds);
  color: var(--peanut);
  padding: 4px;
}

.header_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.body_root {
  grid-column: 3;
  grid-row: 3;
}

.body_text {
  padding-right: 5px;
  font-weight: 600;
  font-size: 16;
  color: var(--peanut);
  margin: 0;
}
