.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  position: relative;
  flex-grow: 1;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: -6px;
}

.header_element {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.row {
  margin: 8px 0 0 0;
}

._search_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

._search_wrapper input {
  /* Linkedin overrides */
  margin: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  border: none !important;
  width: 100%;
}

._item_list {
  overflow-y: auto;
}

._item_card {
  user-select: none;
  padding: 8px;
  margin: 0 0 8px 0;
  background-color: var(--white);
  border: 1px solid var(--verySoftPeanut);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}

._item_card > ._item_handler {
  flex-shrink: 0;
  margin-right: 16px;
}

._item_card > ._item_delete {
  flex-shrink: 0;
}

._item_wrapper {
  display: flex;
  width: 100%;
  padding-left: 4px;
  align-items: center;
}

._item_wrapper > div {
  margin-right: 8px;
}

.card {
  background-color: var(--white);
  margin: 8px;
  padding: 6px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.cardHeader > *:last-child {
  margin-left: auto;
}

.cardHeaderText {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerContainer {
  width: 100%;
  min-height: 72px;
  padding: 0 24px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 72px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, var(--bloobirds) 0%, var(--gradientBloobirds) 100%);
  border-bottom-left-radius: 8px;
  justify-content: space-between;
}

.footerContainer > button {
  flex: 1;
  border: none;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectOptions {
  width: 305px;
}
