._modal_header {
  box-sizing: border-box;
  padding: 16px;
}

._modal_content {
  box-sizing: border-box;
  padding: 32px 58px;
}

._modal_footer {
  box-sizing: border-box;
  padding: 0 32px 40px 32px;
}

._sections_container {
  display: flex;
}
