.modal {
  width: 380px !important;
  background-color: var(--white);
}

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 16px 24px;
  padding-top: 0;
}

.customButton {
  margin-top: 8px;
  justify-content: center;
}

.timezones {
  padding: 8px 12px;
  background-color: var(--veryLightBloobirds);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 12px -24px;
}

.timezones > * {
  flex-shrink: 0;
}

.shortcuts {
  display: grid;
  grid-auto-flow: row;
  row-gap: 4px;
}
