.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 8px 16px 8px 16px;
}

.smartHeader {
  padding: 0;
}

.segmentationHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 16px;
}

.segmentationTitle {
  margin-bottom: -12px;
}

.smartSegmentationHeader {
  padding: 0;
  margin-bottom: 4px;
}

.smartSegmentationHeader {
  padding: 0;
  margin-bottom: 20px;
}

.filterGroup {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-wrap: wrap;
  padding: 8px 16px 16px 16px;
}

.smartFilterGroup {
  padding: 16px 0;
}

.filterGroup > div {
  width: 48%;
  margin-bottom: 4px;
  font-size: 12px;
}

.stageSelector {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 0 16px 16px 16px;
}

.smartStageSelector {
  width: 100%;
  padding: 8px 0 16px 0;
}

.label {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 151px;
  display: flex;
  color: var(--purple);
  border-radius: 0 3px 3px 0;
}

.smartLabel{
  width: 50%;
  height: 24px;
}

.label:not(:last-child) {
  align-items: center;
  cursor: pointer;
  width: 50%;
  color: var(--purple);
  border-right: 1px var(--purple) solid;
  border-radius: 3px 0 0 3px;
}

.selectedLabel {
  background-color: var(--purple);
  color: var(--white);
}

.selectorsWrapper {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.smartSelectorsWrapper{
  padding: 0 8px;
  width: 100%;
}

.categoryBlock{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blockHeader {
  display: flex;
  justify-content: space-between;
}

.clearLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.clearLabel > p {
  line-height: 14px;
}

.selectorMultiselect {
  width: 100%;
}

.selectorMultiselect > div > div {
  border: 1px solid var(--verySoftPeanut);
  margin-bottom: 12px;
}

.selectorMultiselect > div > div > button > span {
  color: var(--softPeanut) !important;
}

.activeFilterLabelWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.activeFilterLabelWrapperMask{
  overflow: hidden;
}

.filterLabel{
  max-width: 288px;
  overflow: hidden;
  white-space: nowrap;
}

.filterLabel > div{
  display: flex;
}

.filterLabelText{
  overflow: hidden;
  text-overflow: ellipsis;
}
