.infoDetailContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px
}

.infoDetailContainer > svg {
  min-width: 16px;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
