.content {
  display: flex;
  flex-direction: column;
}

.link_button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.link_button > * {
  margin-right: 4px;
}

.input {
  padding: 12px;
  box-shadow: none;
  box-sizing: border-box;
}

.results {
  height: 256px;
  overflow-y: auto;
  margin-bottom: 6px;
}

.result_row {
  padding: 8px 36px;
}

.result_row:hover {
  background-color: var(--veryLightBloobirds);
}

.noResultFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 8px 16px 20px 16px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
