.preview {
  background-color: white;
  box-sizing: border-box;
  border-left: 1px solid var(--lightestBloobirds);
  overflow-y: auto;
  overflow-x: clip;
  height: inherit;
}

.preview__attachments {
  padding-bottom: 44px;
}

.preview_text_wrapper {
  height: auto;
  overflow-y: auto;
  width: 418px;
}

.preview_subject_wrapper {
  pointer-events: none;
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 21px;
  min-height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--lightestBloobirds);
}

.preview_body_wrapper {
  height: calc(100% - 44px);
  position: relative;
  overflow-y: auto;
}

.preview_body_text_wrapper {
  padding: 16px 21px;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  word-wrap: break-word;
}

.preview_body_text_wrapper p,
.preview_body_text_wrapper div {
  font-size: 14px;
}

.preview_body_text_wrapper ul,
.preview_body_text_wrapper ol {
  padding-left: 40px;
  font-size: 16px;
}

.preview_body_text_wrapper > ul * {
  list-style: initial;
}

.preview_body_text_wrapper > ol * {
  list-style: auto;
}

.preview_body_text_wrapper > div > div[id="slots-block"] > ul {
  padding-left: 16px;
}

.preview_body_text_wrapper > p {
  min-height: 19px;
  margin: 0 auto;
}

.preview_body_text_wrapper img {
  max-width: 100%;
  height: auto;
}

._header_callout_preview {
  height: 40px;
}
