.subtitle {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 24px;
}

.input {
  display: flex;
  gap: 30px;
  align-items: center;
}

.section {
  margin-bottom: 16px;
}
