._card_table_container {
  background-color: white;
  box-sizing: border-box;
  padding-top: 32px;
  border: 1px solid var(--verySoftCondition);
  border-radius: 4px;
  min-height: fit-content;
}
._sync_logs_log_tracing {
  display: flex;
  z-index: 99;
  width: fit-content;
}
._sync_logs_content {
  box-sizing: border-box;
  padding: 216px 227px 263px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
._sync_logs_content_img {
  margin-bottom: 20px;
}

._sync_logs_table_table {
  box-sizing: border-box;
}

._sync_logs_table_table td:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: var(--white);
  box-shadow: -2px 0 4px rgba(92, 92, 255, 0.05);
  padding-right: 0;
}

._sync_logs_table_table table {
  border-collapse: initial;
  border-spacing: 2px;
}

._sync_logs_table_table tr:first-child {
  box-shadow: 0 2px 4px rgb(92 92 255 / 10%) !important;
}

._pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
