.container {
  border: 1px solid var(--veryLightBloobirds);
  display: flex;
  flex-direction: column;
  margin: 8px 8px 0 8px;
  background-color: white;
  transition: background-color 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(25, 145, 255, 0.0843);
  border-radius: 4px;
}
.container:hover {
  transition: background-color 0.3s;
  background-color: var(--verySoftPurple);
}

.containerSmartEmail {
  margin: 8px 24px 0 24px;
}

.containerSidePeek {
  margin: 8px 24px;
}

.qq_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.container:last-child {
  margin-bottom: 16px;
}

.cardText {
  display: flex;
  position: relative;
  padding: 16px 16px 8px 8px;
  white-space: break-spaces;
  font-weight: bold;
}

.cardTextSidePeek {
  padding: 16px 16px 8px 16px;
}

.qq_cardText {
  display: flex;
  overflow: hidden;
  white-space: break-spaces;
  font-weight: bold;
  gap: 10px;
}

.cardText > p,
.qq_cardText > p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.templateTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 90%;
}

.templateText {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.templateText * {
  line-height: 20px;
}

.templateText > p:first-child {
  font-size: 14px;
}

.shortcutContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
}

.shortcut {
  background-color: var(--veryLightBloobirds);
  padding: 2px 4px;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardText {
  max-width: 100%;
}

.cardText > svg {
  margin-right: 10px;
}

.qq_cardContent {
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.templateBody {
  font-weight: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.templateBody > div {
  display: inline-block;
}

.templateBody > * > strong {
  font-weight: normal;
}

.templateBody > br {
  display: none;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  gap: 8px;
  height: 24px;
}

.smartButtonsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  gap: 6px;
  transition: gap 0.1s;
}

.container:hover > .smartButtonsContainer {
  gap: 3px;
  transition: gap 0.1s;
}

.buttonContainer {
  display: flex;
}

.container > .buttonsContainer button {
  padding-left: 3px;
  padding-right: 0;
  width: 24px;
  transition: width 0.1s;
}

.container:hover > .buttonsContainer button {
  transition: width 0.1s;
  padding-left: 12px;
  width: auto;
  padding-right: 12px;
}

.container > .smartButtonsContainer button {
  padding-left: 3px;
  padding-right: 0;
  width: 24px;
  transition: width 0.1s;
}

.container:hover > .smartButtonsContainer button {
  transition: width 0.1s;
  padding-left: 8px;
  width: auto;
  padding-right: 12px;
}

.container:hover > .smartButtonsContainer > button:first-child {
  padding-left: 14px;
}

.container:hover > .smartButtonsContainer > button:last-child {
  padding-left: 4px;
}

.official_banner {
  position: absolute;
  top: -4px;
  left: 10px;
}

.leftIcons_container {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.step_banner {
  margin-left: 4px;
  padding-bottom: 4px;
}

.template_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.template_text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
