.tabGroupWrapper {
  flex: 1;
}

.tabGroupWrapper > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabGroupWrapper > div > div[class*='TabGroup-module_tabContent'],
.tabGroupWrapper > div > div > div[class*='TabGroup-module_tabPanel'] {
  height: 100%;
}

/* Temporary: Hide analyze tab */
.tabGroupWrapper > div > div > div:last-child > div,
.tabGroupWrapper > div > div > div:last-child > p {
  background-image: none !important;
  color: transparent !important;
}
