.cardContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
  margin: 0 60px;
  border: 1px solid #e5e4ed;
  border-radius: 2px;
}

.cardContent {
  display: flex;
}

.cardContent > div {
  margin: 8px;
}

.cardDelete {
  display: flex;
}

.confirmation_info {
  margin-bottom: 8px;
  line-height: 24px;
}

.confirmation_body {
  margin-bottom: 16px;
}
