._icon_wrapper {
  margin-right: 8px;
  flex-shrink: 1;
}

._datetime {
  flex-shrink: 0;
  margin-right: 8px;
}

._time {
  margin-left: 4px;
}

._separator {
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background-color: var(--softPeanut);
}

._email_status {
  flex-shrink: 0;
  margin-right: 8px;
}

._title {
  flex-shrink: 1;
  min-width: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

._title > div {
  overflow: hidden;
  display: block;
}

._title > div > span {
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

._high_priority_icon {
  margin-right: 8px;
  margin-left: 8px;
}

._bobject_name {
  flex-shrink: 1;
  font-size: 14px;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

._lead_company_name {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  width: 120px;
}

._lead_company_name > ._bobject_name {
  margin-left: 0;
}

._lead_company_name > ._bobject_name > span {
  text-overflow: ellipsis;
  width: 140px;
}

._assigned_circle {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}

._status {
  margin-left: 8px;
  flex-shrink: 0;
}

@media (max-width: 1000px) {
  ._s_hidden {
    display: none;
  }
}
