.separator {
  margin: 8px 0 12px;
  display: flex;
  align-self: center;
  width: 100%;
  height: 1px;
  background-color: var(--verySoftPeanut);
}

.aiQuestions {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 12px;
}

.aiQuestionsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  justify-content: space-between;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 4px;
}

.copyToNoteButton{
  gap: 4px;
  display: flex;
  justify-content: center;
}

.aiQuestionsRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  gap: 8px;
}

._showMore_button {
  font-size: 10px;
  padding-left: 0;
}

._showMore_button > svg {
  width: 12px;
  height: 12px;
}

.no_items {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet_list {
  margin-left: 12px;
  margin-top: -4px;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
  gap: 8px
}

.point {
  display: flex;
}

.point_icon {
  top: 2px;
  position: relative;
  display: flex;
}

.tagGroup{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 0 12px 12px;
}

.tagContainer {

}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;

  border-radius: 17px;

  font-family: var(--fontFamily);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
  user-select: none;
  white-space: nowrap;
  color: var(--peanut);
  background-color: var(--veryLightBloobirds);
  border: 1px solid var(--white);
}


.increasedLineHeight {
  max-height: 56px;
  overflow-y: scroll;
  line-height: 18px;
}
