.modalContent{
    display: flex;
    padding: 16px 24px;
}

.modalContent > div{
    width: 100%;
    height: 600px !important;
    flex-direction: row;
    margin-bottom: 16px;
}

.sectionSeparator{
    height: 100%;
    border-right: 1px solid var(--verySoftPeanut);
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sectionContainer:first-child{
    width: 45%;
    padding-right: 24px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sectionContainer:nth-child(3){
    width: 55%;
    padding: 0 24px;
}


.taskActionsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
}

.taskActionsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.taskActionsIcon {
    display: flex;
    background: var(--bloobirds);
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.actionButton {
    display: flex;
    width: 200px;
    height: 68px;
    border: 1px var(--bloobirds) solid;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actionButton:hover {
    background: var(--lightestBloobirds);
    cursor: pointer;
}

.actionButtonDisabled {
    border: 1px var(--lightPeanut) solid;
}

.actionButtonDisabled:hover {
    background: var(--lightestPeanut);
    cursor: default;
}

.actionButtonsWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
