._content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

._content__container > div {
  margin-top: 20px;
}

._bottom__text {
  margin-bottom: 30px;
}
