.selectorWrapper {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.statsContent {
  display: flex;
  padding: 22px 22px 12px;
  justify-content: center;
}

@media screen and (max-width: 1120px) {
  .statsContent {
    padding: 16px 0;
  }
  .selectorWrapper {
    margin-right: 12px;
  }
}

._stats_container {
  height: 100px;
  transition: height 0.4s ease;
  overflow: hidden;
}

._stats_container > * {
  transform: translate(0px, 0px);
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

._transition {
  height: 0;
}

._transition > * {
  transform: translateY(-100px);
}

._stats_title {
  display: flex;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
  min-width: 32px;
  margin-right: 20px;
}

._stats_title > svg {
  margin-right: 4px;
}
