.authPageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

.formColumn {
  flex-shrink: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.asideColumn {
  flex-shrink: 0;
  height: 100vh;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #43A3FD;
}

@media (max-width: 930px) {
  .formColumn {
    width: 100%;
  }

  .asideColumn {
    display: none;
  }
}

.asideContent {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-left: 7vw;
  padding-right: 7vw;

  max-width: 600px;
}

.asideTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  margin-bottom: 0;

  /* Main/peanut */
  color: #464F57;
}

.asideTitleCallout {
  color: white;
}

.asideText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  /* Main/white */
  color: #FFFFFF;
}

.asideLink {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.asideLink:hover {
  cursor: pointer;
  color: #f2f2f2;
}

.triangleDecoration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26vw;
}

.triangleBlueDecoration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26vw;
}

@media (max-width: 930px) {
  .triangleDecoration {
    display: none;
  }
}

@media (max-height: 540px) {
  .triangleDecoration {
    display: none;
  }
}

@media (min-width: 931px) {
  .triangleBlueDecoration {
    display: none;
  }
}



