._section__wrapper {
  margin-bottom: 24px;
}

._content__wrapper {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

._lead_info_container {
  width: 180px;
  margin: 0 auto;
}

._name__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

._name__wrapper > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 12px;
}

._name__wrapper > svg {
  margin-right: 4px;
}

._currentStatus__wrapper {
  margin-bottom: 24px;
}

._currentStatus__wrapper > div {
  padding: 4px 16px;
  text-align: center;
  opacity: 0.5;
}

._change_lead_status__wrapper {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._change_status__wrapper {
  width: 100%;
}

._list_status > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

._status_wrapper {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  box-sizing: border-box;
}

._list_status > div > div,
._currentStatus__wrapper > div {
  width: 148px;
}

._radios_list_status {
  width: 420px;
}

._radios_list_status > div > div {
  letter-spacing: 0;
  margin-bottom: 10px;
  padding: 6px 12px;
}

._title__wrapper {
  margin-bottom: 15px;
}

._title__wrapper__centered {
  display: flex;
  justify-content: center;
}

._reason__wrapper {
  width: 50%;
}

._reason__wrapper input:hover {
  box-shadow: none !important;
  border: none !important;
  color: var(--peanut) !important;
  outline: none;
}

._buttons__wrapper {
  display: flex;
  width: 100%;
}

._buttons__wrapper > button:nth-child(2) {
  margin-left: auto;
  margin-right: 16px;
}

._warning__banner {
  background-color: var(--verySoftBanana);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
}

._status {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

._status_left {
  width: 200px;
  padding-right: 20px;
  box-sizing: border-box;
}

._status_right {
  width: 200px;
  padding-left: 20px;
  box-sizing: border-box;
}

._status_center_solo {
  box-sizing: border-box;
}
