._actions__container {
  background-color: var(--white);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid var(--veryLightBloobirds);
  box-shadow: 0 -1px 3px rgba(25, 145, 255, 0.09);
}

._actions__container > div {
  margin-right: 4px;
}

._phone_item > * {
  margin-left: 20px;
}

.linkedinIcons > * {
  margin: 8px;
}

.fakeTooltipClass {
  height: 32px;
}

.discovery_tooltip {
  margin-left: -24px;
  margin-top: -29px;
}

.quickAction_container{
  padding: 8px 0;
  width: 210px;
  max-height: 243px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.quickAction_container > p{
  padding: 0 16px;
}

.quickAction_no_tasks{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.add_new_custom_task{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.quickAction_no_tasks > p{
  font-size: 9px;
}
.quickAction_no_tasks > button{
  letter-spacing: normal;
}

.custom_task_item{
  padding: 8px 16px;
  font-size: 12px;
}

.custom_task_item:hover{
  background-color: var(--veryLightBloobirds);
}

.custom_task_item > svg{
  width:20px;
  height:20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 14px;
}

.astroline_icon_img {
  width: 32px;
}
