._container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: max-content;
}

._import_button_container {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-flex;
}
