._dropdown__container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: -8px 0 -4px;
  max-height: 300px;
  overflow-y: auto;
}

._header__container {
  height: 30px;
  box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  background-color: var(--lightestBloobirds);
  border-radius: 3px 3px 0 0;
}

._preview__button__wrapper > button {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._preview__button__wrapper > button > svg {
  padding: 0;
}

._card__container {
  display: flex;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
}

._card__container:hover {
  background-color: var(--lighterGray);
}

._card__column {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

._name__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 255px;
  margin-left: 8px;
  margin-right: 8px;
}

._name__container_hover {
  max-width: 145px;
}

._linkedinRole__container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 140px;
}

._card__status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._icon__container {
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

._hover_buttons_wrapper {
  display: flex;
  align-items: center;
  position: sticky;
  left: 250px;
  padding: 8px;
  background-color: var(--lighterGray);
  z-index: 2;
}
