._link {
  cursor: pointer;
}

._lenguage__text__container {
  margin-left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

._lenguage__text {
  margin-left: 5px;
}

._no_results__contents {
  box-sizing: border-box;
  padding: 150px 227px 150px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

._no_results__img {
  margin-bottom: 20px;
}

._link {
  cursor: pointer;
  margin-left: 5px;
}

._tag__element {
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}

._status__span {
  display: flex;
  align-items: center;
}

._status__span > * {
  margin: 0 2px;
}

._view_more__text {
  margin-left: 3px;
  cursor: pointer;
}

._callout__container {
  margin-bottom: 26px;
}

._callout_content {
  display: flex;
  flex-direction: row;
  width: 525px;
  justify-content: center;
}

._callout_content > div {
  margin-right: 8px;
}

._callout_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  width: 80px;
}

._cadence_callout__container {
  border: var(--lightPurple) 1px solid;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 26px;
  background-color: var(--verySoftPurple);
}

._cadence_callout__container > div > svg {
  color: var(--purple);
}

._callout__text {
  line-height: 20px;
  margin-bottom: 6px;
}

._cadence_callout__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._cadence_callout__wrapper > div {
  margin-right: 23px;
}

._main_info__text {
  margin-bottom: 6px;
}

._main_info__input {
  margin: 8px 0 12px 0;
}

._main_info__section {
  margin: 0 15px;
}

._segmentation__table__container {
  margin-top: 20px;
}

._title__container {
  display: flex;
  align-items: center;
}

._title__container > svg {
  margin-right: 4px;
}

._multiselect__container {
  margin-top: 20px;
}

._section__container {
  margin-top: 20px;
}

.__table_row__container {
  overflow: hidden;
  width: 650px;
}

.__table_row__container td {
  min-width: 0;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

._cadence__card {
  height: 60px;
}

.__table_row__container td:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._save__button {
  padding-right: 6px;
  padding-left: 6px;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

._number__tags {
  cursor: pointer;
}

.__tags_row__container {
  display: flex;
  flex-wrap: wrap;
}

.__bobject_text {
  margin-left: 4px;
  line-height: 0;
}

._value__tag {
  margin-right: 4px;
  margin-bottom: 4px;
}

._card__dragging {
  box-shadow: 0 4px 6px rgba(92, 92, 255, 0.3), 0 -4px 6px rgba(92, 92, 255, 0.15) !important;
}

.taskRow {
  height: 60px;
}

._card__dragging > *:nth-of-type(1n + 3) {
  display: none;
}

._tbody {
  display: table-row-group;
  vertical-align: middle;
  border: 1px solid black;
}

.tabTitle__container {
  display: flex;
  align-items: center;
}

.tabTitle__container > * {
  margin-right: 20px;
}

.cadence_page__container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
}

.cadence_editor__container {
  padding: 48px 64px 0 64px;
  width: 100%;
  background-color: var(--lighterGray);
  overflow-y: auto;
}

._back__button {
  margin-bottom: 36px;
}

._statistics_callout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

._statistics_callout > div:first-child {
  background-color: rgba(226, 229, 255, 0.4);
  border-color: rgba(154, 164, 255, 0.5);
  justify-content: center;
}

._statistics_callout > div:first-child > span {
  padding: 8px 0;
}

._cadence__form__content {
  display: flex;
  flex-direction: column;
  width: 800px;
}

._cadence__form__content > div:nth-child(odd) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

._cadence__form__content > ._steps__wrapper > ._add_step_button {
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 36px;
}

._cadence__preview {
  position: relative;
  margin-bottom: 10px;
}

._link__button {
  cursor: pointer;
  color: var(--purple);
  text-decoration: none;
  font-size: 14px;
}

._disabled_link__button {
  cursor: default;
  color: var(--lightPurple);
  text-decoration: none;
}

._disabled_overlay {
  background-color: var(--lighterGray);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  z-index: 5;
}

._steps__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

._steps_header__wrapper {
  position: relative;
}

._right__actions {
  display: flex;
  align-items: center;
}

._right__actions > * {
  margin-left: 8px !important;
}

._hidden {
  display: none;
}

._steps__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--verySoftPeanut);
  padding: 16px 0;
}

._steps__container > * {
  margin: 8px !important;
}

._radio__container > div > div {
  width: 100%;
  margin: 8px 0;
}

._steps__section {
  margin: 16px 0;
}

._section__title {
  margin: 8px 0;
}

._settings_button {
  cursor: pointer;
}

._settings_button__container > * {
  margin-left: 4px;
}

._editor__container_ast {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

._editor__container {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #94a5b4;
  box-sizing: border-box;
  height: 250px;
  margin-bottom: 14px;
}

._description__title {
  margin-bottom: 8px;
}

._business_asset_title {
  display: flex;
  align-items: center;
}

.radio_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmation_info {
  margin-bottom: 8px;
  line-height: 24px;
}

.confirmation_body {
  margin-bottom: 16px;
}

/*cadence creation modal*/
._box__container {
  width: 220px;
  height: 152px;
  margin: 0 10px;
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--verySoftPurple);
}

._bobject_selector_wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

._box__container__checked {
  border: 1px solid var(--lightPurple);
  background-color: var(--verySoftPurple);
}

._checkbox__container {
  margin-left: 5px;
  margin-right: auto;
}

._checkbox__container > div {
  padding: 0;
}

._checkbox__container > div:hover {
  background-color: transparent;
}

._checkbox__container > div > span {
  margin-right: 0;
}

._logo {
  width: 35px;
  height: 35px;
}

._name__container {
  padding: 8px 18px;
}

._text__container {
  padding: 8px 18px;
  text-align: center;
}

.settingsBox > div:not(:last-child) {
  margin-bottom: 8px;
}

.iconPicker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  padding: 15px;
}

.iconPickerButton {
  border-radius: 4px;
  border: 1px solid var(--bloobirds);
}

.cellCenter {
  display: flex;
  justify-content: center;
}

.cellRight {
  margin: auto 0 auto auto;
  min-width: 140px;
}
.checkboxContainer > div {
  width: 100%;
  display: flex;
  justify-content: right;
}

.checkboxContainer > div {
  min-width: 0;
}

.taskFieldsModal_content {
  padding: 16px 24px;
  min-height: 400px;
}

.taskFieldsSelect_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.taskFieldsSelect_noFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.taskFieldsModal_text_bold {
  margin-bottom: 8px;
}
.taskFieldsModal_text {
  font-size: 12px;
}

.taskFieldsModal_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.taskFieldCard {
  color: var(--black);
  background-color: var(--white);
  font-size: 14px;
  border: 1px solid var(--verySoftPeanut);
  margin-top: 8px;
  cursor: default !important;
}

.taskFieldCard_dragIcon {
  cursor: grab;
}

.taskFieldCard_content {
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}
.taskFieldCard_contentLeft {
  display: flex;
  min-height: 40px;
  gap: 13px;
  align-items: center;
  padding-left: 5px;
}

.taskFieldCard_contentLeft > p {
  font-size: 12px !important;
}

.taskFieldCard_contentRight {
  display: flex;
  gap: 16px;
  align-items: center;
}

.taskFieldModal_optionsWrapper {
  width: 294px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.customTaskFields {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.taskFieldsCounter {
  cursor: pointer;
}

.taskFieldCard_noRequired > svg > path {
  fill: none !important;
  stroke: var(--bloobirds);
  stroke-width: 1;
}

.delete_checkbox {
  margin-top: 8px;
}

.taskNameDisabled {
  padding: 0px 8px;
}
