/* Card */

/* Card Left */
._icons {
  flex-shrink: 0;
  margin-right: 9px;
}

._icons > svg {
  margin-right: 2px;
}

._title {
  flex-shrink: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

._bobject_name {
  flex-shrink: 1;
  font-size: 14px;
  min-width: 0;
  display: flex;
  align-items: flex-end;
}

._separator {
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background-color: var(--softPeanut);
}

._country {
  margin-right: 8px;
  flex-shrink: 0;
}

/* Card Right */
._mr_rating,
._status,
._date,
._overdue {
  font-size: 13px;
  margin-left: 8px;
  flex-shrink: 0;
}

._date {
  margin-left: 20px;
}
/* END - Card */

/* Content */
._status_wrapper {
  margin-left: 8px;
  margin-right: 16px;
  text-align: left;
  flex-shrink: 0;
}

._stats_title > svg {
  margin-right: 4px;
}

.name_container {
  font-size: 13px;
  flex-shrink: 1;
  min-width: 0;
}

._text_wrapper {
  font-size: 13px;
  flex-shrink: 0;
  margin-right: 12px;
}

._target_market_wrapper {
  font-size: 13px;
  flex-shrink: 0;
  margin-right: 8px;
}

._number_leads_wrapper {
  font-size: 13px;
  margin-right: 8px;
  flex-shrink: 0;
}

._filters__title {
  margin-right: 12px;
}

._icon_wrapper {
  margin-right: 8px;
}

._clear_wrapper {
  width: 85px;
  display: flex;
}

._clear_wrapper > button {
  padding-bottom: 0;
  padding-top: 0;
}

._list_wrapper {
  animation: fade-in 250ms ease-in-out forwards;
  animation-delay: 200ms;
}

._check_wrapper > div > span {
  margin-right: 0;
}

._select_all_wrapper {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._message {
  background-color: #ebf0f7;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

._button_wrapper {
  margin-left: 4px;
  display: inline;
}

._link:hover {
  cursor: pointer;
}

._hidden {
  visibility: hidden;
  height: 0;
}

._list_container {
  margin-top: 30px;
}

._assigned_circle {
  display: flex;
  align-items: center;
  margin-right: 8px;
  flex-shrink: 0;
}

@media screen and (min-width: 1241px) {
  ._filter_wrapper > div > div {
    width: 119px;
  }
}

@media screen and (min-width: 1086px) and (max-width: 1145px) {
  ._filter_wrapper > div > div {
    width: 88px;
  }
}

@media screen and (min-width: 1079px) and (max-width: 1085px) {
  ._filter_wrapper > div > div {
    width: 85px;
  }
}

@media screen and (max-width: 1078px) {
  ._filter_wrapper > div > div {
    width: 75px;
  }

  ._text_wrapper {
    margin-right: 12px;
  }
}

@media (max-width: 1150px) {
  ._s_hidden {
    display: none;
  }
}

@media (max-width: 1550px) {
  ._m_hidden {
    display: none;
  }
}

@media (max-width: 1700px) {
  ._l_hidden {
    display: none;
  }
}
