.assigneeList {
  width: 212px;
  margin-right: 20px;
  overflow-y: scroll;
  height: calc(100vh - 267px);
}

.subTitle {
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: 0.8px;
  color: var(--softPeanut);
}
