.container {

}

.info_container {
  display: flex;
  margin: 16px;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  min-width: 0;
  max-width: 70%;
}

.info > * {
  margin-right: 4px;
}

.circular_badge {
  flex-shrink: 0;
}

.content_container {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
