.container {
  border: 1px solid var(--softPurple);
  display: flex;
  flex-direction: column;
  margin: 8px 24px 24px 24px;
  background-color: var(--verySoftPurple);;
  transition: background-color 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(25, 145, 255, 0.0843);
  border-radius: 4px;
}

.containerSeen {
  margin: 24px;
}

.leftIcons_container {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.cardText {
  display: flex;
  position: relative;
  padding: 16px 16px 8px 8px;
  white-space: break-spaces;
  font-weight: bold;
  max-width: 100%;
}

.cardText > svg {
  margin-right: 10px;
}

.cardText > p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.templateTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 90%;
}

.shortcutContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
}

.shortcut {
  background: var(--lightestPurple);
  color: var(--purple);
  border: 1px solid var(--lightPurple);
  padding: 2px 4px;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

._footer_section {
  display: flex;
  align-items: center;
  gap: 8px;
}
