.headerLeftcontainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cardRow {
  height: 60px;
}

.cardItem {
  padding: 0;
}

.display {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.display > p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

._title__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

._modal__content {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  padding: 48px;
  background-color: var(--white);
  gap: 36px;
}

._modal__content > main > div {
  overflow-x: hidden;
}

._modal__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

._item_card {
  user-select: none;
  padding: 8px;
  margin: 0 0 8px 0;
  background-color: var(--white);
  border: 1px solid var(--verySoftPeanut);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  position: static;
}

._item_card > ._item_handler {
  flex-shrink: 0;
  margin-right: 16px;
}

._item_card > ._item_delete {
  flex-shrink: 0;
}

._item_wrapper {
  display: flex;
  width: 100%;
  padding-left: 4px;
  align-items: center;
}

._item_wrapper > div {
  margin-right: 8px;
}

._item_list {
  max-height: 350px;
  overflow-y: auto;
}

.previewTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.previewTitle > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.rightSide {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightSide > button {
  padding: 3px 6px;
}

.previewBody {
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.previewCard {
  padding: 8px 16px;
  border: 1px solid var(--verySoftPeanut);
  border-radius: 4px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  max-height: 430px;
  overflow-y: auto;
}

.valuesToShow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.searchInfo {
  padding: 4px 8px;
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px;
  gap: 16px;
  margin: 8px 16px 20px 16px;
}

.description {
  width: 400px;
}

.circleBackgroundIcon {
  background-color: var(--veryLightPeanut);
  border-radius: 50%;
  padding: 16px;
}

.errorCircleBackgroundIcon {
  background-color: #ffb2c2;
  border-radius: 50%;
  padding: 16px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid transparent; /* color del borde del loader y margen entre el borde y el fondo */
  border-top: 4px solid #3498db; /* color del borde superior del loader (puede ser diferente para dar un efecto de gradiente) */
  border-radius: 50%;
  width: 42px;
  height: 42px;
  animation: rotate 1s linear infinite;
}

.loaderMini {
  border: 1px solid transparent; /* color del borde del loader y margen entre el borde y el fondo */
  border-top: 1px solid #3498db; /* color del borde superior del loader (puede ser diferente para dar un efecto de gradiente) */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: rotate 1s linear infinite;
}

.confirmCloseModalContent {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.previewHelper {
  display: flex;
  gap: 4px;
  align-items: center;
}
