._separator {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 12px;
}

._icons_container {
  display: flex;
  align-self: center;
  min-width: 140px;
}

._card_container > div {
  display: flex;
  padding: 0 24px !important;
  height: 72px;
}

._card_content_header {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

._cadence_step_statistic {
  flex-direction: column;
  margin-right: 12px;
}

._more_options {
  margin-top: 12px;
}

._card_content_block {
  display: block;
  align-content: center;
}

._attemps__list__container {
  min-width: 800px;
}

.description {
  margin-top: 2px;
}

.step_tag {
  padding: 2px 8px;
  background-color: #f9f8fb;
  color: var(--softBloobirds);
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
}

.step_tag_error {
  background-color: var(--lightestMeeting);
  color: var(--softTomato);
}

.step_tag_error {
  background-color: var(--lightestMeeting);
  color: var(--softTomato);
}
