._list_container {
  margin: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 684px;
}

._list_header {
  display: flex;
  flex-direction: row;
  margin: 42px 24px 24px 24px;
  justify-content: space-between;
}

._list_card {
  margin: 8px 0;
  background-color: white;
  display: flex;
  flex-direction: row;
}

._start_icon {
  margin: 0 4px;
}

._card__container {
  margin: 4px auto;
}

._card__container > div > div > div[class^="CardBody"] {
  flex-shrink: 0;
}

._card__container > div > div > div[class^="CardRight"] {
  overflow: hidden;
  flex-shrink: 1;
}

.linkText{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
