.noResultsContents {
  box-sizing: border-box;
  padding: 150px 227px 150px 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.noResultsImg {
  margin-bottom: 20px;
}

.nameInput {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.keysContainer {
  margin-bottom: 24px;
}

.skeletonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeletonContainer > * {
  margin-bottom: 8px;
}
