.indicator {
  position: absolute;
  width: 2px;
  height: 100%;
  background: #464f57;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  top: 0;
}

.indicatorInfo {
  position: absolute;
  top: -5px;
  left: -16px;
  background: #464f57;
  pointer-events: none;
  padding: 2px 4px;
  border-radius: 4px;
}
