._discovery_wrapper {
    z-index: 1;
    position: relative;
    margin-left: 12px;
}

._image {
    margin-bottom: -42px;
}

._image_collage {
    width: 250px;
}

._image_collage > img:first-child {
    position: absolute;
    right: 20px;
    top: 40px;
    z-index:1 ;
}

._image_collage > img:last-child {
    position: absolute;
    left: 20px;
    bottom: 150px;
    z-index: 1;
}

._primary_button {
    border-color: var(--white);
}