.backgroundWhite {
  background: var(--white);
  width: 100%;
  height: 480px;
  display: block;
}

.backgroundSoftPurple {
  background: var(--verySoftPurple);
  width: 100%;
  height: 480px;
  display: block;
}

.subtitleContent {
  margin: 24px 32px 16px 32px;
}

.subtitleText {
  line-height: 20px;
}

.titleContent {
  margin: 16px 32px;
}

.descriptionContent {
  margin: 16px 32px;
}

.descriptionText {
  font-size: 13px;
  line-height: 20px;
}

.svgContent {
  display: flex;
  justify-content: center;
  margin: 22px 32px 0px;
}

.container {
  margin: 56px 125px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.columnBtn {
  composes: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.btnFinish {
  width: 340px;
  justify-content: center;
  align-items: center;
}

.text {
  line-height: 20px;
}

.smallSelect {
  width: 192px;
  height: 30px;
}

.smallSelect > fieldset {
  min-height: 30px;
}

.smallSelect legend {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.smallSelect input {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.link {
  color: var(--bloobirds);
  cursor: pointer;
}

.callsInOnePlaceImageComposite{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.callsInOnePlaceImageCompositeImageColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin-top: -32px;
}

.connectionsContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.connectionsCard > div:first-child{
  margin-right: 16px;
}

.connectionsCard{
  width: 410px !important;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--lightPeanut);
  border-radius: 4px;
  padding: 12px 20px;
  justify-content: space-between;
  margin: 0 auto;
}

.connectionsCardInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skipButton {
  position: absolute;
  top: 432px;
  width: 100px;
}
